.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

html,
body,
.ag-lotus-block {
  height: 100%;
}

body {
  background-color: #191919;
}

.ag-lotus-block {
  overflow-x: hidden;

  position: relative;
}
.ag-lotus_box {
  height: 610px;
  width: 1110px;
  background: -webkit-radial-gradient(50% 50%, 50% 50%, #FFB800 0%, rgba(255, 216, 80, 0.38) 40.62%, rgba(255, 214, 69, 0.1) 82.29%, rgba(255, 230, 142, 0) 100%);
  background: -moz-radial-gradient(50% 50%, 50% 50%, #FFB800 0%, rgba(255, 216, 80, 0.38) 40.62%, rgba(255, 214, 69, 0.1) 82.29%, rgba(255, 230, 142, 0) 100%);
  background: -o-radial-gradient(50% 50%, 50% 50%, #FFB800 0%, rgba(255, 216, 80, 0.38) 40.62%, rgba(255, 214, 69, 0.1) 82.29%, rgba(255, 230, 142, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, #FFB800 0%, rgba(255, 216, 80, 0.38) 40.62%, rgba(255, 214, 69, 0.1) 82.29%, rgba(255, 230, 142, 0) 100%);

  overflow: hidden;

  z-index: 100;
  position: absolute;
  right: -10%;
  bottom: 0;

}
.ag-lotus_sheets {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/lotus/images/sheets.png);
  background-repeat: no-repeat;

  z-index: 5;
  position: absolute;
  bottom: -50px;
}

.ag-lotus_sheet-1,
.ag-lotus_sheet-6 {
  height: 392px;
  width: 559px;
}
.ag-lotus_sheet-2,
.ag-lotus_sheet-7 {
  height: 308px;
  width: 637px;
}
.ag-lotus_sheet-3,
.ag-lotus_sheet-5 {
  height: 618px;
  width: 327px;
}
.ag-lotus_sheet-4,
.ag-lotus_sheet-8 {
  height: 509px;
  width: 450px;
}

.ag-lotus_sheet-1 {
  margin: 0 -40px 0 0;
  background-position: 0 0;

  z-index: 1;
  right: 50%;

  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;

  -webkit-animation: an-sheet-1 5s linear infinite;
  -moz-animation: an-sheet-1 5s linear infinite;
  -o-animation: an-sheet-1 5s linear infinite;
  animation: an-sheet-1 5s linear infinite;
}
.ag-lotus_sheet-2 {
  margin: 0 -82px 0 0;
  background-position: -568px 0;

  z-index: 2;
  right: 50%;

  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;

  -webkit-animation: an-sheet-2 5s linear infinite;
  -moz-animation: an-sheet-2 5s linear infinite;
  -o-animation: an-sheet-2 5s linear infinite;
  animation: an-sheet-2 5s linear infinite;
}
.ag-lotus_sheet-3 {
  margin: 0 -50px 0 0;
  background-position: 0 -424px;

  z-index: 2;
  right: 50%;

  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;

  -webkit-animation: an-sheet-3 5s linear infinite;
  -moz-animation: an-sheet-3 5s linear infinite;
  -o-animation: an-sheet-3 5s linear infinite;
  animation: an-sheet-3 5s linear infinite;
}
.ag-lotus_sheet-4 {
  margin: 0 -32px 0 0;
  background-position: -337px -424px;

  z-index: 3;
  right: 50%;

  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;

  -webkit-animation: an-sheet-4 5s linear infinite;
  -moz-animation: an-sheet-4 5s linear infinite;
  -o-animation: an-sheet-4 5s linear infinite;
  animation: an-sheet-4 5s linear infinite;
}
.ag-lotus_sheet-5 {
  margin: 0 0 0 -88px;
  background-position: -797px -424px;

  z-index: 2;
  left: 50%;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;

  -webkit-animation: an-sheet-5 5s linear infinite;
  -moz-animation: an-sheet-5 5s linear infinite;
  -o-animation: an-sheet-5 5s linear infinite;
  animation: an-sheet-5 5s linear infinite;
}
.ag-lotus_sheet-6 {
  margin: 0 0 0 -53px;
  background-position: -1216px 0;

  z-index: 1;
  left: 50%;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;

  -webkit-animation: an-sheet-6 5s linear infinite;
  -moz-animation: an-sheet-6 5s linear infinite;
  -o-animation: an-sheet-6 5s linear infinite;
  animation: an-sheet-6 5s linear infinite;
}
.ag-lotus_sheet-7 {
  margin: 0 0 0 -120px;
  background-position: -1785px 0;

  z-index: 2;
  left: 50%;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;

  -webkit-animation: an-sheet-7 5s linear infinite;
  -moz-animation: an-sheet-7 5s linear infinite;
  -o-animation: an-sheet-7 5s linear infinite;
  animation: an-sheet-7 5s linear infinite;
}
.ag-lotus_sheet-8 {
  margin: 0 0 0 -50px;
  background-position: -1134px -424px;

  z-index: 3;
  left: 50%;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;

  -webkit-animation: an-sheet-8 5s linear infinite;
  -moz-animation: an-sheet-8 5s linear infinite;
  -o-animation: an-sheet-8 5s linear infinite;
  animation: an-sheet-8 5s linear infinite;
}
.ag-lotus_sheet-9 {
  height: 655px;
  width: 290px;
  margin: 0 0 0 -164px;
  background-position: -1594px -424px;

  z-index: 9;
  left: 50%;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-animation: an-sheet-center 5s linear infinite;
  -moz-animation: an-sheet-center 5s linear infinite;
  -o-animation: an-sheet-center 5s linear infinite;
  animation: an-sheet-center 5s linear infinite;
}

@-webkit-keyframes an-sheet-1 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(.78deg);
    transform: rotate(.78deg);
  }
}
@-moz-keyframes an-sheet-1 {
  0%, 40%, 100% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -moz-transform: rotate(.78deg);
    transform: rotate(.78deg);
  }
}
@-o-keyframes an-sheet-1 {
  0%, 40%, 100% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -o-transform: rotate(.78deg);
    transform: rotate(.78deg);
  }
}
@keyframes an-sheet-1 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(.78deg);
    -moz-transform: rotate(.78deg);
    -o-transform: rotate(.78deg);
    transform: rotate(.78deg);
  }
}

@-webkit-keyframes an-sheet-2 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(1.36deg);
    transform: rotate(1.36deg);
  }
}
@-moz-keyframes an-sheet-2 {
  0%, 40%, 100% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -moz-transform: rotate(1.36deg);
    transform: rotate(1.36deg);
  }
}
@-o-keyframes an-sheet-2 {
  0%, 40%, 100% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -o-transform: rotate(1.36deg);
    transform: rotate(1.36deg);
  }
}
@keyframes an-sheet-2 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(1.36deg);
    -moz-transform: rotate(1.36deg);
    -o-transform: rotate(1.36deg);
    transform: rotate(1.36deg);
  }
}

@-webkit-keyframes an-sheet-3 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(.46deg);
    transform: rotate(.46deg);
  }
}
@-moz-keyframes an-sheet-3 {
  0%, 40%, 100% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -moz-transform: rotate(.46deg);
    transform: rotate(.46deg);
  }
}
@-o-keyframes an-sheet-3 {
  0%, 40%, 100% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -o-transform: rotate(.46deg);
    transform: rotate(.46deg);
  }
}
@keyframes an-sheet-3 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(.46deg);
    -moz-transform: rotate(.46deg);
    -o-transform: rotate(.46deg);
    transform: rotate(.46deg);
  }
}

@-webkit-keyframes an-sheet-4 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(.55deg);
    transform: rotate(.55deg);
  }
}
@-moz-keyframes an-sheet-4 {
  0%, 40%, 100% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -moz-transform: rotate(.55deg);
    transform: rotate(.55deg);
  }
}
@-o-keyframes an-sheet-4 {
  0%, 40%, 100% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -o-transform: rotate(.55deg);
    transform: rotate(.55deg);
  }
}
@keyframes an-sheet-4 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(.55deg);
    -moz-transform: rotate(.55deg);
    -o-transform: rotate(.55deg);
    transform: rotate(.55deg);
  }
}

@-webkit-keyframes an-sheet-5 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(-.78deg);
    transform: rotate(-.78deg);
  }
}
@-moz-keyframes an-sheet-5 {
  0%, 40%, 100% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -moz-transform: rotate(-.78deg);
    transform: rotate(-.78deg);
  }
}
@-o-keyframes an-sheet-5 {
  0%, 40%, 100% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -o-transform: rotate(-.78deg);
    transform: rotate(-.78deg);
  }
}
@keyframes an-sheet-5 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(-.78deg);
    -moz-transform: rotate(-.78deg);
    -o-transform: rotate(-.78deg);
    transform: rotate(-.78deg);
  }
}

@-webkit-keyframes an-sheet-6 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(-1.36deg);
    transform: rotate(-1.36deg);
  }
}
@-moz-keyframes an-sheet-6 {
  0%, 40%, 100% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -moz-transform: rotate(-1.36deg);
    transform: rotate(-1.36deg);
  }
}
@-o-keyframes an-sheet-6 {
  0%, 40%, 100% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -o-transform: rotate(-1.36deg);
    transform: rotate(-1.36deg);
  }
}
@keyframes an-sheet-6 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(-1.36deg);
    -moz-transform: rotate(-1.36deg);
    -o-transform: rotate(-1.36deg);
    transform: rotate(-1.36deg);
  }
}

@-webkit-keyframes an-sheet-7 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(-.46deg);
    transform: rotate(-.46deg);
  }
}
@-moz-keyframes an-sheet-7 {
  0%, 40%, 100% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -moz-transform: rotate(-.46deg);
    transform: rotate(-.46deg);
  }
}
@-o-keyframes an-sheet-7 {
  0%, 40%, 100% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -o-transform: rotate(-.46deg);
    transform: rotate(-.46deg);
  }
}
@keyframes an-sheet-7 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(-.46deg);
    -moz-transform: rotate(-.46deg);
    -o-transform: rotate(-.46deg);
    transform: rotate(-.46deg);
  }
}

@-webkit-keyframes an-sheet-8 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(-.55deg);
    transform: rotate(-.55deg);
  }
}
@-moz-keyframes an-sheet-8 {
  0%, 40%, 100% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -moz-transform: rotate(-.55deg);
    transform: rotate(-.55deg);
  }
}
@-o-keyframes an-sheet-8 {
  0%, 40%, 100% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -o-transform: rotate(-.55deg);
    transform: rotate(-.55deg);
  }
}
@keyframes an-sheet-8 {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(-.55deg);
    -moz-transform: rotate(-.55deg);
    -o-transform: rotate(-.55deg);
    transform: rotate(-.55deg);
  }
}

@-webkit-keyframes an-sheet-center {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(.36deg);
    transform: rotate(.36deg);
  }
}
@-moz-keyframes an-sheet-center {
  0%, 40%, 100% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -moz-transform: rotate(.36deg);
    transform: rotate(.36deg);
  }
}
@-o-keyframes an-sheet-center {
  0%, 40%, 100% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -o-transform: rotate(.36deg);
    transform: rotate(.36deg);
  }
}
@keyframes an-sheet-center {
  0%, 40%, 100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(.36deg);
    -moz-transform: rotate(.36deg);
    -o-transform: rotate(.36deg);
    transform: rotate(.36deg);
  }
}

@media only screen and (max-width: 1199px) {
  /* lotus */
  .ag-lotus_box {
    height: 520px;
    width: 920px;
  }
  .ag-lotus_sheets {
    background-size: auto 805px;
  }
  .ag-lotus_sheet-1,
  .ag-lotus_sheet-6 {
    height: 294px;
    width: 420px;
  }
  .ag-lotus_sheet-2,
  .ag-lotus_sheet-7 {
    height: 231px;
    width: 478px;
  }
  .ag-lotus_sheet-3,
  .ag-lotus_sheet-5 {
    height: 464px;
    width: 246px;
  }
  .ag-lotus_sheet-4,
  .ag-lotus_sheet-8 {
    height: 382px;
    width: 338px;
  }

  .ag-lotus_sheet-1 {
    margin: 0 -38px 0 0;
    background-position: 0 0;
  }
  .ag-lotus_sheet-2 {
    margin: 0 -90px 0 0;
    background-position: -423px 0;
  }
  .ag-lotus_sheet-3 {
    margin: 0 -57px 0 0;
    background-position: 0 -315px;
  }
  .ag-lotus_sheet-4 {
    margin: 0 -38px 0 0;
    background-position: -251px -315px;
  }
  .ag-lotus_sheet-5 {
    margin: 0 0 0 -57px;
    background-position: -594px -315px;
  }
  .ag-lotus_sheet-6 {
    margin: 0 0 0 -40px;
    background-position: -906px 0;
  }
  .ag-lotus_sheet-7 {
    margin: 0 0 0 -90px;
    background-position: -1331px 0;
  }
  .ag-lotus_sheet-8 {
    margin: 0 0 0 -38px;
    background-position: -844px -315px;
  }
  .ag-lotus_sheet-9 {
    height: 492px;
    width: 218px;
    margin: 0 0 0 -109px;
    background-position: -1189px -315px;
  }
  .ag-lotus_sheet-1,
  .ag-lotus_sheet-2,
  .ag-lotus_sheet-3,
  .ag-lotus_sheet-4,
  .ag-lotus_sheet-5,
  .ag-lotus_sheet-6,
  .ag-lotus_sheet-7,
  .ag-lotus_sheet-8,
  .ag-lotus_sheet-9 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
  }
  /* /lotus */
}

@media only screen and (max-width: 1161px) {
  .ag-lotus_box {
    height: 340px;
    width: 560px;
  }
  .ag-lotus_sheets {
    background-size: auto 535px;

    bottom: -30px;
  }
  .ag-lotus_sheet-1,
  .ag-lotus_sheet-6 {
    height: 196px;
    width: 280px;
  }
  .ag-lotus_sheet-2,
  .ag-lotus_sheet-7 {
    height: 154px;
    width: 319px;
  }
  .ag-lotus_sheet-3,
  .ag-lotus_sheet-5 {
    height: 309px;
    width: 164px;
  }
  .ag-lotus_sheet-4,
  .ag-lotus_sheet-8 {
    height: 255px;
    width: 225px;
  }

  .ag-lotus_sheet-1 {
    margin: 0 -20px 0 0;
    background-position: 0 0;
  }
  .ag-lotus_sheet-2 {
    margin: 0 -41px 0 0;
    background-position: -280px 0;
  }
  .ag-lotus_sheet-3 {
    margin: 0 -25px 0 0;
    background-position: 0 -208px;
  }
  .ag-lotus_sheet-4 {
    margin: 0 -16px 0 0;
    background-position: -166px -208px;
  }
  .ag-lotus_sheet-5 {
    margin: 0 0 0 -44px;
    background-position: -394px -208px;
  }
  .ag-lotus_sheet-6 {
    margin: 0 0 0 -27px;
    background-position: -601px 0;
  }
  .ag-lotus_sheet-7 {
    margin: 0 0 0 -60px;
    background-position: -883px 0;
  }
  .ag-lotus_sheet-8 {
    margin: 0 0 0 -25px;
    background-position: -560px -208px;
  }
  .ag-lotus_sheet-9 {
    height: 328px;
    width: 145px;
    margin: 0 0 0 -82px;
    background-position: -789px -208px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {
  .ag-lotus_box {
    height: 230px;
    width: 420px;
    margin: 0 0 0 -210px;

    left: 50%;
    right: auto;
  }
  .ag-lotus_sheets {
    background-size: auto 360px;

    bottom: -10px;
  }
  .ag-lotus_sheet-1,
  .ag-lotus_sheet-6 {
    height: 131px;
    width: 187px;
  }
  .ag-lotus_sheet-2,
  .ag-lotus_sheet-7 {
    height: 103px;
    width: 216px;
  }
  .ag-lotus_sheet-3,
  .ag-lotus_sheet-5 {
    height: 206px;
    width: 110px;
  }
  .ag-lotus_sheet-4,
  .ag-lotus_sheet-8 {
    height: 170px;
    width: 154px;
  }

  .ag-lotus_sheet-1 {
    margin: 0 -14px 0 0;
    background-position: 0 0;
  }
  .ag-lotus_sheet-2 {
    margin: 0 -14px 0 0;
    background-position: -188px 0;
  }
  .ag-lotus_sheet-3 {
    margin: 0 -17px 0 0;
    background-position: 0 -141px;
  }
  .ag-lotus_sheet-4 {
    margin: 0 -11px 0 0;
    background-position: -111px -141px;
  }
  .ag-lotus_sheet-5 {
    margin: 0 0 0 -30px;
    background-position: -265px -141px;
  }
  .ag-lotus_sheet-6 {
    margin: 0 0 0 -18px;
    background-position: -405px 0;
  }
  .ag-lotus_sheet-7 {
    margin: 0 0 0 -40px;
    background-position: -594px 0;
  }
  .ag-lotus_sheet-8 {
    margin: 0 0 0 -17px;
    background-position: -376px -141px;
  }
  .ag-lotus_sheet-9 {
    height: 218px;
    width: 100px;
    margin: 0 0 0 -55px;
    background-position: -530px -141px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
