body {
  background-color: #000;
}
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

/* blink-lamp */
.ag-lamps_box {
  min-height: 379px;
  width: 100%;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-flashing/images/lamps.png) no-repeat scroll 50% 0;

  overflow: hidden;

  position: relative;
}
.ag-lamps_lamp {
  height: 7.0625em;
  width: 7.0625em;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-flashing/images/light-yellow.png) no-repeat center / contain;

  opacity: 1;

  position: absolute;
  top: 0;
  left: 50%;

  will-change: opacity;

  -webkit-animation: an-blink-lamp 3s 0.2s linear infinite;
  -moz-animation: an-blink-lamp 3s 0.2s linear infinite;
  -o-animation: an-blink-lamp 3s 0.2s linear infinite;
  animation: an-blink-lamp 3s 0.2s linear infinite;
}
.ag-lamps_lamp:nth-child(1),
.ag-lamps_lamp:nth-child(2) {
  height: 5em;
  width: 5em;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-flashing/images/light-blue.png) no-repeat center / contain;
}
.ag-lamps_lamp:nth-child(1) {
  -webkit-transform: translate(-17.3em, 4.125em);
  -moz-transform: translate(-17.3em, 4.125em);
  -o-transform: translate(-17.3em, 4.125em);
  transform: translate(-17.3em, 4.125em);
}
.ag-lamps_lamp:nth-child(2) {
  -webkit-transform: translate(11.75em, 4em);
  -moz-transform: translate(11.75em, 4em);
  -o-transform: translate(11.75em, 4em);
  transform: translate(11.75em, 4em);
}
.ag-lamps_lamp:nth-child(3) {
  -webkit-transform: translate(43.75em, 8em);
  -moz-transform: translate(43.75em, 8em);
  -o-transform: translate(43.75em, 8em);
  transform: translate(43.75em, 8em);

  -webkit-animation-duration: 3.2s;
  -moz-animation-duration: 3.2s;
  -o-animation-duration: 3.2s;
  animation-duration: 3.2s;
}
.ag-lamps_lamp:nth-child(4) {
  -webkit-transform: translate(53.2em, 15.5em);
  -moz-transform: translate(53.2em, 15.5em);
  -o-transform: translate(53.2em, 15.5em);
  transform: translate(53.2em, 15.5em);

  -webkit-animation-duration: 3.4s;
  -moz-animation-duration: 3.4s;
  -o-animation-duration: 3.4s;
  animation-duration: 3.4s;

  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.ag-lamps_lamp:nth-child(5) {
  -webkit-transform: translate(47em, 21em);
  -moz-transform: translate(47em, 21em);
  -o-transform: translate(47em, 21em);
  transform: translate(47em, 21em);

  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}
.ag-lamps_lamp:nth-child(6) {
  -webkit-transform: translate(-49.25em, 5.5em);
  -moz-transform: translate(-49.25em, 5.5em);
  -o-transform: translate(-49.25em, 5.5em);
  transform: translate(-49.25em, 5.5em);

  -webkit-animation-duration: 3.3s;
  -moz-animation-duration: 3.3s;
  -o-animation-duration: 3.3s;
  animation-duration: 3.3s;
}
.ag-lamps_lamp:nth-child(7) {
  -webkit-transform: translate(-60.25em, 10.5em);
  -moz-transform: translate(-60.25em, 10.5em);
  -o-transform: translate(-60.25em, 10.5em);
  transform: translate(-60.25em, 10.5em);

  -webkit-animation-duration: 3.6s;
  -moz-animation-duration: 3.6s;
  -o-animation-duration: 3.6s;
  animation-duration: 3.6s;
}
.ag-lamps_lamp:nth-child(8) {
  -webkit-transform: translate(-54.5em, 19em);
  -moz-transform: translate(-54.5em, 19em);
  -o-transform: translate(-54.5em, 19em);
  transform: translate(-54.5em, 19em);

  -webkit-animation-duration: 2.8s;
  -moz-animation-duration: 2.8s;
  -o-animation-duration: 2.8s;
  animation-duration: 2.8s;
}

@-webkit-keyframes an-blink-lamp {
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes an-blink-lamp {
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes an-blink-lamp {
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes an-blink-lamp {
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/* /blink-lamp */

/* bjs-lamp */
.ag-bjs-lamp {
  display: table;
  height: 319px;
  width: 631px;
  margin: 0 auto;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-flashing/images/bjs-lamps.png);

  -webkit-transform: translate(-6.5625em, -4.375em);
  -moz-transform: translate(-6.5625em, -4.375em);
  -o-transform: translate(-6.5625em, -4.375em);
  transform: translate(-6.5625em, -4.375em);

  position: relative;
}
.ag-bjs-lamp:nth-child(2) {
  -webkit-transform: scale(-1, 1) translate(-3.125em, -4.375em);
  -moz-transform: scale(-1, 1) translate(-3.125em, -4.375em);
  -o-transform: scale(-1, 1) translate(-3.125em, -4.375em);
  transform: scale(-1, 1) translate(-3.125em, -4.375em);
}
.ag-bjs-lamp::before {
  content: "";
  height: 319px;
  width: 631px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-flashing/images/bjs-lamps.png);

  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: an-blink-lamps 3s 0.2s ease-in-out infinite;
  -moz-animation: an-blink-lamps 3s 0.2s ease-in-out infinite;
  -o-animation: an-blink-lamps 3s 0.2s ease-in-out infinite;
  animation: an-blink-lamps 3s 0.2s ease-in-out infinite;
}
@-webkit-keyframes an-blink-lamps {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes an-blink-lamps {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes an-blink-lamps {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes an-blink-lamps {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* /bjs-lamp */

/* light */
.ag-lights_list {
  height: 400px;

  position: relative;
}
.ag-light_item {
  height: 2.55em;
  width: 2.55em;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-flashing/images/light.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;

  opacity: .3;

  position: absolute;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;

  will-change: opacity;
}
.ag-light_item:nth-of-type(1) {
  left: 0;
  top: 0;
}
.ag-light_item:nth-of-type(2) {
  left: 1em;
  top: 4.5em;
}
.ag-light_item:nth-of-type(3) {
  left: 1.5em;
  top: 10em;
}
.ag-light_item:nth-of-type(4) {
  left: .8em;
  top: 13.6em;
}
.ag-light_item:nth-of-type(5) {
  left: .9em;
  top: 20.5em;
}
.ag-light_item:nth-of-type(6) {
  left: .6em;
  top: 24.8em;
}
.ag-light_item:nth-of-type(7) {
  right: 0;
  top: 1.1em;
}
.ag-light_item:nth-of-type(8) {
  right: -.5em;
  top: 5.1em;
}
.ag-light_item:nth-of-type(9) {
  right: -.5em;
  top: 8.8em;
}
.ag-light_item:nth-of-type(10) {
  right: .2em;
  top: 13.7em;
}
.ag-light_item:nth-of-type(11) {
  right: .5em;
  top: 17.9em;
}
.ag-light_item:nth-of-type(12) {
  right: 0;
  top: 21.5em;
}
.ag-light_item:nth-of-type(13) {
  right: -.5em;
  top: 24.5em;
}
.ag-light_item:nth-of-type(14) {
  right: -.6em;
  top: 26.5em;
}
.ag-light_item:nth-of-type(3n-2) {
  -webkit-animation: an-lighting 3s linear infinite;
  -moz-animation: an-lighting 3s linear infinite;
  -o-animation: an-lighting 3s linear infinite;
  animation: an-lighting 3s linear infinite;
}
.ag-light_item:nth-of-type(3n-1) {
  -webkit-animation: an-lighting 3s linear 1s infinite;
  -moz-animation: an-lighting 3s linear 1s infinite;
  -o-animation: an-lighting 3s linear 1s infinite;
  animation: an-lighting 3s linear 1s infinite;
}
.ag-light_item:nth-of-type(3n) {
  -webkit-animation: an-lighting 3s linear 2s infinite;
  -moz-animation: an-lighting 3s linear 2s infinite;
  -o-animation: an-lighting 3s linear 2s infinite;
  animation: an-lighting 3s linear 2s infinite;
}

@-webkit-keyframes an-lighting {
  0% {
    opacity: .5;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
@-moz-keyframes an-lighting {
  0% {
    opacity: .5;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
@-o-keyframes an-lighting {
  0% {
    opacity: .5;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
@keyframes an-lighting {
  0% {
    opacity: .5;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
/* /light */

/* flashing-lamps v1 */
.ag-flashing_box {
  display: inline-block;
  height: 155px;
  width: 309px;

  position: relative;
}
.ag-flashing_box::before,
.ag-flashing_box::after {
  content: "";

  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  will-change: opacity;
}
.ag-flashing_box::before {
  content: "";
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-flashing/images/lamps-yellow.png);

  -webkit-animation: an-lamps-yellow 1s 0.2s ease-in-out infinite;
  -moz-animation: an-lamps-yellow 1s 0.2s ease-in-out infinite;
  -o-animation: an-lamps-yellow 1s 0.2s ease-in-out infinite;
  animation: an-lamps-yellow 1s 0.2s ease-in-out infinite;
}
.ag-flashing_box::after {
  content: "";
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-flashing/images/lamps-blue.png);

  opacity: 1;

  -webkit-animation: an-lamps-blue 1s 0.2s ease-in-out infinite;
  -moz-animation: an-lamps-blue 1s 0.2s ease-in-out infinite;
  -o-animation: an-lamps-blue 1s 0.2s ease-in-out infinite;
  animation: an-lamps-blue 1s 0.2s ease-in-out infinite;
}
/* /flashing-lamps v1 */

/* flashing-lamps v2 */
.ag-flashing_box-v2 {
  display: inline-block;
  height: 155px;
  width: 309px;

  position: relative;
}
.ag-flashing_box-v2::before,
.ag-flashing_box-v2::after {
  content: "";
  height: 509px;
  width: 281px;

  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  will-change: opacity;
}
.ag-flashing_box-v2::before {
  content: "";
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-flashing/images/lamps-yellow-2.png);

  -webkit-animation: an-lamps-yellow 1s 0.2s ease-in-out infinite;
  -moz-animation: an-lamps-yellow 1s 0.2s ease-in-out infinite;
  -o-animation: an-lamps-yellow 1s 0.2s ease-in-out infinite;
  animation: an-lamps-yellow 1s 0.2s ease-in-out infinite;
}
.ag-flashing_box-v2::after {
  content: "";
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-flashing/images/lamps-blue-2.png);

  opacity: 1;

  -webkit-animation: an-lamps-blue 1s 0.2s ease-in-out infinite;
  -moz-animation: an-lamps-blue 1s 0.2s ease-in-out infinite;
  -o-animation: an-lamps-blue 1s 0.2s ease-in-out infinite;
  animation: an-lamps-blue 1s 0.2s ease-in-out infinite;
}

@-webkit-keyframes an-lamps-yellow {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes an-lamps-yellow {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes an-lamps-yellow {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes an-lamps-yellow {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes an-lamps-blue {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes an-lamps-blue {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes an-lamps-blue {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes an-lamps-blue {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* /flashing-lamps v2 */

/* joker blink */
.ag-joker_box {
  position: relative;
}
.ag-joker_img {
  opacity: 0;

  position: absolute;
  left: 0;
  top: 0;

  -webkit-animation: an-joker-blink 5s ease infinite alternate-reverse;
  -moz-animation: an-joker-blink 4s ease infinite alternate-reverse;
  -o-animation: an-joker-blink 4s ease infinite alternate-reverse;
  animation: an-joker-blink 4s ease infinite alternate-reverse;
}


@-webkit-keyframes an-joker-blink {
  2%, 4%, 7%, 10%, 30%, 32%, 60%, 63%, 65%, 79%, 82%, 85%, 100% {
    opacity: 1;
  }
  0%, 3%, 5%, 9%, 62%, 64%, 80% {
    opacity: 0;
  }
}
@-moz-keyframes an-joker-blink {
  2%, 4%, 7%, 10%, 30%, 32%, 60%, 63%, 65%, 79%, 82%, 85%, 100% {
    opacity: 1;
  }
  0%, 3%, 5%, 9%, 62%, 64%, 80% {
    opacity: 0;
  }
}
@-o-keyframes an-joker-blink {
  2%, 4%, 7%, 10%, 30%, 32%, 60%, 63%, 65%, 79%, 82%, 85%, 100% {
    opacity: 1;
  }
  0%, 3%, 5%, 9%, 62%, 64%, 80% {
    opacity: 0;
  }
}
@keyframes an-joker-blink {
  2%, 4%, 7%, 10%, 30%, 32%, 60%, 63%, 65%, 79%, 82%, 85%, 100% {
    opacity: 1;
  }
  0%, 3%, 5%, 9%, 62%, 64%, 80% {
    opacity: 0;
  }
}

.ag-joker_img-v2 {
  opacity: 0;

  position: absolute;
  left: 0;
  top: 0;

  -webkit-animation: an-joker-light 5s ease infinite alternate-reverse;
  -moz-animation: an-joker-light 4s ease infinite alternate-reverse;
  -o-animation: an-joker-light 4s ease infinite alternate-reverse;
  animation: an-joker-light 4s ease infinite alternate-reverse;
}

@-webkit-keyframes an-joker-light {
  2%, 4%, 7%, 10%, 25%, 33%, 60%, 65%, 70%, 77%, 82%, 85%, 89%, 100% {
    opacity: 1;
  }
  0%, 3%, 5%, 9%, 27%, 36%, 63%, 68%, 80%, 83%, 87% {
    opacity: 0;
  }
}
@-moz-keyframes an-joker-light {
  2%, 4%, 7%, 10%, 25%, 33%, 60%, 65%, 70%, 77%, 82%, 85%, 89%, 100% {
    opacity: 1;
  }
  0%, 3%, 5%, 9%, 27%, 36%, 63%, 68%, 80%, 83%, 87% {
    opacity: 0;
  }
}
@-o-keyframes an-joker-light {
  2%, 4%, 7%, 10%, 25%, 33%, 60%, 65%, 70%, 77%, 82%, 85%, 89%, 100% {
    opacity: 1;
  }
  0%, 3%, 5%, 9%, 27%, 36%, 63%, 68%, 80%, 83%, 87% {
    opacity: 0;
  }
}
@keyframes an-joker-light {
  2%, 4%, 7%, 10%, 25%, 33%, 60%, 65%, 70%, 77%, 82%, 85%, 89%, 100% {
    opacity: 1;
  }
  0%, 3%, 5%, 9%, 27%, 36%, 63%, 68%, 80%, 83%, 87% {
    opacity: 0;
  }
}
/* /joker blink */

/* illumination */
.ag-illumination {
  display: inline-block;
  height: 323px;
  width: 325px;

  position: relative;
}
.ag-illumination:before {
  content: "";

  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-flashing/images/illumination.png) no-repeat;
  background-size: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-animation: an-illumination 2.5s ease infinite;
  -moz-animation: an-illumination 2.5s ease infinite;
  -o-animation: an-illumination 2.5s ease infinite;
  animation: an-illumination 2.5s ease infinite;
}

@-webkit-keyframes an-illumination {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes an-illumination {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes an-illumination {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes an-illumination {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

/* /illumination */
.ag-slots {
  height: 838px;
  width: 740px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-flashing/images/slots.png) no-repeat scroll 0 0;

  position: relative;
}
.ag-slot_illumination {
  position: absolute;
  top: 110px;
}
.ag-slot_illumination-1 {
  position: absolute;
  left: 19%;
}
.ag-slot_illumination-1:before {
  content: "";

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 40px 50px 25px #ff5200;
  -moz-box-shadow: 0 40px 50px 25px #ff5200;
  box-shadow: 0 40px 50px 25px #ff5200;

  -webkit-animation: an-illumination-1 1.5s ease infinite;
  -moz-animation: an-illumination-1 1.5s ease infinite;
  -o-animation: an-illumination-1 1.5s ease infinite;
  animation: an-illumination-1 1.5s ease infinite;
}
.ag-slot_illumination-2 {
  position: absolute;
  left: 50%;
}
.ag-slot_illumination-2:before {
  content: "";

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 4px 40px 50px 25px #ff5200;
  -moz-box-shadow: 4px 40px 50px 25px #ff5200;
  box-shadow: 4px 40px 50px 25px #ff5200;

  -webkit-animation: an-illumination-2 2.5s ease infinite;
  -moz-animation: an-illumination-2 2.5s ease infinite;
  -o-animation: an-illumination-2 2.5s ease infinite;
  animation: an-illumination-2 2.5s ease infinite;
}
.ag-slot_illumination-3 {
  position: absolute;
  left: 81%;
}
.ag-slot_illumination-3:before {
  content: "";

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: -8px 40px 50px 25px #ff5200;
  -moz-box-shadow: -8px 40px 50px 25px #ff5200;
  box-shadow: -8px 40px 50px 25px #ff5200;

  -webkit-animation: an-illumination-3 2s ease infinite;
  -moz-animation: an-illumination-3 2s ease infinite;
  -o-animation: an-illumination-3 2s ease infinite;
  animation: an-illumination-3 2s ease infinite;
}

@-webkit-keyframes an-illumination-1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .3;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes an-illumination-1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .3;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes an-illumination-1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .3;
  }
  to {
    opacity: 1;
  }
}
@keyframes an-illumination-1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .3;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes an-illumination-2 {
  0% {
    opacity: .6;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: .6;
  }
}
@-moz-keyframes an-illumination-2 {
  0% {
    opacity: .6;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: .6;
  }
}
@-o-keyframes an-illumination-2 {
  0% {
    opacity: .6;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: .6;
  }
}
@keyframes an-illumination-2 {
  0% {
    opacity: .6;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: .6;
  }
}

@-webkit-keyframes an-illumination-3 {
  0% {
    opacity: .6;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: .6;
  }
}
@-moz-keyframes an-illumination-3 {
  0% {
    opacity: .6;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: .6;
  }
}
@-o-keyframes an-illumination-3 {
  0% {
    opacity: .6;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: .6;
  }
}
@keyframes an-illumination-3 {
  0% {
    opacity: .6;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: .6;
  }
}
/* /illumination */

/* barricade-blinker */
.ag-barricade-blinker {
  height: 315px;
  width: 347px;
  margin: 50px 0;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-flashing/images/barricade.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

  position: relative;
}
.ag-barricade-blinker_lamp__left {
  height: 43px;
  width: 43px;

  overflow: hidden;

  position: absolute;
  top: 10px;
  left: 44px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ag-barricade-blinker_lamp__left:before {
  content: "";
  height: 42px;
  width: 42px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 252, 252, 0.01)), color-stop(45%, rgba(252, 252, 252, 0.05)), color-stop(49%, rgba(252, 252, 252, 0.07)), color-stop(50%, rgba(252, 252, 252, 0.15)), color-stop(55%, rgba(252, 252, 252, 0.07)), to(rgba(252, 252, 252, 0.01))), -webkit-gradient(linear, left top, right top, from(rgba(252, 252, 252, 0.01)), color-stop(45%, rgba(252, 252, 252, 0.05)), color-stop(49%, rgba(252, 252, 252, 0.07)), color-stop(50%, rgba(252, 252, 252, 0.15)), color-stop(55%, rgba(252, 252, 252, 0.07)), to(rgba(252, 252, 252, 0))), radial-gradient(rgba(252, 252, 252, 0.3) 10%, rgba(252, 252, 252, 0.15) 40%, rgba(252, 252, 252, 0.05));
  background-image: -webkit-linear-gradient(rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0.01)), -webkit-linear-gradient(left, rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0)), -webkit-radial-gradient(rgba(252, 252, 252, 0.3) 10%, rgba(252, 252, 252, 0.15) 40%, rgba(252, 252, 252, 0.05));
  background-image: -moz-linear-gradient(rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0.01)), -moz-linear-gradient(left, rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0)), -moz-radial-gradient(rgba(252, 252, 252, 0.3) 10%, rgba(252, 252, 252, 0.15) 40%, rgba(252, 252, 252, 0.05));
  background-image: -o-linear-gradient(rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0.01)), -o-linear-gradient(left, rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0)), -o-radial-gradient(rgba(252, 252, 252, 0.3) 10%, rgba(252, 252, 252, 0.15) 40%, rgba(252, 252, 252, 0.05));
  background-image: linear-gradient(rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0.01)), linear-gradient(90deg, rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0)), radial-gradient(rgba(252, 252, 252, 0.3) 10%, rgba(252, 252, 252, 0.15) 40%, rgba(252, 252, 252, 0.05));

  position: absolute;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-animation: an-blinker 3s infinite linear;
  -moz-animation: an-blinker 3s infinite linear;
  -o-animation: an-blinker 3s infinite linear;
  animation: an-blinker 3s infinite linear;
}
.ag-barricade-blinker_lamp__right {
  height: 43px;
  width: 43px;

  overflow: hidden;

  position: absolute;
  top: 3px;
  right: 56px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ag-barricade-blinker_lamp__right:before {
  content: "";
  height: 42px;
  width: 42px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 252, 252, 0.01)), color-stop(45%, rgba(252, 252, 252, 0.05)), color-stop(49%, rgba(252, 252, 252, 0.07)), color-stop(50%, rgba(252, 252, 252, 0.15)), color-stop(55%, rgba(252, 252, 252, 0.07)), to(rgba(252, 252, 252, 0.01))), -webkit-gradient(linear, left top, right top, from(rgba(252, 252, 252, 0.01)), color-stop(45%, rgba(252, 252, 252, 0.05)), color-stop(49%, rgba(252, 252, 252, 0.07)), color-stop(50%, rgba(252, 252, 252, 0.15)), color-stop(55%, rgba(252, 252, 252, 0.07)), to(rgba(252, 252, 252, 0))), radial-gradient(rgba(252, 252, 252, 0.3) 10%, rgba(252, 252, 252, 0.15) 40%, rgba(252, 252, 252, 0.05));
  background-image: -webkit-linear-gradient(rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0.01)), -webkit-linear-gradient(left, rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0)), -webkit-radial-gradient(rgba(252, 252, 252, 0.3) 10%, rgba(252, 252, 252, 0.15) 40%, rgba(252, 252, 252, 0.05));
  background-image: -moz-linear-gradient(rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0.01)), -moz-linear-gradient(left, rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0)), -moz-radial-gradient(rgba(252, 252, 252, 0.3) 10%, rgba(252, 252, 252, 0.15) 40%, rgba(252, 252, 252, 0.05));
  background-image: -o-linear-gradient(rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0.01)), -o-linear-gradient(left, rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0)), -o-radial-gradient(rgba(252, 252, 252, 0.3) 10%, rgba(252, 252, 252, 0.15) 40%, rgba(252, 252, 252, 0.05));
  background-image: linear-gradient(rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0.01)), linear-gradient(90deg, rgba(252, 252, 252, 0.01), rgba(252, 252, 252, 0.05) 45%, rgba(252, 252, 252, 0.07) 49%, rgba(252, 252, 252, 0.15) 50%, rgba(252, 252, 252, 0.07) 55%, rgba(252, 252, 252, 0)), radial-gradient(rgba(252, 252, 252, 0.3) 10%, rgba(252, 252, 252, 0.15) 40%, rgba(252, 252, 252, 0.05));

  position: absolute;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-animation: an-blinker 3s infinite linear;
  -moz-animation: an-blinker 3s infinite linear;
  -o-animation: an-blinker 3s infinite linear;
  animation: an-blinker 3s infinite linear;
}

@-webkit-keyframes an-blinker {
  0% {
    opacity:.2;

    right:60px;
  }
  50% {
    opacity:.8;
  }
  to {
    opacity:.2;

    right:-40px;
  }
}
@-moz-keyframes an-blinker {
  0% {
    opacity:.2;

    right:60px;
  }
  50% {
    opacity:.8;
  }
  to {
    opacity:.2;

    right:-40px;
  }
}
@-o-keyframes an-blinker {
  0% {
    opacity:.2;

    right:60px;
  }
  50% {
    opacity:.8;
  }
  to {
    opacity:.2;

    right:-40px;
  }
}
@keyframes an-blinker {
  0% {
    opacity:.2;

    right:60px;
  }
  50% {
    opacity:.8;
  }
  to {
    opacity:.2;

    right:-40px;
  }
}
/* /barricade-blinker */

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
