body {
  background-color: #000;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-filter_row {
  padding: 40px 0;
}
.ag-filter_title {
  padding: 0 0 16px;

  font-weight: 900;
  font-size: 16px;
  color: #FFF;
}
.ag-slider-range_box {
  margin: 0 15px;
  padding: 30px 0 15px;
}
.js-ag-range_num {
  font-weight: 500;
  font-size: 12px;
  color: #FFF;

  position: absolute;
  left: 50%;
  bottom: 22px;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.ui-widget-content {
  background: none;
}
.ui-slider-horizontal {
  height: 2px;
  border: 0 none;
  background-color: #4A4C4B;
}
.ui-slider-horizontal .ui-slider-range {
  background-color: #E4285B;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
  width: 14px;
  height: 14px;
  border: 0 none;
  background-color: #E4285B;

  cursor: pointer;

  -webkit-box-shadow: 0 0 0 10px rgba(228, 40, 91, .3);
  -moz-box-shadow: 0 0 0 10px rgba(228, 40, 91, .3);
  -o-box-shadow: 0 0 0 10px rgba(228, 40, 91, .3);
  box-shadow: 0 0 0 10px rgba(228, 40, 91, .3);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -.4em;
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
