.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.js-ag-parallax-container {
  display: table;
  margin: 100px auto;

  position: relative;
}
.ag-parallax-main-invis {
  max-width: 100%;

  visibility: hidden;
}
.js-ag-parallax-main {
  z-index: 23;

  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  -ms-transform-origin: 50% 50% -20px;
  -o-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.js-ag-parallax-main,
.ag-parallax-parts {
  max-height: 100%;
  max-width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-transition: all .4s cubic-bezier(.06, .475, .39, .99);
  -moz-transition: all .4s cubic-bezier(.06, .475, .39, .99);
  -ms-transition: all .4s cubic-bezier(.06, .475, .39, .99);
  -o-transition: all .4s cubic-bezier(.06, .475, .39, .99);
  transition: all .4s cubic-bezier(.06, .475, .39, .99);
}
.js-ag-parallax-parts-1 {
  z-index: 21;

  -webkit-transform-origin: 50% 50% -5px;
  -moz-transform-origin: 50% 50% -5px;
  -ms-transform-origin: 50% 50% -5px;
  -o-transform-origin: 50% 50% -5px;
  transform-origin: 50% 50% -5px;
}
.js-ag-parallax-parts-2 {
  z-index: 22;

  -webkit-transform-origin: 50% 50% -15px;
  -moz-transform-origin: 50% 50% -15px;
  -ms-transform-origin: 50% 50% -15px;
  -o-transform-origin: 50% 50% -15px;
  transform-origin: 50% 50% -15px;
}
.js-ag-parallax-parts-3 {
  z-index: 24;

  -webkit-transform-origin: 50% 50% -30px;
  -moz-transform-origin: 50% 50% -30px;
  -ms-transform-origin: 50% 50% -30px;
  -o-transform-origin: 50% 50% -30px;
  transform-origin: 50% 50% -30px;
}
.js-ag-parallax-parts-4 {
  z-index: 25;

  -webkit-transform-origin: 50% 50% -50px;
  -moz-transform-origin: 50% 50% -50px;
  -ms-transform-origin: 50% 50% -50px;
  -o-transform-origin: 50% 50% -50px;
  transform-origin: 50% 50% -50px;
}
.ag-bonus_label {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  width: 70px;
  margin-top: -35px;
  background-color: #fd9931;

  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  color: #FFF;

  z-index: 23;
  position: absolute;
  top: 50%;
  right: -20px;

  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
