.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

body {
  padding: 0 0 100px;
  background-color: #C8D1FE;

  overflow-x: hidden;
}

.ag-format-container {
  position: relative;
}

.ag-count_title-box {
  height: calc(100% + 40px); /* fixed text */
  width: 40px;

  position: absolute;
  top: -85px;
  left: -50px;
}
.ag-count_title {
  padding: 0 0 85px;

  position: -webkit-sticky;
  position: sticky;
  top: 0;

  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;

  font-weight: bold;
  font-size: 36px;
  color: #0d0d0d;

  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

}
.ag-count_title::first-letter {
  color: #0254A0;
}

.ag-bag_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;

  margin: 100px 0;
}
.ag-bag_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 22%;
  flex: 0 1 22%;

  margin: 0 3% 100px 0;

  position: relative;
}
.ag-bag_item:nth-child(4n),
.ag-bag_item:last-child {
  margin: 0 0 60px 0;
}

.ag-bag_img-box {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}
.ag-bag_img-box:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);

  cursor: pointer;
}
.ag-bag_img {
  display: block;
  padding: 115% 0 0;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.ag-bag_img-1 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-1.jpg);
}
.ag-bag_img-2 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-2.jpg);
}
.ag-bag_img-3 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-3.jpg);
}
.ag-bag_img-4 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-4.jpg);
}
.ag-bag_img-5 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-5.jpg);
}
.ag-bag_img-6 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-6.jpg);
}
.ag-bag_img-7 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-7.jpg);
}
.ag-bag_img-8 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-8.jpg);
}
.ag-bag_img-9 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-9.jpg);
}
.ag-bag_img-10 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-10.jpg);
}
.ag-bag_img-11 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-11.jpg);
}
.ag-bag_img-12 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-12.jpg);
}
.ag-bag_img-13 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-13.jpg);
}
.ag-bag_img-14 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-14.jpg);
}
.ag-bag_img-15 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-15.jpg);
}
.ag-bag_img-16 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-16.jpg);
}
.ag-bag_img-17 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-17.jpg);
}
.ag-bag_img-18 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-18.jpg);
}
.ag-bag_img-19 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-19.jpg);
}
.ag-bag_img-20 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-20.jpg);
}
.ag-bag_img-21 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-21.jpg);
}
.ag-bag_img-22 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-22.jpg);
}
.ag-bag_img-23 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-23.jpg);
}
.ag-bag_img-24 {
  background-image: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/bag-24.jpg);
}

.ag-bag_title-item {
  padding: 15px 0 30px;

  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #0d0d0d;

  position: relative;
}
.ag-bag_title-item:first-letter {
  color: #0254A0;
}

.js-ag-sliding-text-wrap {
  position: absolute;
}
.js-ag-sliding-text {
  display: inline-block;
  height: 150px;
  line-height: .8;

  opacity: .7;

  overflow: hidden;

  z-index: 9999;
  position: absolute;
  top: 0;
  left: -200%;

  font-size: 7vw;
  color: #0254A0;

  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}


@media only screen and (max-width: 1299px) {
  .ag-count_title-box {
    height: auto;
    width: auto;

    position: static;
    top: auto;
    left: auto;
  }
  .ag-count_title {
    padding: 40px 0;

    -webkit-writing-mode: unset;
    -ms-writing-mode: unset;
    writing-mode: unset;

    text-align: center;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .ag-bag_list {
    margin: 0;
  }
}

@media only screen and (max-width: 1161px) {
  .ag-bag_item,
  .ag-bag_item:nth-child(4n),
  .ag-bag_item:last-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;

    margin: 0 5% 60px 0;
  }
  .ag-bag_item:nth-child(3n),
  .ag-bag_item:last-child {
    margin: 0 0 60px 0;
  }
}

@media only screen and (max-width: 979px) {
  .ag-bag_item,
  .ag-bag_item:nth-child(2n),
  .ag-bag_item:nth-child(3n),
  .ag-bag_item:last-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 45%;
    flex: 0 1 45%;

    margin: 0 5% 60px 0;
  }
  .ag-bag_item:nth-child(2n),
  .ag-bag_item:last-child {
    margin: 0 0 60px 0;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-bag_item,
  .ag-bag_item:nth-child(2n),
  .ag-bag_item:nth-child(3n),
  .ag-bag_item:last-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;

    max-width: 300px;

    margin: 0 0 60px 0;
  }
}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}