.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-eyes-block {
  height: 1080px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/eyes-watching/images/bg.jpg) no-repeat scroll 50% 0 #030303;

  position: relative;
}
.ag-eyes_box {
  height: 232px;
  width: 436px;
  margin: 0 0 0 -230px;

  z-index: 100;
  position: absolute;
  top: 206px;
  left: 50%;
}
.ag-eyes_mask {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/eyes-watching/images/mask.png) no-repeat scroll 0 0;

  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.ag-eyes_eyes {
  height: 80px;
  width: 99px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/eyes-watching/images/eye.png) no-repeat scroll 0 0;

  z-index: 5;
  position: absolute;
}
.ag-eyes_eye-1 {
  top: 90px;
  left: 65px;
}
.ag-eyes_eye-2 {
  top: 63px;
  left: 268px;
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
