.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

body {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-leaf/images/bg.jpg);

  overflow: hidden;
}

#js-ag-leaf_box {
  height: 200vh;
  width: 100vw;

  pointer-events: none;

  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.js-ag-leaf {
  height: 25px;
  width: 31px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-leaf/images/leaf.png);

  position: absolute;
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
