.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


.ag-winner_fox-box {
  height: 465px;
  width: 420px;
  margin: -200px auto 0;
  position: absolute;

  top: 50%;
  left: 0;
  right: 0;
}
.ag-winner_confetti {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-fox/images/leader-fox.png);

  position: absolute;
  top: 0;
  left: 0;

  animation-delay: 1s;
}
.ag-winner_confetti:nth-child(1) {
  height: 35px;
  width: 27px;
  background-position: -339px -465px;

  top: 40px;
  left: 20px;

  animation: ag-winner_confetti-fly-1 1.7s infinite;
}
.ag-winner_confetti:nth-child(2) {
  height: 23px;
  width: 22px;
  background-position: -366px -465px;

  top: 30px;
  left: 35px;

  animation: ag-winner_confetti-fly-2 1.4s infinite;
}
.ag-winner_confetti:nth-child(3) {
  height: 22px;
  width: 21px;
  background-position: -388px -465px;

  top: 10px;
  left: 100px;

  animation: ag-winner_confetti-fly-3 1.4s infinite;
}
.ag-winner_confetti:nth-child(4) {
  height: 52px;
  width: 150px;
  background-position: 0 -465px;

  top: -6px;
  left: 0;

  animation: ag-winner_confetti-fly-4 1.4s infinite;
}
.ag-winner_confetti:nth-child(5) {
  height: 34px;
  width: 42px;
  background-position: -263px -465px;

  top: -30px;
  left: 28px;

  animation: ag-winner_confetti-fly-5 1.6s infinite;
}
.ag-winner_confetti:nth-child(6) {
  height: 48px;
  width: 93px;
  background-position: -150px -465px;

  top: 0;
  left: 0;

  animation: ag-winner_confetti-fly-6 1.7s infinite;
}
.ag-winner_confetti:nth-child(7) {
  height: 63px;
  width: 34px;
  background-position: -305px -465px;

  left: -20px;

  animation: ag-winner_confetti-fly-7 1.9s infinite;
}
.ag-winner_fox {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-fox/images/leader-fox.png);
  background-position: 0 0;
}

@keyframes ag-winner_confetti-fly-1 {
  0% {
    transform: matrix3d(.61, 0, 0, 0, 0, .61, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31, -59, 0, 1);
    opacity: 1;
  }
}

@keyframes ag-winner_confetti-fly-2 {
  0% {
    transform: matrix3d(.74, 0, 0, 0, 0, .74, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -22, -59, 0, 1);
    opacity: 1;
  }
}

@keyframes ag-winner_confetti-fly-3 {
  0% {
    transform: matrix3d(.71, 0, 0, 0, 0, .71, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2, -36, 0, 1);
    opacity: 1;
  }
}

@keyframes ag-winner_confetti-fly-4 {
  0% {
    transform: matrix3d(.86, 0, 0, 0, 0, .86, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  100% {
    transform: matrix3d(.99, 0, 0, 0, 0, .99, 0, 0, 0, 0, 1, 0, -24, -28, 0, 1);
    opacity: 1;
  }
}

@keyframes ag-winner_confetti-fly-5 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -14, -27, 0, 1);
    opacity: 1;
  }
}

@keyframes ag-winner_confetti-fly-6 {
  0% {
    transform: matrix3d(.85, 0, 0, 0, 0, .85, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -17, -28, 0, 1);
    opacity: 1;
  }
}

@keyframes ag-winner_confetti-fly-7 {
  0% {
    transform: matrix3d(.001, 0, 0, 0, 0, .001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0;
    animation-timing-function: ease-out;
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -12, -21, 0, 1);
    opacity: 1;
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
