body {
  background:#01010B;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

/* meteor */
.ag-meteor {
  display: inline-block;
  width: 600px;
  height: 600px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-sprite/images/meteor.png) no-repeat 0 0;

  -webkit-animation: an-meteor 1s steps(48) infinite;
  -moz-animation: an-meteor 1s steps(48) infinite;
  -o-animation: an-meteor 1s steps(48) infinite;
  animation: an-meteor 1s steps(48) infinite;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

@-webkit-keyframes an-meteor {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -28800px 0;
  }
}

@-moz-keyframes an-meteor {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -28800px 0;
  }
}

@-o-keyframes an-meteor {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -28800px 0;
  }
}

@keyframes an-meteor {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -28800px 0;
  }
}
/* /meteor */

/* crystal */
.ag-crystal {
  display: inline-block;
  width: 130px;
  height: 127px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-sprite/images/crystal.png) no-repeat 0 0;

  -webkit-animation: an-crystal 1s steps(49) infinite;
  -moz-animation: an-crystal 1s steps(49) infinite;
  -o-animation: an-crystal 1s steps(49) infinite;
  animation: an-crystal 1s steps(49) infinite;
}

@-webkit-keyframes an-crystal {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -6370px 0;
  }
}

@-moz-keyframes an-crystal {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -6370px 0;
  }
}

@-o-keyframes an-crystal {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -6370px 0;
  }
}

@keyframes an-crystal {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -6370px 0;
  }
}
/* /crystal */

.ag-fire {
  display: inline-block;
  height: 397px;
  width: 397px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-sprite/images/fire.png) repeat-x 0;
  -moz-background-size: auto 100%;
  background-size: auto 100%;

  -webkit-animation: an-fire .65s steps(19) infinite backwards;
  -moz-animation: an-fire .65s steps(19) infinite backwards;
  -o-animation: an-fire .65s steps(19) infinite backwards;
  animation: an-fire .65s steps(19) infinite backwards;
}

@keyframes an-fire {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -6156px 0;
  }
}

/* fire v2 */
.ag-fire-v2 {
  display: inline-block;
  width: 6.66667em;
  height: 10.41667em;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-sprite/images/sprite-fire.png);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 3200% 100%;

  -webkit-animation: an-fire-v2 steps(31, start) 1s infinite;
  -moz-animation: an-fire-v2 steps(31, start) 1s infinite;
  -o-animation: an-fire-v2 steps(31, start) 1s infinite;
  animation: an-fire-v2 steps(31, start) 1s infinite;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

@-webkit-keyframes an-fire-v2 {
  100% {
    background-position:100% 50%;
  }
}
@-moz-keyframes an-fire-v2 {
  100% {
    background-position:100% 50%;
  }
}
@-o-keyframes an-fire-v2 {
  100% {
    background-position:100% 50%;
  }
}
@keyframes an-fire-v2 {
  100% {
    background-position:100% 50%;
  }
}
/* /fire v2 */

/* electricity */
.ag-electricity {
  display: inline-block;
  height: 65px;
  width: 90px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-sprite/images/sprite-electricity.png);
  background-size: 1700% auto;
}
.ag-electricity {
  -webkit-animation: an-electricity 11s steps(16) infinite;
  -moz-animation: an-electricity 11s steps(16) infinite;
  -o-animation: an-electricity 11s steps(16) infinite;
  animation: an-electricity 11s steps(16) infinite;
}

@-webkit-keyframes an-electricity {
  0%, 28.1%, 55.1%, 80.1% {
    background-position: 0 0;
  }
  28%, 55%, 80%, 100% {
    background-position: 100% 0;
  }
}
@-moz-keyframes an-electricity {
  0%, 28.1%, 55.1%, 80.1% {
    background-position: 0 0;
  }
  28%, 55%, 80%, 100% {
    background-position: 100% 0;
  }
}
@-o-keyframes an-electricity {
  0%, 28.1%, 55.1%, 80.1% {
    background-position: 0 0;
  }
  28%, 55%, 80%, 100% {
    background-position: 100% 0;
  }
}
@keyframes an-electricity {
  0%, 28.1%, 55.1%, 80.1% {
    background-position: 0 0;
  }
  28%, 55%, 80%, 100% {
    background-position: 100% 0;
  }
}
/* /electricity */

/* electricity v2 */
.ag-electricity-v2 {
  display: inline-block;
  height: 100px;
  width: 140px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-sprite/images/sprite-electricity.png);
}
.ag-electricity-v2 {
  -webkit-animation: an-electricity-v2 2s steps(16) infinite;
  -moz-animation: an-electricity-v2 2s steps(16) infinite;
  -o-animation: an-electricity-v2 2s steps(16) infinite;
  animation: an-electricity-v2 2s steps(16) infinite;
}

@-webkit-keyframes an-electricity-v2 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@-moz-keyframes an-electricity-v2 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@-o-keyframes an-electricity-v2 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes an-electricity-v2 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
/* /electricity v2 */

/* blink */
.ag-blink {
  display: inline-block;
  height: 12.25em;
  width: 11.75em;

  will-change: background-position;

  position: relative;
}
.ag-blink::after {
  content: "";
  display: block;
  height: 172px;
  width: 165px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-sprite/images/sprite-blink.png);
  -webkit-background-size: auto 300%;
  -moz-background-size: auto 300%;
  -o-background-size: auto 300%;
  background-size: auto 300%;

  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: blinkTeams 5s steps(7) infinite forwards;
  -moz-animation: blinkTeams 5s steps(7) infinite forwards;
  -o-animation: blinkTeams 5s steps(7) infinite forwards;
  animation: blinkTeams 5s steps(7) infinite forwards;

  will-change: background-position;
}
.ag-blink-rome {
  background-position: 0 0;
}
.ag-blink-rome::after {
  background-position: 0 -24.5em;

  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}
.ag-blink-anglo {
  background-position: -11.75em 0;
}
.ag-blink-anglo::after {
  background-position: 0 0;

  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
.ag-blink-viking {
  background-position: -23.5em 0;
}
.ag-blink-viking::after {
  left: .25em;
  background-position: 0 -12.25em;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}

@-webkit-keyframes blinkTeams {
  0% {
    background-position-x: 0;
  }
  10%, 100% {
    background-position-x: right;
  }
}
@-moz-keyframes blinkTeams {
  0% {
    background-position-x: 0;
  }
  10%, 100% {
    background-position-x: right;
  }
}
@-o-keyframes blinkTeams {
  0% {
    background-position-x: 0;
  }
  10%, 100% {
    background-position-x: right;
  }
}
@keyframes blinkTeams {
  0% {
    background-position-x: 0;
  }
  10%, 100% {
    background-position-x: right;
  }
}
/* /blink */

/* sheep */
.ag-sheep {
  display: inline-block;
  width: 130px;
  height: 127px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-sprite/images/sheep.png) no-repeat 0 0;

  -webkit-animation: an-sheep 1s steps(49) infinite;
  -moz-animation: an-sheep 1s steps(49) infinite;
  -o-animation: an-sheep 1s steps(49) infinite;
  animation: an-sheep 1s steps(49) infinite;
}

@-webkit-keyframes an-sheep {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -6370px 0;
  }
}

@-moz-keyframes an-sheep {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -6370px 0;
  }
}

@-o-keyframes an-sheep {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -6370px 0;
  }
}

@keyframes an-sheep {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -6370px 0;
  }
}
/* /sheep */

/* wolf */
.ag-wolf {
  display: inline-block;
  width: 130px;
  height: 127px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-sprite/images/wolf.png) no-repeat 0 0;

  -webkit-animation: an-wolf 1s steps(49) infinite;
  -moz-animation: an-wolf 1s steps(49) infinite;
  -o-animation: an-wolf 1s steps(49) infinite;
  animation: an-wolf 1s steps(49) infinite;
}

@-webkit-keyframes an-wolf {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@-moz-keyframes an-wolf {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@-o-keyframes an-wolf {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes an-wolf {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
/* /wolf */

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
