.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-figure-block {
  padding: 60px 0;

  text-align: center;
}

.ag-figure_item {
  display: inline-block;
  width: 24%;
  margin-bottom: 120px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;
}
.ag-figure_bg {
  position: relative;
  width: 216px;
  height: 216px;
  margin-bottom: 15px;
  background: #c1c8dd;
  font-size: 0;
}
.ag-figure_item-2 .ag-figure_bg {
  margin-top: -4px;
  width: 224px;
  height: 224px;
  -webkit-border-radius: 112px;
  border-radius: 112px;
}
.ag-figure_item-4 .ag-figure_bg,
.ag-figure_item-7 .ag-figure_bg {
  width: 256px;
  margin-left: -20px;
}
.ag-figure_item-5 .ag-figure_bg {
  width: 206px;
}
.ag-figure_item-6 .ag-figure_bg {
  -webkit-border-radius: 0 108px 108px 0;
  border-radius: 0 108px 108px 0;
}
.ag-figure_item-1 .ag-figure_bg:after {
  content: '';
  display: block;
  position: absolute;
  right: -2px;
  top: -2px;
  width: 0;
  height: 0;
  border-top: 110px solid transparent;
  border-bottom: 110px solid transparent;
  border-right: 96px solid #FFF;
}
.ag-figure_item-3 .ag-figure_bg:after {
  content: '';
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
  width: 0;
  height: 0;
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
  border-top: 102px solid #FFF;
}
.ag-figure_item-4 .ag-figure_bg:before,
.ag-figure_item-7 .ag-figure_bg:before {
  content: '';
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
  width: 0;
  height: 0;
  border-left: 71px solid #FFF;
  border-right: 60px solid transparent;
  border-bottom: 120px solid transparent;
  border-top: 101px solid #FFF;
}
.ag-figure_item-4 .ag-figure_bg:after,
.ag-figure_item-7 .ag-figure_bg:after {
  content: '';
  display: block;
  position: absolute;
  right: -2px;
  top: -2px;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 71px solid #FFF;
  border-bottom: 120px solid transparent;
  border-top: 101px solid #FFF;
}
.ag-figure_item-8 .ag-figure_bg:before {
  content: '';
  display: block;
  height: 100%;
  width: 16px;
  margin: 0 auto;
  background: #e6e9f1;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.ag-figure_item-8 .ag-figure_bg:after {
  content: '';
  display: block;
  height: 16px;
  width: 100%;
  margin: -8px 0 0 0;
  background: #e6e9f1;

  position: absolute;
  top: 50%;
  left: 0;
}
.ag-figure_bg-1 {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-background-of-figures/images/textures-t1.png) 0 0 repeat #49dfc8;

  -webkit-animation: an-move-figure-1 1s infinite;
  animation: an-move-figure-1 1s infinite;

  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ag-figure_bg-2 {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-background-of-figures/images/textures-t2.png) 0 0 repeat #5363bf;

  -webkit-animation: an-move-figure-2 1.8s infinite;
  animation: an-move-figure-2 1.8s infinite;

  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ag-figure_bg-3 {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-background-of-figures/images/textures-t3.png) 0 0 repeat transparent;

  -webkit-animation: an-move-figure-3 1.4s infinite;
  animation: an-move-figure-3 1.4s infinite;

  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ag-figure_bg-4 {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-background-of-figures/images/textures-t4.png) 0 0 repeat #ad53c9;

  -webkit-animation: an-move-figure-4 2.2s infinite;
  animation: an-move-figure-4 2.2s infinite;

  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ag-figure_bg-5 {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-background-of-figures/images/textures-t5.png) 0 0 repeat #ad53c9;

  -webkit-animation: an-move-figure-5 2.2s infinite;
  animation: an-move-figure-5 2.2s infinite;

  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ag-figure_bg-6 {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-background-of-figures/images/textures-t6.png) 0 0 repeat #aaadb5;

  -webkit-animation: an-move-figure-6 1s infinite;
  animation: an-move-figure-6 1s infinite;

  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ag-figure_bg-7 {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-background-of-figures/images/textures-t7.png) 0 0 repeat #c1c8dd;

  -webkit-animation: an-move-figure-7 0.4s infinite;
  animation: an-move-figure-7 0.4s infinite;

  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ag-figure_bg-8 {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-background-of-figures/images/textures-t8.png) 0 0 repeat #bdd0ff;

  -webkit-animation: an-move-figure-8 1s infinite;
  animation: an-move-figure-8 1s infinite;

  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes an-move-figure-1 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 12px -23px;
  }
  100% {
    background-position: 0 -46px;
  }
}
@keyframes an-move-figure-1 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 12px -23px;
  }
  100% {
    background-position: 0 -46px;
  }
}

@-webkit-keyframes an-move-figure-2 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 93px -62px;
  }
}
@keyframes an-move-figure-2 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 93px -62px;
  }
}

@-webkit-keyframes an-move-figure-3 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 60px;
  }
}
@keyframes an-move-figure-3 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 60px;
  }
}

@-webkit-keyframes an-move-figure-4 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 93px 62px;
  }
}
@keyframes an-move-figure-4 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 93px 62px;
  }
}

@-webkit-keyframes an-move-figure-5 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -78px -182px;
  }
}
@keyframes an-move-figure-5 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -78px -182px;
  }
}

@-webkit-keyframes an-move-figure-6 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 30px;
  }
}
@keyframes an-move-figure-6 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 30px;
  }
}

@-webkit-keyframes an-move-figure-7 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 8px 0;
  }
}
@keyframes an-move-figure-7 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 8px 0;
  }
}

@-webkit-keyframes an-move-figure-8 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 21px 21px;
  }
}
@keyframes an-move-figure-8 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 21px 21px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-figure_item {
    width: 48%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-figure_item {
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

  .ag-figure_item {
    width: 48%;
  }
}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
