body {
  background-color: #000;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-bubbles-block {
  height: 358px;
  width: 188px;
  margin: 50px auto;
  padding-top:.9375em;
  padding-bottom:.125em;
  background-color:#000;
  background-size:cover;

  overflow:hidden;

  -webkit-border-radius:1.375em;
  -moz-border-radius:1.375em;
  border-radius:1.375em;

  -webkit-box-shadow:0 0 .4375em rgba(255,255,255,.4);
  -moz-box-shadow:0 0 .4375em rgba(255,255,255,.4);
  -o-box-shadow:0 0 .4375em rgba(255,255,255,.4);
  box-shadow:0 0 .4375em rgba(255,255,255,.4);

  position:relative;
}
.ag-bubbles-block::after {
  content:"";
  background:-webkit-gradient(linear, left top, left bottom, from(#007cdb), color-stop(40%, transparent), color-stop(60%, transparent), to(#007cdb));
  background:-webkit-linear-gradient(#007cdb 0%, transparent 40%, transparent 60%, #007cdb 100%);
  background:-moz-linear-gradient(#007cdb 0%, transparent 40%, transparent 60%, #007cdb 100%);
  background:-o-linear-gradient(#007cdb 0%, transparent 40%, transparent 60%, #007cdb 100%);
  background:linear-gradient(#007cdb 0%, transparent 40%, transparent 60%, #007cdb 100%);

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

  -webkit-border-radius:1.375em;
  -moz-border-radius:1.375em;
  border-radius:1.375em;

  -webkit-box-shadow:inset 0 .25em .1875em #000;
  -moz-box-shadow:inset 0 .25em .1875em #000;
  -o-box-shadow:inset 0 .25em .1875em #000;
  box-shadow:inset 0 .25em .1875em #000;
}
.ag-bubbles_box {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.ag-bubbles_box__in {
  height:100%;

  overflow:hidden;

  z-index:1;
  position:relative;
}
.ag-bubbles_item {
  width: 300%;
  background-size: 33.33333% 100%;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  -webkit-animation: an-bubbles 16s linear infinite;
  -moz-animation: an-bubbles 16s linear infinite;
  -o-animation: an-bubbles 16s linear infinite;
  animation: an-bubbles 16s linear infinite;
}
.ag-bubbles_item__back {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/bubbles/images/bubble-1.png);

  left: -100%;

  -webkit-transform: translateX(33.3333%);
  -moz-transform: translateX(33.3333%);
  -ms-transform: translateX(33.3333%);
  -o-transform: translateX(33.3333%);
  transform: translateX(33.3333%);
}
.ag-bubbles_item__center {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/bubbles/images/bubble-2.png);
}
.ag-bubbles_item__front-1 {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/bubbles/images/bubble-3.png);

  left: 0;

  -webkit-transform: translateX(-33.3333%);
  -moz-transform: translateX(-33.3333%);
  -ms-transform: translateX(-33.3333%);
  -o-transform: translateX(-33.3333%);
  transform: translateX(-33.3333%);
}
.ag-bubbles_item__front-2 {
  width: 400%;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/bubbles/images/bubble-4.png) 0 0/25% 100%;

  left: -75%;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.ag-bubbles_item__front-3 {
  width: 1000%;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/bubbles/images/bubble-5.png) 0 0/10% 100%;

  left: -300%;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

@-webkit-keyframes an-bubbles {
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@-moz-keyframes an-bubbles {
  100% {
    -moz-transform: none;
    transform: none;
  }
}
@-o-keyframes an-bubbles {
  100% {
    -o-transform: none;
    transform: none;
  }
}
@keyframes an-bubbles {
  100% {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
