.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-circle_list {
  padding: 60px 0;

  white-space: nowrap;
  text-align: center;
}
.ag-circle_item {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 0 40px 20px 0;
  background-color: #F6F6F6;

  text-align: center;
  font-family: 'Open Sans', sans-serif;

  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;

  position: relative;
}
.ag-circle_item:last-child {
  margin-right: 0;
}
.ag-circle_outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;

  -webkit-animation-name: an-rotation;
  -moz-animation-name: an-rotation;
  -o-animation-name: an-rotation;
  animation-name: an-rotation;

  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
.ag-circle_item:first-child .ag-circle_outer {
  border-left: 1px solid #cd6ce3;
  border-bottom: 1px solid #cd6ce3;
}
.ag-circle_item:nth-child(2) .ag-circle_outer {
  border-top: 1px solid #f5a463;
  border-right: 1px solid #f5a463;
}
.ag-circle_item:nth-child(3) .ag-circle_outer {
  border-top: 1px solid #5fb2ee;
  border-left: 1px solid #5fb2ee;
}
.ag-circle_info-box {
  display: table;
  width: 154px;
  height: 154px;
  background-color: #FAFAFA;
  margin: -77px 0 0 -77px;

  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-box-shadow: -3px 3px 6px #a5a4a2;
  -moz-box-shadow: -3px 3px 6px #a5a4a2;
  -ms-box-shadow: -3px 3px 6px #a5a4a2;
  -o-box-shadow: -3px 3px 6px #a5a4a2;
  box-shadow: -3px 3px 6px #a5a4a2;

  -webkit-transition: -webkit-box-shadow .5s ease, background-color .2s ease 0s;
  -moz-transition: -moz-box-shadow .5s ease, background-color .2s ease 0s;
  -ms-transition: -ms-box-shadow .5s ease, background-color .2s ease 0s;
  -o-transition: -o-box-shadow .5s ease, background-color .2s ease 0s;
  transition: box-shadow .5s ease, background-color .2s ease 0s;

  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}
.ag-circle_item:hover .ag-circle_info-box {
  background-color: #F6F6F6;
/*
  -webkit-box-shadow: inset -3px 3px 6px #a5a4a2;
  -moz-box-shadow: inset -3px 3px 6px #a5a4a2;
  -ms-box-shadow: inset -3px 3px 6px #a5a4a2;
  -o-box-shadow: inset -3px 3px 6px #a5a4a2;
  box-shadow: inset -3px 3px 6px #a5a4a2;
  */

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.ag-circle_info {
  display: table-cell;

  vertical-align: middle;
}
.ag-circle_num {
  padding: 0 0 5px;

  letter-spacing: -2px;
  font-size: 50px;
  font-weight: bold;
  color: #ef2e24;
}
.ag-circle_text {
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: #1d1d1d;
}
.ag-circle_text__br {
  display: block;
}

@-webkit-keyframes an-rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes an-rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes an-rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes an-rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-circle_list {
    white-space: normal;
  }
  .ag-circle_item {
    display: block;
    margin: 0 auto 60px;
  }
  .ag-circle_item:last-child {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
