.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


body {
	background-color: #0071bc;
}
.map {
	display: table;
	width: 70%;
	margin: 0 auto;
	padding: 100px 50px;

	-webkit-filter: drop-shadow(4px 4px 7px #0663bb);
	filter: drop-shadow(4px 4px 7px #0663bb);
}



@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
