.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-effect-shadow_box {
  width: 100%;
  margin: 50px 0 0;
  padding: 50px;
  border-left: 3px solid #000;
  background-color: #F7F7F7;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;
}
.ag-effect-shadow_box:before,
.ag-effect-shadow_box:after {
  content: "";
  width: 50%;
  max-width: 300px;
  background-color: #777;

  z-index: -1;
  position: absolute;
  top: 80%;
  bottom: 15px;

  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  -o-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
}
.ag-effect-shadow_box:before {
  left: 10px;

  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.ag-effect-shadow_box:after {
  right: 10px;

  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);

}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
