.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


html, body {
  height: 100%;

  overflow: hidden;
}
.ag-desert-block {
  height: 100%;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/desert/images/bg.jpeg) no-repeat scroll 50% 0;
  background-size: cover;

  position: relative;
}
.ag-desert_box {
  height: 100%;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/desert/images/bg.jpg);
  background-position: 50% -352px;
  background-repeat: no-repeat;

  overflow: hidden;

  z-index: 0;
  position: relative;
}
.ag-desert_box:before {
  height: 65px;
  width: 923px;
  margin-left: 37px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/desert/images/dune-1.png)
}
.ag-desert_box:after,
.ag-desert_box:before {
  content: "";
  display: block;

  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 50%;
}
.ag-desert_box:after {
  height: 33px;
  width: 359px;
  margin-left: -455px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/desert/images/dune-2.png)
}
.aп-bush-1 {
  height: 15px;
  width: 62px;
  margin-left: 594px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/desert/images/bush-shadow.png);
  background-repeat: no-repeat;

  z-index: -1;
  position: absolute;
  top: 672px;
  left: 50%;
}
.aп-bush-1:before {
  content: "";
  height: 43px;
  width: 49px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/desert/images/bush.png);
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  right: 15px;
  bottom: 4px;

  -webkit-animation: an-bush 2s linear -4s normal none infinite;
  -moz-animation: an-bush 2s linear -4s normal none infinite;
  -o-animation: an-bush 2s linear -4s normal none infinite;
  animation: an-bush 2s linear -4s normal none infinite;
}

.aп-bush-2 {
  height: 15px;
  width: 62px;
  margin-left: -150px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/desert/images/bush-2-shadow.png);

  z-index: -1;
  position: absolute;
  top: 665px;
  left: 0;

  -webkit-animation: an-bush-2-shadow 32s linear 6s normal none infinite;
  -moz-animation: an-bush-2-shadow 32s linear 6s normal none infinite;
  -o-animation: an-bush-2-shadow 32s linear 6s normal none infinite;
  animation: an-bush-2-shadow 32s linear 6s normal none infinite;
}
.aп-bush-2 > div {
  content: "";
  height: 47px;
  width: 47px;

  position: absolute;
  left: 21px;
  bottom: 1px;

  -webkit-animation: an-bush-2-jump 4s linear 0ms normal none infinite;
  -moz-animation: an-bush-2-jump 4s linear 0ms normal none infinite;
  -o-animation: an-bush-2-jump 4s linear 0ms normal none infinite;
  animation: an-bush-2-jump 4s linear 0ms normal none infinite;
}
.aп-bush-2 > div:before {
  content: "";
  height: 47px;
  width: 47px;
  margin: -23px 0 0 -23px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/desert/images/bush-2.png);
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-animation: an-bush-2 2.5s linear 0ms normal none infinite;
  -moz-animation: an-bush-2 2.5s linear 0ms normal none infinite;
  -o-animation: an-bush-2 2.5s linear 0ms normal none infinite;
  animation: an-bush-2 2.5s linear 0ms normal none infinite;
}

.ag-wind {
  height: 460px;
  width: 1980px;
  margin-left: -1980px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/desert/images/wind.png);
  background-repeat: no-repeat;

  z-index: -1;
  position: absolute;
  top: 475px;
  left: 0;

  -webkit-animation: an-wind 12s linear 0ms normal none infinite;
  -moz-animation: an-wind 12s linear 0ms normal none infinite;
  -o-animation: an-wind 12s linear 0ms normal none infinite;
  animation: an-wind 12s linear 0ms normal none infinite;
}

.ag-hawk {
  height: 191px;
  width: 487px;
  margin-left: -325px;

  z-index: -1;
  position: absolute;
  top: -6px;
  left: 0;

  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -o-transform: scale(0.25);
  transform: scale(0.25);

  -webkit-animation: an-hawk 40s linear 0ms normal none infinite;
  -moz-animation: an-hawk 40s linear 0ms normal none infinite;
  -o-animation: an-hawk 40s linear 0ms normal none infinite;
  animation: an-hawk 40s linear 0ms normal none infinite;
}
.ag-hawk_wing-right {
  height: 2px;
  width: 2px;

  position: absolute;
  top: 101px;
  left: 310px;

  -webkit-animation: an-hawk-wing-right 3s linear 0ms normal none infinite;
  -moz-animation: an-hawk-wing-right 3s linear 0ms normal none infinite;
  -o-animation: an-hawk-wing-right 3s linear 0ms normal none infinite;
  animation: an-hawk-wing-right 3s linear 0ms normal none infinite;
}
.ag-hawk_wing-right:before {
  content: "";
  display: block;
  height: 191px;
  width: 487px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/desert/images/hawk-wing-right.png);

  position: absolute;
  top: -102px;
  left: -310px;
}
.ag-hawk_body {
  height: 191px;
  width: 487px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/desert/images/hawk-body.png);
  background-repeat: no-repeat;

  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: an-hawk-body 3s linear 0ms normal none infinite;
  -moz-animation: an-hawk-body 3s linear 0ms normal none infinite;
  -o-animation: an-hawk-body 3s linear 0ms normal none infinite;
  animation: an-hawk-body 3s linear 0ms normal none infinite;
}
.ag-hawk_wing-left {
  height: 2px;
  width: 2px;

  position: absolute;
  top: 85px;
  left: 271px;

  -webkit-animation: an-hawk-wing-left 3s linear 0ms normal none infinite;
  -moz-animation: an-hawk-wing-left 3s linear 0ms normal none infinite;
  -o-animation: an-hawk-wing-left 3s linear 0ms normal none infinite;
  animation: an-hawk-wing-left 3s linear 0ms normal none infinite;
}
.ag-hawk_wing-left:before {
  content: "";
  display: block;
  height: 191px;
  width: 487px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/desert/images/hawk-wing-left.png);

  position: absolute;
  top: -85px;
  right: -214px;
}

@-webkit-keyframes an-bush {
  0% {
    -webkit-transform:scale(1) rotate(-3deg) translate(-1px);
    transform:scale(1) rotate(-3deg) translate(-1px);
  }
  25% {
    -webkit-transform:scale(1) rotate(10deg) translate(4px, -2px);
    transform:scale(1) rotate(10deg) translate(4px, -2px);
  }
  50% {
    -webkit-transform:scale(1) rotate(0deg) translate(0);
    transform:scale(1) rotate(0deg) translate(0);
  }
  75% {
    -webkit-transform:scale(1) rotate(7deg) translate(2px, -1px);
    transform:scale(1) rotate(7deg) translate(2px, -1px);
  }
  to {
    -webkit-transform:scale(1) rotate(-3deg) translate(-1px);
    transform:scale(1) rotate(-3deg) translate(-1px);
  }
}
@-moz-keyframes an-bush {
  0% {
    -moz-transform:scale(1) rotate(-3deg) translate(-1px);
    transform:scale(1) rotate(-3deg) translate(-1px);
  }
  25% {
    -moz-transform:scale(1) rotate(10deg) translate(4px, -2px);
    transform:scale(1) rotate(10deg) translate(4px, -2px);
  }
  50% {
    -moz-transform:scale(1) rotate(0deg) translate(0);
    transform:scale(1) rotate(0deg) translate(0);
  }
  75% {
    -moz-transform:scale(1) rotate(7deg) translate(2px, -1px);
    transform:scale(1) rotate(7deg) translate(2px, -1px);
  }
  to {
    -moz-transform:scale(1) rotate(-3deg) translate(-1px);
    transform:scale(1) rotate(-3deg) translate(-1px);
  }
}
@-o-keyframes an-bush {
  0% {
    -o-transform:scale(1) rotate(-3deg) translate(-1px);
    transform:scale(1) rotate(-3deg) translate(-1px);
  }
  25% {
    -o-transform:scale(1) rotate(10deg) translate(4px, -2px);
    transform:scale(1) rotate(10deg) translate(4px, -2px);
  }
  50% {
    -o-transform:scale(1) rotate(0deg) translate(0);
    transform:scale(1) rotate(0deg) translate(0);
  }
  75% {
    -o-transform:scale(1) rotate(7deg) translate(2px, -1px);
    transform:scale(1) rotate(7deg) translate(2px, -1px);
  }
  to {
    -o-transform:scale(1) rotate(-3deg) translate(-1px);
    transform:scale(1) rotate(-3deg) translate(-1px);
  }
}
@keyframes an-bush {
  0% {
    -webkit-transform:scale(1) rotate(-3deg) translate(-1px);
    -moz-transform:scale(1) rotate(-3deg) translate(-1px);
    -o-transform:scale(1) rotate(-3deg) translate(-1px);
    transform:scale(1) rotate(-3deg) translate(-1px);
  }
  25% {
    -webkit-transform:scale(1) rotate(10deg) translate(4px, -2px);
    -moz-transform:scale(1) rotate(10deg) translate(4px, -2px);
    -o-transform:scale(1) rotate(10deg) translate(4px, -2px);
    transform:scale(1) rotate(10deg) translate(4px, -2px);
  }
  50% {
    -webkit-transform:scale(1) rotate(0deg) translate(0);
    -moz-transform:scale(1) rotate(0deg) translate(0);
    -o-transform:scale(1) rotate(0deg) translate(0);
    transform:scale(1) rotate(0deg) translate(0);
  }
  75% {
    -webkit-transform:scale(1) rotate(7deg) translate(2px, -1px);
    -moz-transform:scale(1) rotate(7deg) translate(2px, -1px);
    -o-transform:scale(1) rotate(7deg) translate(2px, -1px);
    transform:scale(1) rotate(7deg) translate(2px, -1px);
  }
  to {
    -webkit-transform:scale(1) rotate(-3deg) translate(-1px);
    -moz-transform:scale(1) rotate(-3deg) translate(-1px);
    -o-transform:scale(1) rotate(-3deg) translate(-1px);
    transform:scale(1) rotate(-3deg) translate(-1px);
  }
}

@-webkit-keyframes an-bush-2-jump {
  0% {
    bottom: 2rem;

    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25% {
    bottom: 0;

    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 1rem;

    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  75% {
    bottom: 0;

    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  to {
    bottom: 2rem;

    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@-moz-keyframes an-bush-2-jump {
  0% {
    bottom: 2rem;

    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25% {
    bottom: 0;

    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 1rem;

    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  75% {
    bottom: 0;

    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  to {
    bottom: 2rem;

    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@-o-keyframes an-bush-2-jump {
  0% {
    bottom: 2rem;

    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25% {
    bottom: 0;

    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 1rem;

    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  75% {
    bottom: 0;

    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  to {
    bottom: 2rem;

    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
@keyframes an-bush-2-jump {
  0% {
    bottom: 2rem;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25% {
    bottom: 0;

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 1rem;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  75% {
    bottom: 0;

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  to {
    bottom: 2rem;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@-webkit-keyframes an-bush-2 {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(359deg);
    transform: scale(1) rotate(359deg);
  }
}
@-moz-keyframes an-bush-2 {
  0% {
    -moz-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  to {
    -moz-transform: scale(1) rotate(359deg);
    transform: scale(1) rotate(359deg);
  }
}
@-o-keyframes an-bush-2 {
  0% {
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  to {
    -o-transform: scale(1) rotate(359deg);
    transform: scale(1) rotate(359deg);
  }
}
@keyframes an-bush-2 {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(359deg);
    -moz-transform: scale(1) rotate(359deg);
    -o-transform: scale(1) rotate(359deg);
    transform: scale(1) rotate(359deg);
  }
}

@-webkit-keyframes an-bush-2-shadow {
  0% {
    margin-left: -150px;

    left: 0;
  }
  70% {
    margin-left: 150px;

    left: 100%;
  }
  to {
    margin-left: 150px;

    left: 100%;
  }
}
@-moz-keyframes an-bush-2-shadow {
  0% {
    margin-left: -150px;

    left: 0;
  }
  70% {
    margin-left: 150px;

    left: 100%;
  }
  to {
    margin-left: 150px;

    left: 100%;
  }
}
@-o-keyframes an-bush-2-shadow {
  0% {
    margin-left: -150px;

    left: 0;
  }
  70% {
    margin-left: 150px;

    left: 100%;
  }
  to {
    margin-left: 150px;

    left: 100%;
  }
}
@keyframes an-bush-2-shadow {
  0% {
    margin-left: -150px;

    left: 0;
  }
  70% {
    margin-left: 150px;

    left: 100%;
  }
  to {
    margin-left: 150px;

    left: 100%;
  }
}

@-webkit-keyframes an-wind {
  0% {
    margin-left: -1980px;

    left: 0;
  }
  50% {
    margin-left: 0;

    left: 100%;
  }
  to {
    margin-left: 0;

    left: 100%;
  }
}
@-moz-keyframes an-wind {
  0% {
    margin-left: -1980px;

    left: 0;
  }
  50% {
    margin-left: 0;

    left: 100%;
  }
  to {
    margin-left: 0;

    left: 100%;
  }
}
@-o-keyframes an-wind {
  0% {
    margin-left: -1980px;

    left: 0;
  }
  50% {
    margin-left: 0;

    left: 100%;
  }
  to {
    margin-left: 0;

    left: 100%;
  }
}
@keyframes an-wind {
  0% {
    margin-left: -1980px;

    left: 0;
  }
  50% {
    margin-left: 0;

    left: 100%;
  }
  to {
    margin-left: 0;

    left: 100%;
  }
}

@-webkit-keyframes an-hawk {
  0% {
    margin-left: -325px;

    top: 100px;
    left: 0;
  }
  75% {
    margin-left: 0;

    top: -100px;
    left: 100%;
  }
  to {
    margin-left: 0;

    left: 100%;
  }
}
@-moz-keyframes an-hawk {
  0% {
    margin-left: -325px;

    top: 100px;
    left: 0;
  }
  75% {
    margin-left: 0;

    top: -100px;
    left: 100%;
  }
  to {
    margin-left: 0;

    left: 100%;
  }
}
@-o-keyframes an-hawk {
  0% {
    margin-left: -325px;

    top: 100px;
    left: 0;
  }
  75% {
    margin-left: 0;

    top: -100px;
    left: 100%;
  }
  to {
    margin-left: 0;

    left: 100%;
  }
}
@keyframes an-hawk {
  0% {
    margin-left: -325px;

    top: 100px;
    left: 0;
  }
  75% {
    margin-left: 0;

    top: -100px;
    left: 100%;
  }
  to {
    margin-left: 0;

    left: 100%;
  }
}

@-webkit-keyframes an-hawk-wing-right {
  0% {
    -webkit-transform: scale(1) rotate(9deg);
    transform: scale(1) rotate(9deg);
  }
  70% {
    -webkit-transform: scale(1) rotate(-20deg);
    transform: scale(1) rotate(-20deg);
  }
  to {
    -webkit-transform: scale(1) rotate(9deg);
    transform: scale(1) rotate(9deg);
  }
}
@-moz-keyframes an-hawk-wing-right {
  0% {
    -moz-transform: scale(1) rotate(9deg);
    transform: scale(1) rotate(9deg);
  }
  70% {
    -moz-transform: scale(1) rotate(-20deg);
    transform: scale(1) rotate(-20deg);
  }
  to {
    -moz-transform: scale(1) rotate(9deg);
    transform: scale(1) rotate(9deg);
  }
}
@-o-keyframes an-hawk-wing-right {
  0% {
    -o-transform: scale(1) rotate(9deg);
    transform: scale(1) rotate(9deg);
  }
  70% {
    -o-transform: scale(1) rotate(-20deg);
    transform: scale(1) rotate(-20deg);
  }
  to {
    -o-transform: scale(1) rotate(9deg);
    transform: scale(1) rotate(9deg);
  }
}
@keyframes an-hawk-wing-right {
  0% {
    -webkit-transform: scale(1) rotate(9deg);
    -moz-transform: scale(1) rotate(9deg);
    -o-transform: scale(1) rotate(9deg);
    transform: scale(1) rotate(9deg);
  }
  70% {
    -webkit-transform: scale(1) rotate(-20deg);
    -moz-transform: scale(1) rotate(-20deg);
    -o-transform: scale(1) rotate(-20deg);
    transform: scale(1) rotate(-20deg);
  }
  to {
    -webkit-transform: scale(1) rotate(9deg);
    -moz-transform: scale(1) rotate(9deg);
    -o-transform: scale(1) rotate(9deg);
    transform: scale(1) rotate(9deg);
  }
}

@-webkit-keyframes an-hawk-body {
  0% {
    -webkit-transform: scale(1) translateY(2px);
    transform: scale(1) translateY(2px);
  }
  70% {
    -webkit-transform: scale(1) translateY(-6px);
    transform: scale(1) translateY(-6px);
  }
  to {
    -webkit-transform: scale(1) translateY(2px);
    transform: scale(1) translateY(2px);
  }
}
@-moz-keyframes an-hawk-body {
  0% {
    -moz-transform: scale(1) translateY(2px);
    transform: scale(1) translateY(2px);
  }
  70% {
    -moz-transform: scale(1) translateY(-6px);
    transform: scale(1) translateY(-6px);
  }
  to {
    -moz-transform: scale(1) translateY(2px);
    transform: scale(1) translateY(2px);
  }
}
@-o-keyframes an-hawk-body {
  0% {
    -o-transform: scale(1) translateY(2px);
    transform: scale(1) translateY(2px);
  }
  70% {
    -o-transform: scale(1) translateY(-6px);
    transform: scale(1) translateY(-6px);
  }
  to {
    -o-transform: scale(1) translateY(2px);
    transform: scale(1) translateY(2px);
  }
}
@keyframes an-hawk-body {
  0% {
    -webkit-transform: scale(1) translateY(2px);
    -moz-transform: scale(1) translateY(2px);
    -o-transform: scale(1) translateY(2px);
    transform: scale(1) translateY(2px);
  }
  70% {
    -webkit-transform: scale(1) translateY(-6px);
    -moz-transform: scale(1) translateY(-6px);
    -o-transform: scale(1) translateY(-6px);
    transform: scale(1) translateY(-6px);
  }
  to {
    -webkit-transform: scale(1) translateY(2px);
    -moz-transform: scale(1) translateY(2px);
    -o-transform: scale(1) translateY(2px);
    transform: scale(1) translateY(2px);
  }
}

@-webkit-keyframes an-hawk-wing-left {
  0% {
    -webkit-transform: scale(1) rotate(-20deg);
    transform: scale(1) rotate(-20deg);
  }
  70% {
    -webkit-transform: scale(1) rotate(9deg);
    transform: scale(1) rotate(9deg);
  }
  to {
    -webkit-transform: scale(1) rotate(-20deg);
    transform: scale(1) rotate(-20deg);
  }
}
@-moz-keyframes an-hawk-wing-left {
  0% {
    -moz-transform: scale(1) rotate(-20deg);
    transform: scale(1) rotate(-20deg);
  }
  70% {
    -moz-transform: scale(1) rotate(9deg);
    transform: scale(1) rotate(9deg);
  }
  to {
    -moz-transform: scale(1) rotate(-20deg);
    transform: scale(1) rotate(-20deg);
  }
}
@-o-keyframes an-hawk-wing-left {
  0% {
    -o-transform: scale(1) rotate(-20deg);
    transform: scale(1) rotate(-20deg);
  }
  70% {
    -o-transform: scale(1) rotate(9deg);
    transform: scale(1) rotate(9deg);
  }
  to {
    -o-transform: scale(1) rotate(-20deg);
    transform: scale(1) rotate(-20deg);
  }
}
@keyframes an-hawk-wing-left {
  0% {
    -webkit-transform: scale(1) rotate(-20deg);
    -moz-transform: scale(1) rotate(-20deg);
    -o-transform: scale(1) rotate(-20deg);
    transform: scale(1) rotate(-20deg);
  }
  70% {
    -webkit-transform: scale(1) rotate(9deg);
    -moz-transform: scale(1) rotate(9deg);
    -o-transform: scale(1) rotate(9deg);
    transform: scale(1) rotate(9deg);
  }
  to {
    -webkit-transform: scale(1) rotate(-20deg);
    -moz-transform: scale(1) rotate(-20deg);
    -o-transform: scale(1) rotate(-20deg);
    transform: scale(1) rotate(-20deg);
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
