.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-gucci_box {
  height: 2000px;

  position: relative;
}
.ag-gucci {
  width: 96%;

  /*z-index: 4;
  position: absolute;
  top: 0;
  left: 2%;*/
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
