html,
body,
.ag-wave-block {
    height: 100%;
}
.ag-wave-block {
  position: relative;
}

.ag-wave {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.ag-wave-1 {
  z-index: 1;
}
.ag-wave-2 {
  z-index: 2;
}
.ag-wave-3 {
  z-index: 3;
}