@font-face {
  font-family: Raleway-Bold;
  src: url(../fonts/Raleway-Bold/Raleway-Bold.eot);
  src: url(../fonts/Raleway-Bold/Raleway-Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/Raleway-Bold/Raleway-Bold.woff2) format('woff2'),
  url(../fonts/Raleway-Bold/Raleway-Bold.woff) format('woff'),
  url(../fonts/Raleway-Bold/Raleway-Bold.ttf) format('truetype'),
  url(../fonts/Raleway-Bold/Raleway-Bold.svg#Raleway-Bold) format('svg');
  font-weight: 700;
  font-style: normal;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

#baraban_container div:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/frame.png) no-repeat scroll 0 0;

  position: absolute;
  left: 0;
  top: 0;
}


#baraban_container {
  overflow: hidden;
  height: 39px;
  margin: 0 auto 10px;
  width: 336px;
  text-align: center
}
#baraban_container div {
  display: inline-block;
  background: url(../img/background.jpg) no-repeat center center;
  width: 27px;
  height: 100%;
  line-height: 39px;
  text-align: center;
  font-family: 'Logo';
  text-shadow: 0 -1px 0 black, 0 1px 0 white;
  color: #304058;
  font-size: 1.7em;
  position: relative;
  overflow: hidden
}
#baraban_6 {
  background: url(../img/background_prelast.jpg) no-repeat center center !important
}
#baraban_container div:last-child {
  background: url(../img/background_last.jpg) no-repeat center center;
}
#baraban_container div:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: url(../images/frame.png) no-repeat;
  left: 0;
  top: 0
}
#baraban_container div:before {
  content: '';
  width: 20px;
  height: 30px;
  position: absolute;
  display: none;
  left: 50%;
  margin-left: -10px;
  background: url(../img/backmove_2.png) center top;
  top: 50%;
  margin-top: -15px
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
