html,
body,
.ag-main-page,
.ag-family-page {
  height: 100%;
}
.ag-main-page {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/bg-main.jpg) no-repeat scroll 50% 100%;
  background-size: cover;

  overflow: hidden;

  position: relative;
}
.ag-family-page {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/bg-family.png) no-repeat scroll 50% 100%;
  background-size: cover;

  z-index: 100;
  position: relative;
}
.ag-shark {
  width: 463px;
  height: 143px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/shark.png) no-repeat scroll 0 0;
  background-size: cover;

  position: absolute;
  top: 250px;

  -webkit-animation: an-shark 30s infinite linear;
  -moz-animation: an-shark 30s infinite linear;
  -o-animation: an-shark 30s infinite linear;
  animation: an-shark 30s infinite linear;
}
.ag-angelfish {
  display: inline-block;
  height: 66px;
  width: 100px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/angelfish.png) no-repeat scroll 0 0;
  background-size: cover;

  position: absolute;
  top: 300px;

  -webkit-animation: an-angelfish 30s infinite linear;
  -moz-animation: an-angelfish 30s infinite linear;
  -o-animation: an-angelfish 30s infinite linear;
  animation: an-angelfish 30s infinite linear;
}

.ag-bluefish {
  display: inline-block;
  height: 40px;
  width: 70px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/bluefish.png) no-repeat scroll 0 0;
  background-size: cover;

  position: absolute;
  top: 650px;

  -webkit-animation: an-bluefish 42s infinite linear;
  -moz-animation: an-bluefish 42s infinite linear;
  -o-animation: an-bluefish 42s infinite linear;
  animation: an-bluefish 42s infinite linear;
}

.ag-clowntriggerfish {
  display: inline-block;
  height: 27px;
  width: 60px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/clowntriggerfish.png) no-repeat scroll 0 0;
  -webkit-background-size: cover;
  background-size: cover;

  position: absolute;
  top: 510px;

  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);

  -webkit-animation: an-clowntriggerfish 62s infinite;
  -moz-animation: an-clowntriggerfish 62s infinite;
  -o-animation: an-clowntriggerfish 62s infinite;
  animation: an-clowntriggerfish 62s infinite;

  -webkit-animation-timing-function: step-middle;
  animation-timing-function: step-middle;
}

.ag-dsafdasf {
  display: inline-block;
  height: 52px;
  width: 80px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/dsafdasf.png) no-repeat scroll 0 0;
  -webkit-background-size: cover;
  background-size: cover;

  -webkit-animation: an-dsafdasf 30s infinite linear;
  -moz-animation: an-dsafdasf 30s infinite linear;
  -o-animation: an-dsafdasf 30s infinite linear;
  animation: an-dsafdasf 30s infinite linear;

  position: absolute;
  top: 580px;
}

@-webkit-keyframes an-shark {
  0% {
    left: -463px;
  }
  100% {
    left: 220%;
  }
}

@keyframes an-shark {
  0% {
    left: -463px;
  }
  100% {
    left: 220%;
  }
}

@-webkit-keyframes an-angelfish {
  0% {
    right: -300px;
  }
  50% {
    right: 40%;
  }
  100% {
    right: 100%;
  }
}

@keyframes an-angelfish {
  0% {
    right: -300px;
  }
  50% {
    right: 40%;
  }
  100% {
    right: 100%;
  }
}

@-webkit-keyframes an-bluefish {
  0% {
    left: -270px;
  }
  50% {
    left: 40%;
  }
  100% {
    left: 100%;
  }
}

@keyframes an-bluefish {
  0% {
    left: -270px;
  }
  50% {
    left: 40%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes an-clowntriggerfish {
  0% {
    left: 150%;
  }
  100% {
    left: -60px;
  }
}

@keyframes an-clowntriggerfish {
  0% {
    left: 150%;
  }
  100% {
    left: -60px;
  }
}

@-webkit-keyframes an-dsafdasf {
  0% {
    right: -80px;
  }
  100% {
    right: 100%;
  }
}

@keyframes an-dsafdasf {
  0% {
    right: -80px;
  }
  100% {
    right: 100%;
  }
}

[class*=ag-fish-] {
  margin-left: -100px;

  z-index: 1;
  position: absolute;
  left: 0;
}
[class*=ag-fish-] > div {
  width: 100%;
}
[class*=ag-fish-] > div,
[class*=ag-fish-] > div:before {
  height: 100%;
  background-repeat: no-repeat;

  position: absolute;
  top: 0;
}
[class*=ag-fish-] > div:before {
  content: "";
  display: block;
  width: 25px;
  background-size: 100% 100%;
}
.ag-fish-1 {
  height: 33px;
  width: 60px;

  top: 431px;

  -webkit-animation: an-fish-anim-1 50s linear 0ms reverse none infinite running;
  -moz-animation: an-fish-anim-1 50s linear 0ms reverse none infinite running;
  -o-animation: an-fish-anim-1 50s linear 0ms reverse none infinite running;
  animation: an-fish-anim-1 50s linear 0ms reverse none infinite running;
}
.ag-fish-1 > div {
  width: 51px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/fish-1.png);

  left: 0;

  -webkit-animation: an-fish-anim-2 20s ease 0ms reverse none infinite running;
  -moz-animation: an-fish-anim-2 20s ease 0ms reverse none infinite running;
  -o-animation: an-fish-anim-2 20s ease 0ms reverse none infinite running;
  animation: an-fish-anim-2 20s ease 0ms reverse none infinite running;
}
.ag-fish-1 > div:before {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/fishtail-1.png);

  left: 100%;

  -webkit-animation: an-fish-anim-3 0.8s linear -.2s reverse none infinite running;
  -moz-animation: an-fish-anim-3 0.8s linear -.2s reverse none infinite running;
  -o-animation: an-fish-anim-3 0.8s linear -.2s reverse none infinite running;
  animation: an-fish-anim-3 0.8s linear -.2s reverse none infinite running;
}
.ag-fish-2 {
  height: 37px;
  width: 53px;

  top: 761px;

  -webkit-animation: an-fish-anim-1 60s linear -10s reverse none infinite running;
  -moz-animation: an-fish-anim-1 60s linear -10s reverse none infinite running;
  -o-animation: an-fish-anim-1 60s linear -10s reverse none infinite running;
  animation: an-fish-anim-1 60s linear -10s reverse none infinite running;
}
.ag-fish-2 > div {
  width: 43px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/fish-2.png);

  left: 0;

  -webkit-animation: an-fish-anim-2 20s ease -5s normal none infinite running;
  -moz-animation: an-fish-anim-2 20s ease -5s normal none infinite running;
  -o-animation: an-fish-anim-2 20s ease -5s normal none infinite running;
  animation: an-fish-anim-2 20s ease -5s normal none infinite running;
}
.ag-fish-2 > div:before {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/fishtail-2.png);

  left: 100%;

  -webkit-animation: an-fish-anim-31s linear -.4s reverse none infinite running;
  -moz-animation: an-fish-anim-31s linear -.4s reverse none infinite running;
  -o-animation: an-fish-anim-31s linear -.4s reverse none infinite running;
  animation: an-fish-anim-31s linear -.4s reverse none infinite running;
}
.ag-fish-3 {
  height: 70px;
  width: 99px;

  top: 392px;

  -webkit-animation: an-fish-anim-1 90s linear -20s normal none infinite running;
  -moz-animation: an-fish-anim-1 90s linear -20s normal none infinite running;
  -o-animation: an-fish-anim-1 90s linear -20s normal none infinite running;
  animation: an-fish-anim-1 90s linear -20s normal none infinite running;
}
.ag-fish-3 > div {
  width: 78px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/fish-3.png);
  background-position: 100% 0;

  right: 0;

  -webkit-animation: an-fish-anim-2 25s ease -10s normal none infinite running;
  -moz-animation: an-fish-anim-2 25s ease -10s normal none infinite running;
  -o-animation: an-fish-anim-2 25s ease -10s normal none infinite running;
  animation: an-fish-anim-2 25s ease -10s normal none infinite running;
}
.ag-fish-3 > div:before {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/fishtail-3.png);

  right: 100%;

  -webkit-animation: an-fish-anim-3 1.4s linear -.6s reverse none infinite running;
  -moz-animation: an-fish-anim-3 1.4s linear -.6s reverse none infinite running;
  -o-animation: an-fish-anim-3 1.4s linear -.6s reverse none infinite running;
  animation: an-fish-anim-3 1.4s linear -.6s reverse none infinite running;
}
.ag-fish-4 {
  height: 33px;
  width: 69px;

  top: 637px;

  -webkit-animation: an-fish-anim-170s linear -30s normal none infinite running;
  -moz-animation: an-fish-anim-170s linear -30s normal none infinite running;
  -o-animation: an-fish-anim-170s linear -30s normal none infinite running;
  animation: an-fish-anim-170s linear -30s normal none infinite running;
}
.ag-fish-4 > div {
  width: 58px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/fish-4.png);
  background-position: 100% 0;

  right: 0;

  -webkit-animation: an-fish-anim-230s ease -15s normal none infinite running;
  -moz-animation: an-fish-anim-230s ease -15s normal none infinite running;
  -o-animation: an-fish-anim-230s ease -15s normal none infinite running;
  animation: an-fish-anim-230s ease -15s normal none infinite running;
}
.ag-fish-4 > div:before {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/fishtail-4.png);

  right: 100%;

  -webkit-animation: an-fish-anim-3 1.2s linear -.8s reverse none infinite running;
  -moz-animation: an-fish-anim-3 1.2s linear -.8s reverse none infinite running;
  -o-animation: an-fish-anim-3 1.2s linear -.8s reverse none infinite running;
  animation: an-fish-anim-3 1.2s linear -.8s reverse none infinite running;
}
.ag-fish-5 {
  height: 48px;
  width: 102px;

  top: 697px;

  -webkit-animation: an-fish-anim-1 80s linear -40s reverse none infinite running;
  -moz-animation: an-fish-anim-1 80s linear -40s reverse none infinite running;
  -o-animation: an-fish-anim-1 80s linear -40s reverse none infinite running;
  animation: an-fish-anim-1 80s linear -40s reverse none infinite running;
}
.ag-fish-5 > div {
  left: 0;
  width: 85px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/fish-5.png);

  -webkit-animation: an-fish-anim-235s ease -20s normal none infinite running;
  -moz-animation: an-fish-anim-235s ease -20s normal none infinite running;
  -o-animation: an-fish-anim-235s ease -20s normal none infinite running;
  animation: an-fish-anim-235s ease -20s normal none infinite running;
}
.ag-fish-5 > div:before {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/fishtail-5.png);

  left: 100%;

  -webkit-animation: an-fish-anim-3 1.6s linear -1s reverse none infinite running;
  -moz-animation: an-fish-anim-3 1.6s linear -1s reverse none infinite running;
  -o-animation: an-fish-anim-3 1.6s linear -1s reverse none infinite running;
  animation: an-fish-anim-3 1.6s linear -1s reverse none infinite running;
}
.ag-fish-6-1 {
  height: 100px;
  width: 104px;

  z-index: 0;
  top: 297px;

  -webkit-animation: an-fish-anim-1 100s linear 1s reverse none infinite running;
  -moz-animation: an-fish-anim-1 100s linear 1s reverse none infinite running;
  -o-animation: an-fish-anim-1 100s linear 1s reverse none infinite running;
  animation: an-fish-anim-1 100s linear 1s reverse none infinite running;
}
.ag-fish-6-1 > div {
  width: 104px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/fish-6-1.png);

  left: 0;
}
.ag-fish-6-2 {
  height: 54px;
  width: 137px;

  z-index: 0;
  top: 363px;

  -webkit-animation: an-fish-anim-1120s linear -10s normal none infinite running;
  -moz-animation: an-fish-anim-1120s linear -10s normal none infinite running;
  -o-animation: an-fish-anim-1120s linear -10s normal none infinite running;
  animation: an-fish-anim-1120s linear -10s normal none infinite running;
}
.ag-fish-6-2 > div {
  width: 137px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/fish-6-2.png);

  left: 0;
}
.ag-fish-6-3 {
  height: 90px;
  width: 332px;

  z-index: 0;
  top: 690px;

  -webkit-animation: an-fish-anim-1140s linear -20s normal none infinite running;
  -moz-animation: an-fish-anim-1140s linear -20s normal none infinite running;
  -o-animation: an-fish-anim-1140s linear -20s normal none infinite running;
  animation: an-fish-anim-1140s linear -20s normal none infinite running;
}
.ag-fish-6-3 > div {
  width: 332px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/fish-6-3.png);

  left: 0;
}
.ag-fish-6-4 {
  height: 72px;
  width: 160px;

  z-index: 0;
  top: 200px;

  -webkit-animation: an-fish-anim-1 160s linear -30s normal none infinite running;
  -moz-animation: an-fish-anim-1 160s linear -30s normal none infinite running;
  -o-animation: an-fish-anim-1 160s linear -30s normal none infinite running;
  animation: an-fish-anim-1 160s linear -30s normal none infinite running;
}
.ag-fish-6-4 > div {
  width: 160px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/fish-6-4.png);

  left: 0;
}

.js-ag-bubble_item {
  margin-bottom: -20px;
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/aquarium-original/images/bubble.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  position: absolute;
  bottom: -10%;

  -webkit-animation: ag-bubble-anim linear reverse none infinite running;
  -moz-animation: ag-bubble-anim linear reverse none infinite running;
  -o-animation: ag-bubble-anim linear reverse none infinite running;
  animation: ag-bubble-anim linear reverse none infinite running;
}
.js-ag-bubble_item__dop {
  margin-bottom: 20px;

  opacity: .2;

  bottom: 100%;

  -webkit-transition: bottom, opacity, margin-bottom;
  -moz-transition: bottom, opacity, margin-bottom;
  -o-transition: bottom, opacity, margin-bottom;
  transition: bottom, opacity, margin-bottom;

  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.ag-bubble_list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 200px;
}

@-webkit-keyframes an-fish-anim-1 {
  0% {
    margin-left: -350px;

    left: 0;
  }
  80% {
    margin-left: 350px;

    left: 100%;
  }
  to {
    margin-left: 350px;

    left: 100%;
  }
}
@-moz-keyframes an-fish-anim-1 {
  0% {
    margin-left: -350px;

    left: 0;
  }
  80% {
    margin-left: 350px;

    left: 100%;
  }
  to {
    margin-left: 350px;

    left: 100%;
  }
}
@-o-keyframes an-fish-anim-1 {
  0% {
    margin-left: -350px;

    left: 0;
  }
  80% {
    margin-left: 350px;

    left: 100%;
  }
  to {
    margin-left: 350px;

    left: 100%;
  }
}
@keyframes an-fish-anim-1 {
  0% {
    margin-left: -350px;

    left: 0;
  }
  80% {
    margin-left: 350px;

    left: 100%;
  }
  to {
    margin-left: 350px;

    left: 100%;
  }
}

@-webkit-keyframes an-fish-anim-2 {
  0% {
    margin-top: -50px;
  }
  50% {
    margin-top: 50px;
  }
  to {
    margin-top: -50px;
  }
}
@-moz-keyframes an-fish-anim-2 {
  0% {
    margin-top: -50px;
  }
  50% {
    margin-top: 50px;
  }
  to {
    margin-top: -50px;
  }
}
@-o-keyframes an-fish-anim-2 {
  0% {
    margin-top: -50px;
  }
  50% {
    margin-top: 50px;
  }
  to {
    margin-top: -50px;
  }
}
@keyframes an-fish-anim-2 {
  0% {
    margin-top: -50px;
  }
  50% {
    margin-top: 50px;
  }
  to {
    margin-top: -50px;
  }
}

@-webkit-keyframes an-fish-anim-3 {
  0% {
    width: 25px;
  }
  50% {
    width: 14px;
  }
  to {
    width: 25px;
  }
}
@-moz-keyframes an-fish-anim-3 {
  0% {
    width: 25px;
  }
  50% {
    width: 14px;
  }
  to {
    width: 25px;
  }
}
@-o-keyframes an-fish-anim-3 {
  0% {
    width: 25px;
  }
  50% {
    width: 14px;
  }
  to {
    width: 25px;
  }
}
@keyframes an-fish-anim-3 {
  0% {
    width: 25px;
  }
  50% {
    width: 14px;
  }
  to {
    width: 25px;
  }
}

@-webkit-keyframes ag-bubble-anim {
  0% {
    margin-left: -2px;

    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
  }
  50% {
    margin-left: 2px;

    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
  }
  to {
    margin-left: -2px;

    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
  }
}
@-moz-keyframes ag-bubble-anim {
  0% {
    margin-left: -2px;

    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
  }
  50% {
    margin-left: 2px;

    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
  }
  to {
    margin-left: -2px;

    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
  }
}
@-o-keyframes ag-bubble-anim {
  0% {
    margin-left: -2px;

    -o-animation-timing-function: ease;
    animation-timing-function: ease;
  }
  50% {
    margin-left: 2px;

    -o-animation-timing-function: ease;
    animation-timing-function: ease;
  }
  to {
    margin-left: -2px;

    -o-animation-timing-function: ease;
    animation-timing-function: ease;
  }
}
@keyframes ag-bubble-anim {
  0% {
    margin-left: -2px;

    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
  }
  50% {
    margin-left: 2px;

    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
  }
  to {
    margin-left: -2px;

    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
  }
}