.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

body {
  background-color: #dbf0f5;
}

.ag-sun {
  height: 150px;
  width: 150px;
  background-color: #f7ed5b;

  z-index: 1;
  position: absolute;
  left: 15%;
  top: 15%;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.ag-wave {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.ag-wave path {
  fill: #6ce7e9;
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
