.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

img {
   max-width: 100%;
 }

body {
  background-color: #FDCBCE;
}
.ag-candies-block {
  font-size: 1rem;
}
.ag-candies_box-wrap {
  width: 739px;
  margin: 0 auto;

  font-size: 1rem;
}
.ag-candies_box {
  position: relative;
}
.ag-candies_item {
  position: absolute;

  cursor: pointer;

  -webkit-filter: brightness(.8);
  filter: brightness(.8);

  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.js-ag-active {
  opacity: 0;
}
.ag-candies_item:hover {
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.ag-candies_item-1 {
  width: 11.5%;

  top: 17.2%;
  left: 46.7%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ag-candies_item-2 {
  width: 11.5%;

  top: 18.2%;
  right: 39.7%;

  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.ag-candies_item-3 {
  width: 10.5%;

  top: 30%;
  left: 53.5%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ag-candies_item-4 {
  width: 11.5%;

  top: 44%;
  left: 53.9%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ag-candies_item-5 {
  width: 10%;

  top: 59%;
  left: 54%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ag-candies_item-6 {
  width: 15%;

  left: 54%;
  bottom: 23.1%;

  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.ag-candies_item-7 {
  width: 12%;

  left: 44.3%;
  bottom: 30.9%;

  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.ag-candies_item-8 {
  width: 12%;

  right: 37.1%;
  bottom: 30.7%;

  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.ag-candies_item-9 {
  width: 15.5%;

  right: 26.5%;
  bottom: 41%;

  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.ag-candies_item-10 {
  width: 11.5%;

  top: 47.5%;
  right: 18.8%;

  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.ag-candies_item-11 {
  width: 15.5%;

  top: 35.7%;
  right: 16.6%;

  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.ag-candies_item-12 {
  width: 12%;

  top: 24.4%;
  right: 15.7%;

  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.ag-candies_item-13 {
  width: 13.5%;

  top: 15.7%;
  right: 26.3%;

  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.ag-candies_item-14 {
  width: 11.5%;

  bottom: 47.5%;
  right: 36.3%;

  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.ag-candies_item-15 {
  width: 14%;

  top: 39.7%;
  right: 32.4%;

  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.ag-candies_item-16 {
  width: 15.5%;

  top: 27.5%;
  right: 31.6%;

  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.ag-candies_item-17 {
  width: 16%;

  left: 35%;
  bottom: 40.9%;

  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.ag-candies_item-18 {
  width: 12%;

  bottom: 52%;
  left: 25.8%;

  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.ag-candies_item-19 {
  width: 15%;

  top: 36.4%;
  left: 23.5%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ag-candies_item-20 {
  width: 12%;

  top: 24.8%;
  left: 22%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ag-candies_item-21 {
  width: 13.5%;

  top: 15.9%;
  left: 32.9%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ag-candies_item-22 {
  width: 16%;

  top: 27.4%;
  left: 38%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ag-candies_item-23 {
  width: 14.5%;

  top: 39.8%;
  left: 39.1%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ag-candies_item-24 {
  width: 11.5%;

  top: 52%;
  left: 42.9%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* heart */
.ag-heart {
  height: 6.25em;
  width: 6.25em;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/candies/images/heart.png) no-repeat 0 50%;
  background-size: auto 100%;

  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-animation: an-heart steps(28, start) 2s infinite;
  -moz-animation: an-heart steps(28, start) 2s infinite;
  -o-animation: an-heart steps(28, start) 2s infinite;
  animation: an-heart steps(28, start) 2s infinite;
}

@-webkit-keyframes an-heart {
  to {
    background-position-x: 100%;
  }
}
@-moz-keyframes an-heart {
  to {
    background-position-x: 100%;
  }
}
@-o-keyframes an-heart {
  to {
    background-position-x: 100%;
  }
}
@keyframes an-heart {
  to {
    background-position-x: 100%;
  }
}
/* /heart */


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-candies_box-wrap {
    width: 100%;
  }
}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
