.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


img {
  max-width: 100%;
}

.ag-grid__wrap {
  overflow: hidden;
}
.ag-grid_item {
  padding: 20px 0;
  border-bottom: 1px solid #dfdfdf;
}
.ag-info_img-box {
  float: left;
  width: 48%;
  margin: 0 5% 0 0;
}
.ag-grid_item:nth-child(odd) .ag-info_img-box {
  float: right;
  margin: 0 0 0 5%;
}
.ag-info_box {
  display: table;
  float: right;
  height: 275px;
  width: 100%;
}
.ag-grid_item:nth-child(odd) .ag-info_box {
  float: left;
}
.ag-info_descr {
  display: table-cell;

  vertical-align: middle;
}
.ag-info_title {
  font-weight: bold;
  font-size: 30px;
}
.ag-info_text {
  line-height: 1.45;

  font-size: 16px;
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-grid__wrap {
    overflow: visible;
  }

  .ag-info_img-box,
  .ag-grid_item:nth-child(odd) .ag-info_img-box {
    float: none;
    width: auto;
    margin: 0 0 20px;
  }
  .ag-info_box,
  .ag-grid_item:nth-child(odd) .ag-info_box {
    float: none;
    height: auto;
  }
}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }


  .ag-info_box {
    height: 185px;
  }
}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}