@font-face {
  font-family: Acrom-ExtraBold;
  src: url(https://rawcdn.githack.com/SochavaAG/example-mycode/raw/master/pens/gambling-slot-machine/fonts/Acrom-ExtraBold/Acrom-ExtraBold.eot);
  src: url(https://rawcdn.githack.com/SochavaAG/example-mycode/raw/master/pens/gambling-slot-machine/fonts/Acrom-ExtraBold/Acrom-ExtraBold.eot?#iefix) format('embedded-opentype'),
  url(https://rawcdn.githack.com/SochavaAG/example-mycode/raw/master/pens/gambling-slot-machine/fonts/Acrom-ExtraBold/Acrom-ExtraBold.woff2) format('woff2'),
  url(https://rawcdn.githack.com/SochavaAG/example-mycode/raw/master/pens/gambling-slot-machine/fonts/Acrom-ExtraBold/Acrom-ExtraBold.woff) format('woff'),
  url(https://rawcdn.githack.com/SochavaAG/example-mycode/raw/master/pens/gambling-slot-machine/fonts/Acrom-ExtraBold/Acrom-ExtraBold.ttf) format('truetype'),
  url(https://rawcdn.githack.com/SochavaAG/example-mycode/raw/master/pens/gambling-slot-machine/fonts/Acrom-ExtraBold/Acrom-ExtraBold.svg#Acrom-ExtraBold) format('svg');
  font-weight: bold;
  font-style: normal;
}

.js-gambling-slot_letter {
  display: block;

  position: relative;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-gambling-slot-block {
  padding: 50px 0;
  background-color: #001128;
}
.ag-gambling-slot_list {
  height: 39px;
  margin: 0 auto 10px;

  overflow: hidden;

  text-align: center
}
.ag-gambling-slot_item {
  display: inline-block;
  height: 100%;
  line-height: 39px;
  width: 25px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/gambling-slot-machine/images/sprite.png) no-repeat scroll 2px -115px #B3B8BC;

  overflow: hidden;

  text-align: center;
  font-family: Acrom-ExtraBold, sans-serif;
  font-size: 16px;
  color: #304058;

  text-shadow: 0 -1px 0 #000, 0 1px 0 #FFF;

  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;

  position: relative;
}
.ag-gambling-slot_item__first {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/gambling-slot-machine/images/sprite.png) no-repeat scroll 2px -40px #B3B8BC;
}
.ag-gambling-slot_item:last-child {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/gambling-slot-machine/images/sprite.png) no-repeat scroll 2px -78px #B3B8BC;
}
.ag-gambling-slot_item:before {
  content: "";
  display: none;
  height: 30px;
  width: 20px;
  margin-top: -15px;
  margin-left: -10px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/gambling-slot-machine/images/sprite.png) repeat-y -30px 0;

  position: absolute;
  top: 50%;
  left: 50%;
}
.js-ag-animate:before {
  display:block;

  -webkit-animation: an-gambling-slot 3s infinite;
  -moz-animation: an-gambling-slot 3s infinite;
  -ms-animation: an-gambling-slot 3s infinite;
  -o-animation: an-gambling-slot 3s infinite;
  animation: an-gambling-slot 3s infinite;
}
.ag-gambling-slot_item:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/gambling-slot-machine/images/sprite.png) no-repeat scroll 0 0;

  position: absolute;
  left: 0;
  top: 0;
}

.ag-logo-block {
  height: 13px;
  width: 228px;
  margin: 0 auto;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/gambling-slot-machine/images/logo-bottom.png) no-repeat scroll 0 0;

  position: relative;
}
.ag-logo_light {
  display: none;
  height: 26px;
  width: 51px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/gambling-slot-machine/images/sprite.png) no-repeat scroll -49px 2px;

  position: absolute;
  bottom: 6px;
}
.ag-logo_light__red {
  left: -6px;
}
.ag-logo_light__yellow {
  background-position: -49px -50px;

  left: 12px;
}
.ag-logo_light__grey {
  background-position: -49px -24px;

  right: -7px;
}

@-webkit-keyframes an-gambling-slot {
  0% {
    background-position: -30px 0;
  }

  100% {
    background-position: -30px 2000px;
  }

}
@-moz-keyframes an-gambling-slot {
  0% {
    background-position: -30px 0;
  }

  100% {
    background-position: -30px 2000px;
  }
}

@-ms-keyframes an-gambling-slot {
  0% {
    background-position: -30px 0;
  }

  100% {
    background-position: -30px 2000px;
  }
}

@-o-keyframes an-gambling-slot {
  0% {
    background-position: -30px 0;
  }

  100% {
    background-position: -30px 2000px;
  }
}

@keyframes an-gambling-slot {
  0% {
    background-position: -30px 0;
  }

  100% {
    background-position: -30px 2000px;
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
