.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


html, body {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.ag-balls {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(255,255,255,.2);
  background-image: url(https://rharrington1992.files.wordpress.com/2012/10/a3-two11.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100px 100px;

  position: absolute;

  mix-blend-mode: soft-light;

  pointer-events: none;

  transform: translate(-50%, -50%);
  transition: 200ms;

  filter: blur(0px);
}

.ag-ball-1 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, rgba(0,0,0,.75), rgba(0,0,0,.75)),  url(https://rharrington1992.files.wordpress.com/2012/10/a3-two11.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  top: 0;
  left: 0;

  filter: blur(3px) grayscale(100%);
}
.ag-ball-1,
.ag-ball-2,
.ag-ball-3 {
  transition: 100ms;
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
