.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


body {
  background-color: #000B56;
}

.ag-wave-block {
  padding: 0 0 45%;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-waves/images/beach.png) repeat-x scroll 0 0;
  background-size: 100% auto;

  overflow: hidden;

  position: relative;
}
.ag-wave_list {
  white-space: nowrap;
  font-size: 0;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.ag-wave_item {
  display: inline-block;
  width: 200%;
  padding: 0 0 50%;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-waves/images/wave-1.png) repeat-x scroll 0 100%;
  background-size: 25% auto;

  vertical-align: bottom;

  -webkit-animation: an-waves-1 20s linear infinite;
  -moz-animation: an-waves-1 20s linear infinite;
  -o-animation: an-waves-1 20s linear infinite;
  animation: an-waves-1 20s linear infinite;
}
.ag-wave_box-item:nth-child(2) .ag-wave_item {
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-waves/images/wave-1.png) repeat-x scroll 50% 100%;
  background-size: 25% auto;

  -webkit-animation: an-waves-2 22s linear infinite;
  -moz-animation: an-waves-2 22s linear infinite;
  -o-animation: an-waves-2 22s linear infinite;
  animation: an-waves-2 22s linear infinite;
}

@-webkit-keyframes an-waves-1 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  25% {
    -webkit-transform: translateX(-25%) translateY(-5%);
    transform: translateX(-25%) translateY(-5%);
  }
  75% {
    -webkit-transform: translateX(-75%) translateY(5%);
    transform: translateX(-75%) translateY(5%);
  }
  100% {
    -webkit-transform: translateX(-100%) translateY(0);
    transform: translateX(-100%) translateY(0);
  }
}
@-moz-keyframes an-waves-1 {
  0% {
    -moz-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  25% {
    -moz-transform: translateX(-25%) translateY(-5%);
    transform: translateX(-25%) translateY(-5%);
  }
  75% {
    -moz-transform: translateX(-75%) translateY(5%);
    transform: translateX(-75%) translateY(5%);
  }
  100% {
    -moz-transform: translateX(-100%) translateY(0);
    transform: translateX(-100%) translateY(0);
  }
}
@-o-keyframes an-waves-1 {
  0% {
    -o-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  25% {
    -o-transform: translateX(-25%) translateY(-5%);
    transform: translateX(-25%) translateY(-5%);
  }
  75% {
    -o-transform: translateX(-75%) translateY(5%);
    transform: translateX(-75%) translateY(5%);
  }
  100% {
    -o-transform: translateX(-100%) translateY(0);
    transform: translateX(-100%) translateY(0);
  }
}
@keyframes an-waves-1 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  25% {
    -webkit-transform: translateX(-25%) translateY(-5%);
    -moz-transform: translateX(-25%) translateY(-5%);
    -o-transform: translateX(-25%) translateY(-5%);
    transform: translateX(-25%) translateY(-5%);
  }
  75% {
    -webkit-transform: translateX(-75%) translateY(5%);
    -moz-transform: translateX(-75%) translateY(5%);
    -o-transform: translateX(-75%) translateY(5%);
    transform: translateX(-75%) translateY(5%);
  }
  100% {
    -webkit-transform: translateX(-100%) translateY(0);
    -moz-transform: translateX(-100%) translateY(0);
    -o-transform: translateX(-100%) translateY(0);
    transform: translateX(-100%) translateY(0);
  }
}

@-webkit-keyframes an-waves-2 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  25% {
    -webkit-transform: translateX(-25%) translateY(5%);
    transform: translateX(-25%) translateY(5%);
  }
  75% {
    -webkit-transform: translateX(-75%) translateY(-5%);
    transform: translateX(-75%) translateY(-5%);
  }
  100% {
    -webkit-transform: translateX(-100%) translateY(0);
    transform: translateX(-100%) translateY(0);
  }
}
@-moz-keyframes an-waves-2 {
  0% {
    -moz-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  25% {
    -moz-transform: translateX(-25%) translateY(5%);
    transform: translateX(-25%) translateY(5%);
  }
  75% {
    -moz-transform: translateX(-75%) translateY(-5%);
    transform: translateX(-75%) translateY(-5%);
  }
  100% {
    -moz-transform: translateX(-100%) translateY(0);
    transform: translateX(-100%) translateY(0);
  }
}
@-o-keyframes an-waves-2 {
  0% {
    -o-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  25% {
    -o-transform: translateX(-25%) translateY(5%);
    transform: translateX(-25%) translateY(5%);
  }
  75% {
    -o-transform: translateX(-75%) translateY(-5%);
    transform: translateX(-75%) translateY(-5%);
  }
  100% {
    -o-transform: translateX(-100%) translateY(0);
    transform: translateX(-100%) translateY(0);
  }
}
@keyframes an-waves-2 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  25% {
    -webkit-transform: translateX(-25%) translateY(5%);
    -moz-transform: translateX(-25%) translateY(5%);
    -o-transform: translateX(-25%) translateY(5%);
    transform: translateX(-25%) translateY(5%);
  }
  75% {
    -webkit-transform: translateX(-75%) translateY(-5%);
    -moz-transform: translateX(-75%) translateY(-5%);
    -o-transform: translateX(-75%) translateY(-5%);
    transform: translateX(-75%) translateY(-5%);
  }
  100% {
    -webkit-transform: translateX(-100%) translateY(0);
    -moz-transform: translateX(-100%) translateY(0);
    -o-transform: translateX(-100%) translateY(0);
    transform: translateX(-100%) translateY(0);
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
