body {
  background-color: #000;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-lamp {
  height: 196px;
  width: 191px;
  margin: 50px auto;
  background: url(https://rawcdn.githack.com/SochavaAG/example-mycode/master/pens/animation-lamp/images/lamp.png) no-repeat 0 50%;

  -webkit-animation: an-lamp 2s infinite;
  -moz-animation: an-lamp 2s infinite;
  -o-animation: an-lamp 2s infinite;
  animation: an-lamp 2s infinite;
}
@-webkit-keyframes an-lamp {
  0%,
  100% {
    opacity: .5;
  }
  30%,
  60% {
    opacity: 1;
  }
}

@-moz-keyframes an-lamp {
  0%,
  100% {
    opacity: .5;
  }
  30%,
  60% {
    opacity: 1;
  }
}

@-o-keyframes an-lamp {
  0%,
  100% {
    opacity: .5;
  }
  30%,
  60% {
    opacity: 1;
  }
}

@keyframes an-lamp {
  0%,
  100% {
    opacity: .5;
  }
  30%,
  60% {
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
