.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


body {
  height: 2000px;
}
.ag-primary-block {
  height: 700px;
  background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/scroll-animation-circle/images/bg.png) no-repeat scroll 50% 100% #F3F3F3;

  position: relative;
}
.ag-primary_icon {
  height: 210px;
  width: 210px;

  position: absolute;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.ag-primary_icon-1 {
  background-color: #FFD200;

  left: calc(50% - 570px);
  bottom: 273px;
}
.ag-primary_icon-2 {
  background-color: #74d519;

  left: calc(50% - 273px);
  bottom: 140px;

  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}
.ag-primary_icon-3 {
  background-color: #1a2fff;

  left: calc(50% + 57px);
  bottom: 140px;

  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.ag-primary_icon-4 {
  background-color: #ff920b;

  left: calc(50% + 357px);
  bottom: 273px;

  -webkit-transition: all .35s linear;
  -moz-transition: all .35s linear;
  -o-transition: all .35s linear;
  transition: all .35s linear;
}

@media only screen and (max-width: 767px) {
  .ag-primary_icon {
    height: 120px;
    width: 120px;
  }
  .ag-primary_icon-1 {
    left: 10px;
  }
  .ag-primary_icon-2 {
    left: 27%;
  }
  .ag-primary_icon-3 {
    left: auto;
    right: 27%;
  }
  .ag-primary_icon-4 {
    left: auto;
    right: 10px;
  }
}

@media only screen and (max-width: 639px) {
  .ag-primary_icon-2 {
    left: 20%;
  }
  .ag-primary_icon-3 {
    right: 20%;
  }
}

@media only screen and (max-width: 479px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-primary_icon {
    height: 80px;
    width: 80px;
  }
  .ag-primary_icon-1 {
    left: 10px;
    bottom: 220px;
  }
  .ag-primary_icon-2 {
    left: 60px;
    bottom: 100px;
  }
  .ag-primary_icon-3 {
    right: 60px;
    bottom: 100px;
  }
  .ag-primary_icon-4 {
    bottom: 220px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

  .ag-primary_icon {
    height: 180px;
    width: 180px;
  }
  .ag-primary_icon-1 {
    left: calc(50% - 360px);
  }
  .ag-primary_icon-2 {
    left: calc(50% - 200px);
  }
  .ag-primary_icon-3 {
    left: calc(50% + 18px);
  }
  .ag-primary_icon-4 {
    left: calc(50% + 180px);
  }
}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

  .ag-primary_icon-1 {
    left: calc(50% - 460px);
  }
  .ag-primary_icon-2 {
    left: calc(50% - 253px);
  }
  .ag-primary_icon-3 {
    left: calc(50% + 40px);
  }
  .ag-primary_icon-4 {
    left: calc(50% + 247px);
  }
}
