.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


body {
  background-color: #000;
}

.ag-king-man {
  height: 44.06em;
  width: 27.18em;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-king-man/images/body.png) no-repeat 50% 50%;
  background-size: cover;

  z-index: 1;
  position: absolute;
  left: 50%;
  bottom: 0;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.ag-king-man::before {
  content: "";
  height: 21.75em;
  width: 12.14em;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-king-man/images/head.png) no-repeat 50% 50%;
  background-size: cover;

  z-index: 3;
  position: absolute;
  top: -12em;
  left: 6em;
}
.ag-king-man::after {
  content: "";
  height: 30.66em;
  width: 36.375em;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-king-man/images/hand.png) no-repeat 50% 50%;
  background-size: cover;

  z-index: 2;
  position: absolute;
  top: -10.3em;
  left: -7.5em;

  -webkit-animation: an-king-move-hand 8s linear infinite;
  -moz-animation: an-king-move-hand 8s linear infinite;
  -o-animation: an-king-move-hand 8s linear infinite;
  animation: an-king-move-hand 8s linear infinite;
}
.ag-king-man_sleeve {
  height: 6em;
  width: 7em;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-king-man/images/sleeve.png) no-repeat 50% 50%;
  background-size: 100% 100%;

  z-index: 0;
  position: absolute;
  top: 4em;
  left: -0.75em;

  -webkit-animation: an-king-sleeve 8s linear infinite;
  -moz-animation: an-king-sleeve 8s linear infinite;
  -o-animation: an-king-sleeve 8s linear infinite;
  animation: an-king-sleeve 8s linear infinite;
}

@-webkit-keyframes an-king-move-hand {
  0%, 10%, 50%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  5% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}
@-moz-keyframes an-king-move-hand {
  0%, 10%, 50%, 100% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  5% {
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}
@-o-keyframes an-king-move-hand {
  0%, 10%, 50%, 100% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  5% {
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}
@keyframes an-king-move-hand {
  0%, 10%, 50%, 100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  5% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

@-webkit-keyframes an-king-sleeve {
  0%, 10%, 50%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(10%, -10%);
    transform: translate(10%, -10%);
  }
}
@-moz-keyframes an-king-sleeve {
  0%, 10%, 50%, 100% {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  5% {
    -moz-transform: translate(10%, -10%);
    transform: translate(10%, -10%);
  }
}
@-o-keyframes an-king-sleeve {
  0%, 10%, 50%, 100% {
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  5% {
    -o-transform: translate(10%, -10%);
    transform: translate(10%, -10%);
  }
}
@keyframes an-king-sleeve {
  0%, 10%, 50%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(10%, -10%);
    -moz-transform: translate(10%, -10%);
    -o-transform: translate(10%, -10%);
    transform: translate(10%, -10%);
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-king-man {
    height: 19.584em;
    width: 12.08em;
  }
  .ag-king-man::before {
    height: 9.67em;
    width: 5.4em;

    top: -5.5em;
    left: 2.75em;
  }
  .ag-king-man::after {
    height: 13.625em;
    width: 16.167em;

    top: -5em;
    left: -3.5em;
  }
  .ag-king-man_sleeve {
    height: 2.375em;
    width: 3.02em;

    top: 2em;
    left: -0.15em;
  }
}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
