.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


.ag-img {
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;

  -webkit-animation: an-swinging 5s ease infinite;
  -moz-animation: an-swinging 5s ease infinite;
  -o-animation: an-swinging 5s ease infinite;
  animation: an-swinging 5s ease infinite;
}

@-webkit-keyframes an-swinging {
  0% {
    -webkit-transform: rotate(-6deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-6deg);
  }
}
@-moz-keyframes an-swinging {
  0% {
    -moz-transform: rotate(-6deg);
  }
  25% {
    -moz-transform: rotate(3deg);
  }
  50% {
    -moz-transform: rotate(-5deg);
  }
  75% {
    -moz-transform: rotate(3deg);
  }
  100% {
    -moz-transform: rotate(-6deg);
  }
}
@-o-keyframes an-swinging {
  0% {
    -o-transform: rotate(-6deg);
  }
  25% {
    -o-transform: rotate(3deg);
  }
  50% {
    -o-transform: rotate(-5deg);
  }
  75% {
    -o-transform: rotate(3deg);
  }
  100% {
    -o-transform: rotate(-6deg);
  }
}

@keyframes an-swinging {
  0% {
    transform: rotate(-6deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
