.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

html, body {
  height: 100%;

  overflow: hidden;
}
.ag-fly-block {
  height: 100%;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-fly-aircraft-balloon/images/bg.jpeg) no-repeat scroll 50% 0 #FF5C27;

  position: relative;
}
.ag-fly-block:before {
  content: "";
  height: 88px;
  width: 190px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-fly-aircraft-balloon/images/aircraft.png) no-repeat scroll 0 0;

  position: absolute;
  top: 0;
  left: 0;

  -webkit-transform: translate(-700px, 150px);
  -moz-transform: translate(-700px, 150px);
  -ms-transform: translate(-700px, 150px);
  -o-transform: translate(-700px, 150px);
  transform: translate(-700px, 150px);

  will-change: transform;

  -webkit-animation: an-aircraft 20s linear infinite;
  -moz-animation: an-aircraft 20s linear infinite;
  -o-animation: an-aircraft 20s linear infinite;
  animation: an-aircraft 20s linear infinite;
}
.ag-fly-block:after {
  content: "";
  height: 153px;
  width: 118px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-fly-aircraft-balloon/images/balloon.png) no-repeat scroll 0 0;

  position: absolute;
  top: 0;
  right: 0;

  -webkit-transform: translate(-240px, 150px);
  -moz-transform: translate(-240px, 150px);
  -ms-transform: translate(-240px, 150px);
  -o-transform: translate(-240px, 150px);
  transform: translate(-240px, 150px);

  will-change: transform;

  -webkit-animation: an-balloon 30s linear infinite;
  -moz-animation: an-balloon 30s linear infinite;
  -o-animation: an-balloon 30s linear infinite;
  animation: an-balloon 30s linear infinite;
}

@-webkit-keyframes an-aircraft {
  0% {
    -webkit-transform: translate(-800px, 150px);
    transform: translate(-800px, 150px);
  }
  60% {
    -webkit-transform: translate(800px, -70px);
    transform: translate(800px, -70px);
  }
  to {
    -webkit-transform: translate(800px, -70px);
    transform: translate(800px, -70px);
  }
}
@-moz-keyframes an-aircraft {
  0% {
    -webkit-transform: translate(-800px, 150px);
    -moz-transform: translate(-800px, 150px);
    transform: translate(-800px, 150px);
  }
  60% {
    -webkit-transform: translate(800px, -70px);
    -moz-transform: translate(800px, -70px);
    transform: translate(800px, -70px);
  }
  to {
    -webkit-transform: translate(800px, -70px);
    -moz-transform: translate(800px, -70px);
    transform: translate(800px, -70px);
  }
}
@-o-keyframes an-aircraft {
  0% {
    -webkit-transform: translate(-800px, 150px);
    -o-transform: translate(-800px, 150px);
    transform: translate(-800px, 150px);
  }
  60% {
    -webkit-transform: translate(800px, -70px);
    -o-transform: translate(800px, -70px);
    transform: translate(800px, -70px);
  }
  to {
    -webkit-transform: translate(800px, -70px);
    -o-transform: translate(800px, -70px);
    transform: translate(800px, -70px);
  }
}
@keyframes an-aircraft {
  0% {
    -webkit-transform: translate(-800px, 150px);
    -moz-transform: translate(-800px, 150px);
    -o-transform: translate(-800px, 150px);
    transform: translate(-800px, 150px);
  }
  60% {
    -webkit-transform: translate(800px, -70px);
    -moz-transform: translate(800px, -70px);
    -o-transform: translate(800px, -70px);
    transform: translate(800px, -70px);
  }
  to {
    -webkit-transform: translate(800px, -70px);
    -moz-transform: translate(800px, -70px);
    -o-transform: translate(800px, -70px);
    transform: translate(800px, -70px);
  }
}

@-webkit-keyframes an-balloon {
  0% {
    margin-left: 300px;

    left: 100%;

    -webkit-transform: translate(0, 150px);
    transform: translate(0, 150px);
  }
  30% {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  65% {
    -webkit-transform: translate(0, 500px);
    transform: translate(0, 500px);
  }
  80% {
    margin-left: -300px;

    left: 0;
  }
  to {
    margin-left: -300px;

    left: 0;

    -webkit-transform: translate(0, 350px);
    transform: translate(0, 350px);
  }
}
@-moz-keyframes an-balloon {
  0% {
    margin-left: 300px;

    left: 100%;

    -moz-transform: translate(0, 150px);
    transform: translate(0, 150px);
  }
  30% {
    -moz-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  65% {
    -moz-transform: translate(0, 500px);
    transform: translate(0, 500px);
  }
  80% {
    margin-left: -300px;

    left: 0;
  }
  to {
    margin-left: -300px;

    left: 0;

    -moz-transform: translate(0, 350px);
    transform: translate(0, 350px);
  }
}
@-o-keyframes an-balloon {
  0% {
    margin-left: 300px;

    left: 100%;

    -o-transform: translate(0, 150px);
    transform: translate(0, 150px);
  }
  30% {
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  65% {
    -o-transform: translate(0, 500px);
    transform: translate(0, 500px);
  }
  80% {
    margin-left: -300px;

    left: 0;
  }
  to {
    margin-left: -300px;

    left: 0;

    -o-transform: translate(0, 350px);
    transform: translate(0, 350px);
  }
}
@keyframes an-balloon {
  0% {
    margin-left: 300px;

    left: 100%;

    -webkit-transform: translate(0, 150px);
    -moz-transform: translate(0, 150px);
    -o-transform: translate(0, 150px);
    transform: translate(0, 150px);
  }
  30% {
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  65% {
    -webkit-transform: translate(0, 500px);
    -moz-transform: translate(0, 500px);
    -o-transform: translate(0, 500px);
    transform: translate(0, 500px);
  }
  80% {
    margin-left: -300px;

    left: 0;
  }
  to {
    margin-left: -300px;

    left: 0;

    -webkit-transform: translate(0, 350px);
    -moz-transform: translate(0, 350px);
    -o-transform: translate(0, 350px);
    transform: translate(0, 350px);
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
