.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


.ag-activity-block {
  padding: 100px 0;
}
.ag-activity_box {
  position: relative;
}

.ag-range-track_list {
  display: block;
  height: 12px;
  width: 100%;
  background-color: #F4F4F4;

  list-style: none;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;
}
.ag-range-track_list:before {
  content: "";
  height: 20px;
  width: 40px;
  background: #006ee3;

  position: absolute;
  left: 0;
  top: 50%;

  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ag-range-track_list {
  text-align: justify;
  font-size: 14px;
  line-height: 0;
}
.ag-range-track_list:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 100%;
  visibility: hidden;
  overflow: hidden
}
.ag-range-track_item {
  display: inline-block;
  line-height: normal;
  width: 90px;
  padding: 30px 0 0;

  white-space: nowrap;
  text-align: center;
  font-size: 30px;
  color: #000;

  z-index: 20;
  position: relative;

  -webkit-transition: all .3s cubic-bezier(.165, .84, .44, 1);
  -o-transition: all .3s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .3s cubic-bezier(.165, .84, .44, 1);
  transition: all .3s cubic-bezier(.165, .84, .44, 1);
}
.ag-range-track_item:before {
  content: "";
  height: 6px;
  width: 6px;
  background-color: #007ff2;

  z-index: 5;
  position: absolute;
  top: 3px;
  left: 50%;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}

.js-ag-selected {
  z-index: 50;
}
.js-ag-selected:before {
  height: 8px;
  width: 8px;
  background-color: #FFF;

  top: 2px;
  left: 50%;
}
.js-ag-active .ag-range-track_sum {
  opacity: 1;

  -webkit-transition: all .3s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .3s cubic-bezier(.165, .84, .44, 1);
  -o-transition: all .3s cubic-bezier(.165, .84, .44, 1);
  transition: all .3s cubic-bezier(.165, .84, .44, 1);
}
.ag-range-track_sum:before {
  content: "";
  display: none;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: #007ff2 transparent transparent;

  position: absolute;
  top: 100%;
  left: 50%;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}
.ag-range_box {
  z-index: 30;
  position: absolute;
  top: -4px;
  left: 40px;
  right: 40px;
}

.noUi-horizontal {
  height: 20px;
}
.noUi-target {
  border: none;
  background: 0 0;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.noUi-connect {
  background: #006be2;
  background: -webkit-gradient(linear, left top, right top, from(#006be2), to(#00cdfa));
  background: -o-linear-gradient(left, #006be2 0, #00cdfa 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #006be2), to(#00cdfa));
  background: -webkit-linear-gradient(left, #006be2 0, #00cdfa);
  background: -moz-linear-gradient(left, #006be2 0, #00cdfa);
  background: -o-linear-gradient(left, #006be2 0, #00cdfa);
  background: linear-gradient(90deg, #006be2 0, #00cdfa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006be2", endColorstr="#00cdfa", GradientType=1);

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ag-range_box .noUi-handle {
  height: 30px;
  width: 30px;
  border: none;
  background-color: #FFF;

  cursor: pointer;

  right: -15px;
  top: -5px;

  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .5);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.noUi-handle:after,
.noUi-handle:before {
  display: none;
}
.noUi-touch-area {
  height: 8px;
  width: 2px;
  background-color: #808080;

  position: absolute;
  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.noUi-touch-area:after,
.noUi-touch-area:before {
  content: "";
  height: 8px;
  width: 2px;
  background-color: gray;

  position: absolute;
}
.noUi-touch-area:after {
  left: 0;

  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  -o-transform: translateX(-3px);
  transform: translateX(-3px);
}
.noUi-touch-area:before {
  right: 0;

  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
  -ms-transform: translateX(3px);
  -o-transform: translateX(3px);
  transform: translateX(3px);
}
.noUi-connects {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.ag-reward-block {
  padding: 150px 0 0;

  text-align: center;

  position: relative;
}
.ag-reward_box {
  display: inline-block;
  max-width: 360px;
  width: 100%;
  margin: 0 15px 50px;
  padding: 75px 20px 20px;
  border: 3px solid #d5dde8;
  background-color: #FFF;

  vertical-align: top;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;
}
.ag-reward_box:before {
  content: "";
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border: 2px solid #98999d;
  background-color: #EFEFEF;

  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ag-reward_num {
  margin-bottom: 22px;

  letter-spacing: -.45px;
  font-weight: 700;
  font-size: 18px;
  color: #787d87;
}
.ag-reward_title {
  padding: 0 0 20px;

  letter-spacing: -.75px;
  font-weight: 700;
  font-size: 24px;
  color: #323a45;
}
.ag-reward_sum {
  letter-spacing: -.88px;
  font-size: 35px;
  color: #323a45;
}
.ag-reward_plus {
  display: inline-block;
  height: 28px;
  width: 28px;

  position: relative;
}
.ag-reward_plus:before,
.ag-reward_plus:after {
  content: "";
  background-color: #CCC;

  position: absolute;
}
.ag-reward_plus:before {
  height: 4px;
  width: 28px;

  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ag-reward_plus:after {
  height: 28px;
  width: 4px;

  top: 0;
  left: 50%;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (max-width: 767px) {
  .ag-range-track_item {
    min-height: 18px;
    width: 60px;

    font-size: 20px;
  }

  .ag-reward_box {
    display: block;
    margin: 0 auto;
    padding: 40px 20px;
  }
  .ag-reward_box-1 {
    border-bottom: 0;

    position: relative;
  }
  .ag-reward_box-1:before,
  .ag-reward_box-1:after {
    content: "";
    height: 1px;
    width: 120px;
    margin: 0 auto;
    border: 0;
    background-color: #d5dde8;

    position: absolute;
    bottom: 0;
  }
  .ag-reward_box-1:before {
    top: auto;
    left: auto;
    right: 30px;
  }
  .ag-reward_box-1:after {
    left: 30px;
  }
  .ag-reward_box-2 {
    border-top: 0;
  }
  .ag-reward_box-2::before {
    display: none;
    background: none;
  }
  .ag-reward_plus {
    display: block;
    margin: -14px auto;
    z-index: 10;
  }
}

@media only screen and (max-width: 639px) {
  .js-ag-selected:before {
    height: 6px;
    width: 6px;

    top: 3px;
  }
  .ag-range-track_sum {
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    background-color: #007ff2;

    text-align: center;
    color: #FFF;

    opacity: 0;

    position: absolute;
    left: 50%;
    bottom: 115%;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webkit-transform: translate(-50%, -15px);
    -moz-transform: translate(-50%, -15px);
    -ms-transform: translate(-50%, -15px);
    -o-transform: translate(-50%, -15px);
    transform: translate(-50%, -15px);

    -webkit-transition: all .3s cubic-bezier(.165, .84, .44, 1);
    -o-transition: all .3s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .3s cubic-bezier(.165, .84, .44, 1);
    transition: all .3s cubic-bezier(.165, .84, .44, 1);
  }
  .ag-range-track_sum:before {
    display: block;
  }
  .ag-range_box {
    left: 30px;
    right: 30px;
  }
}

@media only screen and (max-width: 479px) {
  .ag-range-track_item {
    min-height: 13px;
    width: 46px;
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-reward_box {
    max-width: 300px;
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
