html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #070908;

  overflow: hidden;

  font-family: sans-serif;
  font-size: 1rem;
  color: #111;
}


.ag-main_wrap {
  height: 100%;
  width: 100%;

  position: relative;
}

.ag-main_scene {
  height: 100%;
  width: 100%;

  position: relative;
}
.ag-main_bg {
  height: 100%;
  width: 100%;
  background: #111;

  z-index: 1;
  position: absolute;
}

.js-ag-main_img {
  height: 100vh;
  width: 100%;
  background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/gsap-scale/images/bg.jpg) 50% -150px / 1920px no-repeat scroll;
}

.ag-frame {
  width: 100%;
  z-index: 2;

  position: relative;
}

.ag-main_video {
  width: 100%;
  margin: auto;

  opacity: 1;

  visibility: visible;

  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.ag-border-left {
  height: 100%;
  width: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(17, 17, 17)), color-stop(69%, rgb(157, 156, 152)), to(rgb(30, 30, 31)));
  background: -o-linear-gradient(rgb(17, 17, 17) 0%, rgb(157, 156, 152) 69%, rgb(30, 30, 31) 100%);
  background: linear-gradient(rgb(17, 17, 17) 0%, rgb(157, 156, 152) 69%, rgb(30, 30, 31) 100%);

  position: absolute;
  left: -60px;
}

.ag-border-right {
  height: 100%;
  width: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(17, 17, 17)), to(rgb(30, 30, 31)));
  background: -o-linear-gradient(rgb(17, 17, 17) 0%, rgb(30, 30, 31) 100%);
  background: linear-gradient(rgb(17, 17, 17) 0%, rgb(30, 30, 31) 100%);

  position: absolute;
  right: -60px;
}
.ag-border-top {
  height: 60px;
  width: calc(100% + 120px);
  background: #111;

  position: absolute;
  top: -60px;
  left: -60px;

  -webkit-border-radius: 50px 50px 0 0;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
}
.ag-border-bottom {
  height: 60px;
  width: calc(100% + 120px);
  background: #1E1E1F;

  position: absolute;
  left: -60px;
  bottom: -60px;
}
.ag-border-bottom:after {
  content: "";
  height: 160px;
  width: 100%;
  background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/gsap-scale/images/cardboard-flat.png) repeat #939393;

  -webkit-border-radius: 0 0 50px 50px;
  -moz-border-radius: 0 0 50px 50px;
  border-radius: 0 0 50px 50px;

  position: absolute;
  left: 0;
  bottom: -160px;
}
.ag-overflow {
  width: 100%;

  overflow: hidden;

  position: relative;
}

.ag-lines-vert {
  height: 100%;
  width: 1px;
  background: rgba(255, 255, 255, .3);

  position: absolute;
}
.ag-lines-vert_line-1 {
  left: 20%;
}
.ag-lines-vert_line-2 {
  left: 40%;
}
.ag-lines-vert_line-3 {
  left: 60%;
}
.ag-lines-vert_line-4 {
  left: 80%;
}
.ag-gradient-left {
  height: 100%;
  width: 40%;
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );

  position: absolute;
  left: -250px;
}
.ag-gradient-right {
  height: 100%;
  width: 50%;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );

  position: absolute;
  right: -270px;
}

.ag-header {
  padding: 50px 0;

  position: relative;
}
.ag-format-container {
  max-width: 1900px;
  width: 100%;
  padding: 0 7em;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;
}
.ag-header_link {
  float: right;
  padding-top: 14px;

  text-decoration: none;
  font-size: 14px;
  color: #FFF;
}
.ag-contact-block {
  padding: 100px 0;

  position: relative;
}

.ag-contact_link {
  float: right;
  margin-top: 20%;
  margin-right: -22px;

  text-decoration: none;
  font-size: 14px;
  color: #FFF;

  top: 50%;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.ag-contact_title {
  line-height: 10vw;
  margin-top: 0.4em;

  letter-spacing: -1px;
  font-weight: 800;
  font-size: 9vw;
  color: #FFF;
}

.ag-contact_text {
  margin-top: 2em;

  font-size: 2vw;
  color: #FFF;
}

.ag-footer {
  width: 100%;
  position: absolute;
  bottom: 70px;
  text-align: right;
}

.ag-footer_link {
  margin: 0 0 0 25px;

  font-size: 14px;
  color: #FFF;
  text-decoration: none;
}



@media only screen and (max-width: 1200px) {
  .ag-contact-block {
    padding: 75px 0;
  }
}

@media only screen and (max-width: 979px) {
  .ag-format-container {
    padding: 0 3em;
  }

  .ag-header {
    padding: 2em 0;
  }

  .ag-contact-block {
    padding: 2em 0;
  }

  .ag-footer {
    bottom: 15px;
  }
}
