.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

html, body {
  height: 100%;

  overflow: hidden;
}
.ag-ray-block {
  height: 100%;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-ray/images/bg.jpg) no-repeat 50% 0 #1E3652;
  background-size: cover;

  position: relative;
}
.ag-ray_light {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;

  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;

  will-change: transform, opacity;
}
.ag-ray_light::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-ray/images/light.png) left top/100% no-repeat;
}
.ag-ray_light__top-left {
  left: 0;

  -webkit-transform: rotate(65deg);
  -moz-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  -o-transform: rotate(65deg);
  transform: rotate(65deg);

  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;

  -webkit-animation: an-top-to-bottom-reverse 7s linear infinite;
  -moz-animation: an-top-to-bottom-reverse 7s linear infinite;
  -o-animation: an-top-to-bottom-reverse 7s linear infinite;
  animation: an-top-to-bottom-reverse 7s linear infinite;
}
.ag-ray_light__top-left::after {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.ag-ray_light__bottom-left {
  left: 0;

  -webkit-transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);
  -ms-transform: rotate(-65deg);
  -o-transform: rotate(-65deg);
  transform: rotate(-65deg);

  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;

  -webkit-animation: an-bottom-to-top-reverse 11s linear infinite;
  -moz-animation: an-bottom-to-top-reverse 11s linear infinite;
  -o-animation: an-bottom-to-top-reverse 11s linear infinite;
  animation: an-bottom-to-top-reverse 11s linear infinite;
}
.ag-ray_light__bottom-left::after {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.ag-ray_light__top-right {
  right: 0;

  -webkit-transform: rotate(65deg);
  -moz-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  -o-transform: rotate(65deg);
  transform: rotate(65deg);

  -webkit-animation: an-top-to-bottom 13s linear infinite;
  -moz-animation: an-top-to-bottom 13s linear infinite;
  -o-animation: an-top-to-bottom 13s linear infinite;
  animation: an-top-to-bottom 13s linear infinite;
}
.ag-ray_light__bottom-right {
  right: 0;

  -webkit-transform: rotate(-65deg);
  -moz-transform: rotate(-65deg);
  -ms-transform: rotate(-65deg);
  -o-transform: rotate(-65deg);
  transform: rotate(-65deg);

  -webkit-animation: an-bottom-to-top 7s linear infinite;
  -moz-animation: an-bottom-to-top 7s linear infinite;
  -o-animation: an-bottom-to-top 7s linear infinite;
  animation: an-bottom-to-top 7s linear infinite;
}

@-webkit-keyframes an-top-to-bottom-reverse {
  0% {
    opacity: 0;

    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  25% {
    opacity: 1;

    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 0;

    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;

    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    opacity: 0;

    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}
@-moz-keyframes an-top-to-bottom-reverse {
  0% {
    opacity: 0;

    -moz-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  25% {
    opacity: 1;

    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 0;

    -moz-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;

    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    opacity: 0;

    -moz-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}
@-o-keyframes an-top-to-bottom-reverse {
  0% {
    opacity: 0;

    -o-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  25% {
    opacity: 1;

    -o-transform: rotate(0);
    transform: rotate(0);
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 0;

    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;

    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    opacity: 0;

    -o-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}
@keyframes an-top-to-bottom-reverse {
  0% {
    opacity: 0;

    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  25% {
    opacity: 1;

    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 0;

    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;

    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    opacity: 0;

    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}

@-webkit-keyframes an-bottom-to-top-reverse {
  0% {
    opacity: 0;

    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;

    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    opacity: 0;

    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  75% {
    opacity: 1;

    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;

    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}
@-moz-keyframes an-bottom-to-top-reverse {
  0% {
    opacity: 0;

    -moz-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;

    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    opacity: 0;

    -moz-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  75% {
    opacity: 1;

    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;

    -moz-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}
@-o-keyframes an-bottom-to-top-reverse {
  0% {
    opacity: 0;

    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;

    -o-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    opacity: 0;

    -o-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  75% {
    opacity: 1;

    -o-transform: rotate(0);
    transform: rotate(0);
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;

    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}
@keyframes an-bottom-to-top-reverse {
  0% {
    opacity: 0;

    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;

    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    opacity: 0;

    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  75% {
    opacity: 1;

    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;

    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}

@-webkit-keyframes an-top-to-bottom {
  0% {
    opacity: 0;

    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  25% {
    opacity: 1;

    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 0;

    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;

    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    opacity: 0;

    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}
@-moz-keyframes an-top-to-bottom {
  0% {
    opacity: 0;

    -moz-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  25% {
    opacity: 1;

    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 0;

    -moz-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;

    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    opacity: 0;

    -moz-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}
@-o-keyframes an-top-to-bottom {
  0% {
    opacity: 0;

    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  25% {
    opacity: 1;

    -o-transform: rotate(0);
    transform: rotate(0);
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 0;

    -o-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;

    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    opacity: 0;

    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}
@keyframes an-top-to-bottom {
  0% {
    opacity: 0;

    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  25% {
    opacity: 1;

    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 0;

    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;

    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    opacity: 0;

    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
}

@-webkit-keyframes an-bottom-to-top {
  0% {
    opacity: 0;

    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;

    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    opacity: 0;

    -webkit-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  75% {
    opacity: 1;

    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;

    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}
@-moz-keyframes an-bottom-to-top {
  0% {
    opacity: 0;

    -moz-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;

    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    opacity: 0;

    -moz-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  75% {
    opacity: 1;

    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;

    -moz-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}
@-o-keyframes an-bottom-to-top {
  0% {
    opacity: 0;

    -o-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;

    -o-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    opacity: 0;

    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  75% {
    opacity: 1;

    -o-transform: rotate(0);
    transform: rotate(0);
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;

    -o-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}
@keyframes an-bottom-to-top {
  0% {
    opacity: 0;

    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;

    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    opacity: 0;

    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
  }
  75% {
    opacity: 1;

    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;

    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
