.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


.ag-vacancy-block {
  padding: 100px 0;

  overflow: hidden;

  position: relative;
}
.ag-vacancy-block:before {
  content: "";
  height: 100%;
  width: 1900px;
  background: -webkit-radial-gradient(50% 50%, 50% 50%, #D3D5F6 0%, rgba(196, 196, 196, 0) 100%);
  background: -moz-radial-gradient(50% 50%, 50% 50%, #D3D5F6 0%, rgba(196, 196, 196, 0) 100%);
  background: -o-radial-gradient(50% 50%, 50% 50%, #D3D5F6 0%, rgba(196, 196, 196, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, #D3D5F6 0%, rgba(196, 196, 196, 0) 100%);

  z-index: 1;
  position: absolute;
  top: 50%;
  right: 0;

  -webkit-transform: translateY(-50%) translateX(34%);
  -moz-transform: translateY(-50%) translateX(34%);
  -ms-transform: translateY(-50%) translateX(34%);
  -o-transform: translateY(-50%) translateX(34%);
  transform: translateY(-50%) translateX(34%);
}
.ag-vacancy-block:after {
  content: "";
  height: 100%;
  width: 1900px;
  background: -webkit-radial-gradient(50% 50%, 50% 50%, #D3D5F6 0%, rgba(196, 196, 196, 0) 100%);
  background: -moz-radial-gradient(50% 50%, 50% 50%, #D3D5F6 0%, rgba(196, 196, 196, 0) 100%);
  background: -o-radial-gradient(50% 50%, 50% 50%, #D3D5F6 0%, rgba(196, 196, 196, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, #D3D5F6 0%, rgba(196, 196, 196, 0) 100%);

  z-index: 1;
  position: absolute;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%) translateX(-34%);
  -moz-transform: translateY(-50%) translateX(-34%);
  -ms-transform: translateY(-50%) translateX(-34%);
  -o-transform: translateY(-50%) translateX(-34%);
  transform: translateY(-50%) translateX(-34%);
}
.ag-vacancy_content {
  min-height: 70vh;

  overflow: hidden;

  z-index: 10;
  position: relative;
}
.ag-vacancy_box {
  width: calc(100% - 455px);
  padding-left: 120px;

  position: relative;
}
.ag-vacancy_list {
  display: none;
}
.ag-vacancy_item {
  min-height: 400px;
  width: 360px;
  margin-right: 35px;
  padding: 50px 40px;
  background: rgba(255, 255, 255, .37);

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  -webkit-transition: background .3s, -webkit-transform .3s;
  -moz-transition: background .3s, -moz-transform .3s;
  -o-transition: background .3s, -o-transform .3s;
  transition: background .3s, transform .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s;

  position: relative;
}
.ag-vacancy_item:hover {
  background: rgba(255, 255, 255, .5);
}
.ag-vacancy_icon {
  margin-bottom: 20px;
}
.ag-vacancy_img {
  width: 80px;
  height: 80px;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.ag-vacancy_name {
  line-height: 35px;
  margin-bottom: 12px;

  font-weight: 900;
  font-size: 30px;
  color: #191F3D;
}
.ag-vacancy_descr {
  margin-bottom: 40px;

  font-size: 20px;
  color: #232C51;
}
.ag-vacancy_text__strong {
  padding: 0 15px 0 0;

  font-weight: 900;
  color: #e45f0a;
}
.ag-vacancy_btn {
  display: inline-block;
  padding: 25px 65px;
  background: #D4D6F5;

  cursor: pointer;

  font-weight: 600;
  font-size: 18px;
  color: #191F3D;

  position: absolute;
  bottom: 50px;
  left: 40px;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.ag-vacancy_btn:hover {
  background: #191F3D;

  text-decoration: none;
  color: #FFF;
}
.js-ag-vacancy_arrow {
  height: 100px;
  line-height: 100px;
  width: 100px;
  background: rgba(105, 130, 255, .11);

  cursor: pointer;

  opacity: 0;

  text-align: center;

  z-index: 30;
  position: absolute;
  top: 50%;

  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.js-ag-vacancy_arrow:hover {
  background: rgba(105, 130, 255, .2);

  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}
.ag-vacancy_box:hover .js-ag-vacancy_arrow {
  opacity: 1;
}
.ag-vacancy_box:hover .js-ag-vacancy_arrow__hide {
  opacity: 0;
}
.js-ag-vacancy_arrow__prev {
  left: 0;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.js-ag-vacancy_arrow__next {
  right: -80px;

  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.js-ag-vacancy_img-arrow__prev {
  margin: 0 0 0 -5px;
}
.js-ag-vacancy_img-arrow__next {
  margin: 0 -5px 0 0;
}

/* slick */
.slick-list {
  overflow: visible !important;
}
.slick-initialized {
  display: block;
}
.slick-slide {
  opacity: 0.5;

  -webkit-filter: blur(5px);
  filter: blur(5px);

  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
  transform: scale(.9);
}
.slick-active {
  -webkit-filter: blur(0);
  filter: blur(0);

  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* /slick */


@media (max-width: 1600px) {
  .ag-vacancy_box {
    width: calc(100% - 400px);
  }
  .ag-vacancy_item {
    min-height: 390px;
  }
  .ag-vacancy_name {
    line-height: 30px;

    font-size: 25px;
  }
  .ag-vacancy_descr {
    margin-bottom: 30px;
  }
  .ag-vacancy_btn {
    padding: 22px 50px;
  }
}

@media (max-width: 1500px) {
  .ag-vacancy_box {
    padding-left: 70px;
  }
  .ag-vacancy_item {
    min-height: 360px;
    width: 320px;
    margin-right: 25px;
    padding: 25px 30px;
  }
  .ag-vacancy_btn {
    background: #D4D6F5;

    position: absolute;
    left: 25px;
    bottom: 40px;
  }

  .js-ag-vacancy_arrow {
    height: 80px;
    line-height: 80px;
    width: 80px;
  }
  .js-ag-vacancy_arrow__next {
    right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-vacancy_box {
    width: 100%;
    padding-left: 0;
  }
  .ag-vacancy_item {
    width: 260px;
    min-height: 350px;
    padding: 25px 17px;
    margin-right: 15px;
  }
  .ag-vacancy_name {
    font-size: 22px;
    line-height: 26px;
  }
  .ag-vacancy_descr {
    font-size: 17px;
  }
  .ag-vacancy_text__strong {
    padding-right: 5px;
  }
  .ag-vacancy_btn {
    padding: 20px 30px;

    font-size: 16px;

    left: 15px;
  }

  .js-ag-vacancy_arrow {
    float: left;
    margin: 20px 25px 0 0;

    opacity: 1;

    position: static;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .js-ag-vacancy_arrow__hide,
  .ag-vacancy_box:hover .js-ag-vacancy_arrow__hide {
    background-color: rgba(105, 130, 255, .2);

    cursor: default;

    opacity: .4;
  }
}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}