.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-payment-block {
  padding: 15px 0;
  background-color: #FFF;
}
.ag-payment_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 0;
}
.ag-payment_item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 30px 0;

  opacity: 1;

  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ag-payment_list:hover .ag-payment_item:not(:hover) {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.6;
}
.ag-payment_img {
  max-height: 40px;
  max-width: 150px;
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
