.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-card,
.ag-dummy_item {
  height: 15.25vw;
  width: 10.67vw;
  margin: 50px auto;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/card-shuffle/images/card.jpg) 50% no-repeat;
  background-size: cover;

  -webkit-border-radius: 0.84vw;
  -moz-border-radius: 0.84vw;
  border-radius: 0.84vw;

  -webkit-box-shadow: 0 0 3.42vw 0 rgba(0, 130, 255, 0.55), 0 0.21vw 0.25vw 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 0 3.42vw 0 rgba(0, 130, 255, 0.55), 0 0.21vw 0.25vw 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 0 3.42vw 0 rgba(0, 130, 255, 0.55), 0 0.21vw 0.25vw 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 0 3.42vw 0 rgba(0, 130, 255, 0.55), 0 0.21vw 0.25vw 0 rgba(0, 0, 0, 0.26);
}
.ag-dummy_box-wrap {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}
.ag-dummy_item {
  position: absolute;
  left: -webkit-calc(50% - 10.67vw / 2);
  left: -moz-calc(50% - 10.67vw / 2);
  left: calc(50% - 10.67vw / 2);

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ag-card {
  cursor: pointer;

  -webkit-transition: -webkit-transform 1s ease;
  -moz-transition: -moz-transform 1s ease;
  -o-transition: -o-transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;

  will-change: transform;

  z-index: 1;
  position: relative;
}
.ag-card_face {
  height: 100%;
  width: 100%;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/card-shuffle/images/olivia/7s.png) no-repeat 50% 50% #FFF;
  background-size: cover;

  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;

  -webkit-border-radius: 0.84vw;
  -moz-border-radius: 0.84vw;
  border-radius: 0.84vw;

  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  -webkit-transition: rotateY 1s ease, opacity 1s ease;
  -moz-transition: rotateY 1s ease, opacity 1s ease;
  -o-transition: rotateY 1s ease, opacity 1s ease;
  transition: rotateY 1s ease, opacity 1s ease;

  image-rendering: -webkit-optimize-contrast;
}
.js-ag-card_revers .ag-card {
  -webkit-animation: an-revers 1s 1s forwards;
  -moz-animation: an-revers 1s 1s forwards;
  -o-animation: an-revers 1s 1s forwards;
  animation: an-revers 1s 1s forwards;
}
.js-ag-card_revers .ag-card_face {
  -webkit-animation: an-card-open 1s 1s forwards;
  -moz-animation: an-card-open 1s 1s forwards;
  -o-animation: an-card-open 1s 1s forwards;
  animation: an-card-open 1s 1s forwards;
}
.ag-card_shuffle .ag-card {
  -webkit-animation: an-shuffle 1s 1s forwards;
  -moz-animation: an-shuffle 1s 1s forwards;
  -o-animation: an-shuffle 1s 1s forwards;
  animation: an-shuffle 1s 1s forwards;
}
.ag-card_shuffle .ag-dummy_item {
  -webkit-animation: an-shuffle 1s 1s forwards;
  -moz-animation: an-shuffle 1s 1s forwards;
  -o-animation: an-shuffle 1s 1s forwards;
  animation: an-shuffle 1s 1s forwards;
}
.ag-card_shuffle .ag-dummy_item:first-child {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.ag-card_shuffle .ag-dummy_item:nth-child(2) {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.ag-card_shuffle .ag-dummy_item:nth-child(3) {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.ag-card_shuffle .ag-dummy_item:nth-child(4) {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.ag-card_shuffle .ag-dummy_item:nth-child(5) {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes an-shuffle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-moz-keyframes an-shuffle {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-o-keyframes an-shuffle {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes an-shuffle {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@-webkit-keyframes an-revers {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-moz-keyframes an-revers {
  0% {
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@-o-keyframes an-revers {
  0% {
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes an-revers {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@-webkit-keyframes an-card-open {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes an-card-open {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes an-card-open {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes an-card-open {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
