/* -------------- reset.css -------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
}
a {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td,
img {
  vertical-align: middle;
}
input, select, button, textarea {
  margin: 0;
  font-size: 100%;
}
input,
textarea {
  padding: 0;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote {
  margin: 0;
}
/* -------------- /reset.css -------------- */

button {
  cursor: pointer;
}
li {
  list-style: none outside none;
}
a {
  text-decoration: none;
  color: #6d6d6d;
}
a:hover {
  text-decoration: none;
  color: #20bd57;
}

html {
  overflow-y: scroll;
}
body {
  line-height: 1.1;

  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #444;
}


img {
  max-width: 100%;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
/*_\*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
