.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-animated_img {
  height: 1200px;
  background-size: auto 600px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /*background-repeat-x: no-repeat;
  background-repeat-y: repeat;*/
  background-repeat: repeat-y;
  background-position: 50% 50%;
}

.ag-animated_img-1 {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-blades/images/white-blades.png);

  z-index: 3;

  -webkit-animation: an-move-it 2s linear infinite;
  -moz-animation: an-move-it 2s linear infinite;
  -o-animation: an-move-it 2s linear infinite;
  animation: an-move-it 2s linear infinite;
}

.ag-animated_img-2 {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-blades/images/blades-teal.png);

  z-index: 2;

  -webkit-animation: an-move-it 3s linear infinite;
  -moz-animation: an-move-it 3s linear infinite;
  -o-animation: an-move-it 3s linear infinite;
  animation: an-move-it 3s linear infinite;
}

.ag-animated_img-3 {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-blades/images/blurred-blades.png);

  z-index: 1;

  -webkit-animation: an-move-it 4s linear infinite;
  -moz-animation: an-move-it 4s linear infinite;
  -o-animation: an-move-it 4s linear infinite;
  animation: an-move-it 4s linear infinite;
}

@-webkit-keyframes an-move-it {
  0% {background-position: 50% 0;}
  100% {background-position: 50% 100%;}
}

@-moz-keyframes an-move-it {
  0% {background-position: 50% 0;}
  100% {background-position: 50% 100%;}
}

@-o-keyframes an-move-it {
  0% {background-position: 50% 0;}
  100% {background-position: 50% 100%;}
}

@keyframes an-move-it {
  0% {background-position: 50% 0;}
  100% {background-position: 50% 100%;}
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
