body {
  background-color: #000;
}
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-arrow-block {
  padding: 0 0 100px;
}
.ag-arrow_box {
  display: table;
  margin: 30px auto;
}
.ag-arrow_arrow {
  width: 40px;
  height: 4px;
  margin: 0 0 5px;

  position: relative;
}
.ag-arrow_left {
  display: inline-block;
  margin: 0 0 0 -35px;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ag-arrow_right {
  display: inline-block;
  margin: 0 -35px 0 0;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.ag-arrow_arrow:before,
.ag-arrow_arrow:after {
  content: "";
  height: 100%;
  width: 50%;
  background-color: rgba(255, 255, 255, .35);

  position: absolute;
  top: 0;

  -webkit-animation: an-arrow-lighting-1 1.2s ease-in infinite;
  -moz-animation: an-arrow-lighting-1 1.2s ease-in infinite;
  -o-animation: an-arrow-lighting-1 1.2s ease-in infinite;
  animation: an-arrow-lighting-1 1.2s ease-in infinite;
}
.ag-arrow_arrow:before {
  left: 0;

  -webkit-box-shadow: -.125em 0 .5625em #0c8ca6;
  -moz-box-shadow: -.125em 0 .5625em #0c8ca6;
  -o-box-shadow: -.125em 0 .5625em #0c8ca6;
  box-shadow: -.125em 0 .5625em #0c8ca6;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
.ag-arrow_up:before {
  -webkit-transform: skewY(145deg);
  -moz-transform: skewY(145deg);
  -o-transform: skewY(145deg);
  transform: skewY(145deg);
}
.ag-arrow_left:before {
  -webkit-transform: skewY(35deg);
  -moz-transform: skewY(35deg);
  -o-transform: skewY(35deg);
  transform: skewY(35deg);
}

.ag-arrow_right:before {
  -webkit-transform: skewY(35deg);
  -moz-transform: skewY(35deg);
  -o-transform: skewY(35deg);
  transform: skewY(35deg);
}
.ag-arrow_down:before {
  -webkit-transform: skewY(35deg);
  -moz-transform: skewY(35deg);
  -o-transform: skewY(35deg);
  transform: skewY(35deg);
}
.ag-arrow_arrow:after {
  right: 0;

  -webkit-box-shadow: .125em 0 .5625em #0c8ca6;
  -moz-box-shadow: .125em 0 .5625em #0c8ca6;
  -o-box-shadow: .125em 0 .5625em #0c8ca6;
  box-shadow: .125em 0 .5625em #0c8ca6;

  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.ag-arrow_up:after {
  -webkit-transform: skewY(-145deg);
  -moz-transform: skewY(-145deg);
  -o-transform: skewY(-145deg);
  transform: skewY(-145deg);
}
.ag-arrow_left:after {
  -webkit-transform: skewY(-35deg);
  -moz-transform: skewY(-35deg);
  -o-transform: skewY(-35deg);
  transform: skewY(-35deg);
}
.ag-arrow_right:after {
  -webkit-transform: skewY(-35deg);
  -moz-transform: skewY(-35deg);
  -o-transform: skewY(-35deg);
  transform: skewY(-35deg);
}
.ag-arrow_down:after {
  -webkit-transform: skewY(-35deg);
  -moz-transform: skewY(-35deg);
  -o-transform: skewY(-35deg);
  transform: skewY(-35deg);
}
.ag-arrow_up-3:before,
.ag-arrow_up-3:after,
.ag-arrow_down-1:before,
.ag-arrow_down-1:after {
  -webkit-animation-name: an-arrow-lighting-1;
  -moz-animation-name: an-arrow-lighting-1;
  -o-animation-name: an-arrow-lighting-1;
  animation-name: an-arrow-lighting-1;
}

.ag-arrow_up-2:before,
.ag-arrow_up-2:after,
.ag-arrow_left-2:before,
.ag-arrow_left-2:after,
.ag-arrow_right-2:before,
.ag-arrow_right-2:after,
.ag-arrow_down-2:before,
.ag-arrow_down-2:after {
  -webkit-animation-name: an-arrow-lighting-2;
  -moz-animation-name: an-arrow-lighting-2;
  -o-animation-name: an-arrow-lighting-2;
  animation-name: an-arrow-lighting-2;
}
.ag-arrow_up-1:before,
.ag-arrow_up-1:after,
.ag-arrow_left-1:before,
.ag-arrow_left-1:after,
.ag-arrow_right-3:before,
.ag-arrow_right-3:after,
.ag-arrow_down-3:before,
.ag-arrow_down-3:after {
  -webkit-animation-name: an-arrow-lighting-3;
  -moz-animation-name: an-arrow-lighting-3;
  -o-animation-name: an-arrow-lighting-3;
  animation-name: an-arrow-lighting-3;
}

@-webkit-keyframes an-arrow-lighting-1 {
  0%,
  0% {
    background-color: rgba(255, 255, 255, .35);
  }
  25%,
  75% {
    background-color: #FFF;
  }
  100% {
    background-color: rgba(255, 255, 255, .35);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-moz-keyframes an-arrow-lighting-1 {
  0%,
  0% {
    background-color: rgba(255, 255, 255, .35);
  }
  25%,
  75% {
    background-color: #FFF;
  }
  100% {
    background-color: rgba(255, 255, 255, .35);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-o-keyframes an-arrow-lighting-1 {
  0%,
  0% {
    background-color: rgba(255, 255, 255, .35);
  }
  25%,
  75% {
    background-color: #FFF;
  }
  100% {
    background-color: rgba(255, 255, 255, .35);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes an-arrow-lighting-1 {
  0%,
  0% {
    background-color: rgba(255, 255, 255, .35);
  }
  25%,
  75% {
    background-color: #FFF;
  }
  100% {
    background-color: rgba(255, 255, 255, .35);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@-webkit-keyframes an-arrow-lighting-2 {
  0%,
  25% {
    background-color: rgba(255, 255, 255, .35);
  }
  50%,
  75% {
    background-color: #FFF;
  }
  100% {
    background-color: rgba(255, 255, 255, .35);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-moz-keyframes an-arrow-lighting-2 {
  0%,
  25% {
    background-color: rgba(255, 255, 255, .35);
  }
  50%,
  75% {
    background-color: #FFF;
  }
  100% {
    background-color: rgba(255, 255, 255, .35);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-o-keyframes an-arrow-lighting-2 {
  0%,
  25% {
    background-color: rgba(255, 255, 255, .35);
  }
  50%,
  75% {
    background-color: #FFF;
  }
  100% {
    background-color: rgba(255, 255, 255, .35);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes an-arrow-lighting-2 {
  0%,
  25% {
    background-color: rgba(255, 255, 255, .35);
  }
  50%,
  75% {
    background-color: #FFF;
  }
  100% {
    background-color: rgba(255, 255, 255, .35);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@-webkit-keyframes an-arrow-lighting-3 {
  0%,
  50% {
    background-color: rgba(255, 255, 255, .35);
  }
  75%,
  75% {
    background-color: #FFF;
  }
  100% {
    background-color: rgba(255, 255, 255, .35);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-moz-keyframes an-arrow-lighting-3 {
  0%,
  50% {
    background-color: rgba(255, 255, 255, .35);
  }
  75%,
  75% {
    background-color: #FFF;
  }
  100% {
    background-color: rgba(255, 255, 255, .35);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-o-keyframes an-arrow-lighting-3 {
  0%,
  50% {
    background-color: rgba(255, 255, 255, .35);
  }
  75%,
  75% {
    background-color: #FFF;
  }
  100% {
    background-color: rgba(255, 255, 255, .35);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes an-arrow-lighting-3 {
  0%,
  50% {
    background-color: rgba(255, 255, 255, .35);
  }
  75%,
  75% {
    background-color: #FFF;
  }
  100% {
    background-color: rgba(255, 255, 255, .35);

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* new arrows */
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 100 version
*/

@font-face {
  font-family: Icons;
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-arrow/fonts/icons/Icons.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-arrow/fonts/icons/Icons.eot?#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-arrow/fonts/icons/Icons.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-arrow/fonts/icons/Icons.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-arrow/fonts/icons/Icons.svg#Icons) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.ag-n-arrow_icon {
  display: inline-block;
  line-height: 1;

  vertical-align: middle;
  font-family: Icons, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFF;

  font-variant: normal;
  text-rendering: auto;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.ag-n-arrow_icon-b:before {
  content: "\E001";
}
.ag-n-arrow_icon-b-1:before {
  content: "\E002";
}
.ag-n-arrow_icon-l:before {
  content: "\E003";
}
.ag-n-arrow_icon-r:before {
  content: "\E004";
}
.ag-n-arrow_icon-r-1:before {
  content: "\E005";
}
.ag-n-arrow_icon-r-2:before {
  content: "\E006";
}

.ag-n-arrow_box {
  display: inline-block;
  padding: 0 100px 100px;
}

.ag-n-arrow_prev,
.ag-n-arrow_next {
  display: inline-block;

  vertical-align: top;
  color: #FFF;
}
.ag-n-arrow_prev {
  -webkit-transform: translateY(-50%) scaleY(-1);
  -moz-transform: translateY(-50%) scaleY(-1);
  -ms-transform: translateY(-50%) scaleY(-1);
  -o-transform: translateY(-50%) scaleY(-1);
  transform: translateY(-50%) scaleY(-1);
}
.ag-n-arrow_right {
  display: inline-block;
  margin: 0 100px 0 0;
}
.ag-n-arrow_left {
  display: inline-block;

  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.ag-n-arrow_icon {
  display: block;
  line-height: 1;

  font-size: .8em;

  position: relative;
}
.ag-n-arrow_icon-vertical {
  -webkit-animation: an-arrow-vertical 1.5s infinite;
  -moz-animation: an-arrow-vertical 1.5s infinite;
  -o-animation: an-arrow-vertical 1.5s infinite;
  animation: an-arrow-vertical 1.5s infinite;
}
.ag-n-arrow_icon-horizontal {
  display: inline-block;

  -webkit-animation: an-arrow-horizontal 1.5s infinite;
  -moz-animation: an-arrow-horizontal 1.5s infinite;
  -o-animation: an-arrow-horizontal 1.5s infinite;
  animation: an-arrow-horizontal 1.5s infinite;
}
.ag-n-arrow_icon:nth-child(2) {
  -webkit-animation-delay: -.2s;
  -moz-animation-delay: -.2s;
  -o-animation-delay: -.2s;
  animation-delay: -.2s;
}
.ag-n-arrow_icon:nth-child(3) {
  -webkit-animation-delay: -.4s;
  -moz-animation-delay: -.4s;
  -o-animation-delay: -.4s;
  animation-delay: -.4s;
}

@-webkit-keyframes an-arrow-vertical {
  0% {
    opacity: 0;

    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;

    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@-moz-keyframes an-arrow-vertical {
  0% {
    opacity: 0;

    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;

    -moz-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@-o-keyframes an-arrow-vertical {
  0% {
    opacity: 0;

    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;

    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes an-arrow-vertical {
  0% {
    opacity: 0;

    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;

    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@-webkit-keyframes an-arrow-horizontal {
  0% {
    opacity: 0;

    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;

    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}
@-moz-keyframes an-arrow-horizontal {
  0% {
    opacity: 0;

    -moz-transform: translateX(2px);
    transform: translateX(2px);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;

    -moz-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}
@-o-keyframes an-arrow-horizontal {
  0% {
    opacity: 0;

    -o-transform: translateX(2px);
    transform: translateX(2px);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;

    -o-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}
@keyframes an-arrow-horizontal {
  0% {
    opacity: 0;

    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -o-transform: translateX(2px);
    transform: translateX(2px);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;

    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}
/* /new arrows */


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
