.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


body {
  background-color: #2A2A2A;
}
.ag-img-container {
  height: 300px;
  width: 540px;
  padding-top: 35px;

  position: relative;
}
.ag-img-container_img {
  width: 100%;
}
.ag-car-info {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}
.ag-car-info_svg {
  height: 100%;
  width: 100%;
}
.ag-car-info_polyline {
  -webkit-animation: polypulse 1.2s linear infinite;
  -moz-animation: polypulse 1.2s linear infinite;
  -o-animation: polypulse 1.2s linear infinite;
  animation: polypulse 1.2s linear infinite;
}
.ag-img-container .car-text-container {
  width: 120px;
  padding: 6px 8px;
  border: 1px solid;
  background-color: rgba(0, 0, 0, .64);

  opacity: 0;

  color: #FFF;

  z-index: 3;
  position: absolute;

  -webkit-animation: pulsate 1.2s linear infinite;
  -moz-animation: pulsate 1.2s linear infinite;
  -o-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
.ag-img-container .point {
  display: block;
  height: 15px;
  width: 15px;
  background-color: #ff992a;

  cursor: pointer;

  z-index: 2;
  position: absolute;

  box-shadow: 0 -1px rgba(0, 0, 0, .1);

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  -webkit-animation: pulsate 1.2s linear infinite;
  -moz-animation: pulsate 1.2s linear infinite;
  -o-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
.ag-img-container #point_0 {
  right: 15px;
  top: 55px;
}
@media (min-width: 375px) {
  .ag-img-container #point_0 {
    right: 30px;
    top: 50px;
  }
}
@media (min-width: 768px) {
  .ag-img-container #point_0 {
    right: 70px;
    top: 30px;
  }
}
@media (min-width: 992px) {
  .ag-img-container #point_0 {
    right: 75px;
    top: 130px;
  }
}

.ag-img-container #text_0 {
  top: 0;
  right: 60px;
}
@media (min-width: 375px) {
  .ag-img-container #text_0 {
    top: 0;
    right: 70px;
  }
}
@media (min-width: 768px) {
  .ag-img-container #text_0 {
    top: -15px;
    right: 110px;
  }
}
@media (min-width: 992px) {
  .ag-img-container #text_0 {
    top: 55px;
    right: 140px;
  }
}

.ag-img-container #point_1 {
  top: 80px;
  left: 150px;
}
@media (min-width: 375px) {
  .ag-img-container #point_1 {
    top: 80px;
    left: 160px;
  }
}
@media (min-width: 992px) {
  .ag-img-container #point_1 {
    top: 100px;
    left: 160px;
  }
}

.ag-img-container #text_1 {
  top: 30px;
  left: 5px;
}
@media (min-width: 375px) {
  .ag-img-container #text_1 {
    top: 30px;
    left: 0;
  }
}
@media (min-width: 992px) {
  .ag-img-container #text_1 {
    top: 50px;
    left: 10px;
  }
}

.ag-img-container #point_2 {
  bottom: 80px;
  right: 45px;
}
@media (min-width: 375px) {
  .ag-img-container #point_2 {
    bottom: 120px;
    right: 85px;
  }
}
@media (min-width: 414px) {
  .ag-img-container #point_2 {
    bottom: 130px;
    right: 110px;
  }
}
@media (min-width: 768px) {
  .ag-img-container #point_2 {
    bottom: 80px;
    left: 110px
  }
}
@media (min-width: 992px) {
  .ag-img-container #point_2 {
    bottom: 120px;
    left: 110px;
  }
}

.ag-img-container #text_2 {
  top: 60px;
  left: 75px;
}
@media (min-width: 414px) {
  .ag-img-container #text_2 {
    top: 65px;
    left: 115px;
  }
}
@media (min-width: 768px) {
  .ag-img-container #text_2 {
    top: 73px;
    left: -60px;
  }
}
@media (min-width: 992px) {
  .ag-img-container #text_2 {
    top: 140px;
    left: -80px;
  }
}

.ag-img-container #point_3 {
  left: 0;
  bottom: 70px;
}
@media (min-width: 768px) {
  .ag-img-container #point_3 {
    left: 30px;
    bottom: 40px;
  }
}
@media (min-width: 992px) {
  .ag-img-container #point_3 {
    left: 30px;
    bottom: 100px;
  }
}

.ag-img-container #text_3 {
  bottom: 0;
  left: 30px;
}
@media (min-width: 375px) {
  .ag-img-container #text_3 {
    bottom: 20px;
    left: 30px;
  }
}
@media (min-width: 768px) {
  .ag-img-container #text_3 {
    bottom: -10px;
    left: 60px;
  }
}
@media (min-width: 992px) {
  .ag-img-container #text_3 {
    bottom: 35px;
    left: 100px;
  }
}

.ag-img-container #point_4 {
  left: 125px;
  bottom: 70px
}
@media (min-width: 375px) {
  .ag-img-container #point_4 {
    left: 140px;
    bottom: 80px;
  }
}
@media (min-width: 414px) {
  .ag-img-container #point_4 {
    left: 185px;
    bottom: 80px;
  }
}
@media (min-width: 768px) {
  .ag-img-container #point_4 {
    left: 170px;
    bottom: 70px;
  }
}
@media (min-width: 992px) {
  .ag-img-container #point_4 {
    left: 220px;
    bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .ag-img-container #point_4 {
    left: 270px;
    bottom: 110px;
  }
}

.ag-img-container #text_4 {
  bottom: 15px;
  right: 10px;
}
@media (min-width: 375px) {
  .ag-img-container #text_4 {
    bottom: 30px;
    right: 30px;
  }
}
@media (min-width: 768px) {
  .ag-img-container #text_4 {
    bottom: 15px;
    right: -10px;
  }
}
@media (min-width: 992px) {
  .ag-img-container #text_4 {
    bottom: 40px;
    right: 40px;
  }
}
@media (min-width: 1200px) {
  .ag-img-container #text_4 {
    bottom: 40px;
    right: 85px;
  }
}

@-webkit-keyframes polypulse {
  50% {
    stroke-width: 3;

    color: #FFF;

    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
    -moz-box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
    -o-box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
    box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
  }
}
@keyframes polypulse {
  50% {
    stroke-width: 3;

    color: #FFF;

    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
    -moz-box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
    -o-box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
    box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
  }
}

@-webkit-keyframes pulsate {
  50% {
    color: #FFF;

    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
    -moz-box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
    -o-box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
    box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
  }
}
@keyframes pulsate {
  50% {
    color: #FFF;

    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
    -moz-box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
    -o-box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
    box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #FFD, 0 0 8px #FFF;
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
