.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

body {
  background-color: #000;
}

.ag-cube {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 50px;

  -webkit-perspective: 12em;
  -moz-perspective: 12em;
  perspective: 12em;

  font-size: 5em;

  position: relative;
}
.ag-cube_box,
.ag-cube_side,
.ag-cube_face {
  height: 100%;
  width: 100%;

  outline: 1px solid transparent;

  position: absolute;
  top: 0;
  left: 0;
}
.ag-cube_box {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ag-cube_side-1 {
  -webkit-transform: translateZ(0.5em);
  -moz-transform: translateZ(0.5em);
  -o-transform: translateZ(0.5em);
  transform: translateZ(0.5em);
}
.ag-cube_side-2 {
  -webkit-transform: rotateY(90deg) translateZ(0.5em);
  -moz-transform: rotateY(90deg) translateZ(0.5em);
  -o-transform: rotateY(90deg) translateZ(0.5em);
  transform: rotateY(90deg) translateZ(0.5em);
}
.ag-cube_side-3 {
  -webkit-transform: rotateX(90deg) translateZ(0.5em);
  -moz-transform: rotateX(90deg) translateZ(0.5em);
  -o-transform: rotateX(90deg) translateZ(0.5em);
  transform: rotateX(90deg) translateZ(0.5em);
}
.ag-cube_side-4 {
  -webkit-transform: rotateX(-90deg) translateZ(0.5em);
  -moz-transform: rotateX(-90deg) translateZ(0.5em);
  -o-transform: rotateX(-90deg) translateZ(0.5em);
  transform: rotateX(-90deg) translateZ(0.5em);
}
.ag-cube_side-5 {
  -webkit-transform: rotateY(-90deg) translateZ(0.5em);
  -moz-transform: rotateY(-90deg) translateZ(0.5em);
  -o-transform: rotateY(-90deg) translateZ(0.5em);
  transform: rotateY(-90deg) translateZ(0.5em);
}
.ag-cube_side-6 {
  -webkit-transform: rotateY(180deg) translateZ(0.5em);
  -moz-transform: rotateY(180deg) translateZ(0.5em);
  -o-transform: rotateY(180deg) translateZ(0.5em);
  transform: rotateY(180deg) translateZ(0.5em);
}
.ag-cube_fill {
  height: 98%;
  width: 98%;

  position: absolute;
  top: 1%;
  left: 1%;
}
.ag-cube_fill__x {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.ag-cube_fill__y {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.ag-cube_face {
  background-size: 100% auto;
  background-repeat: no-repeat;

  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
.ag-cube_face-1 {
  background-position: 0 0;

  -webkit-transform: translateZ(0.51em);
  -moz-transform: translateZ(0.51em);
  -o-transform: translateZ(0.51em);
  transform: translateZ(0.51em);
}
.ag-cube_face-2 {
  background-position: 0 20%;

  -webkit-transform: rotateY(90deg) translateZ(0.51em);
  -moz-transform: rotateY(90deg) translateZ(0.51em);
  -o-transform: rotateY(90deg) translateZ(0.51em);
  transform: rotateY(90deg) translateZ(0.51em);
}
.ag-cube_face-3 {
  background-position: 0 40%;

  -webkit-transform: rotateX(90deg) translateZ(0.51em);
  -moz-transform: rotateX(90deg) translateZ(0.51em);
  -o-transform: rotateX(90deg) translateZ(0.51em);
  transform: rotateX(90deg) translateZ(0.51em);
}
.ag-cube_face-4 {
  background-position: 0 60%;

  -webkit-transform: rotateX(-90deg) translateZ(0.51em);
  -moz-transform: rotateX(-90deg) translateZ(0.51em);
  -o-transform: rotateX(-90deg) translateZ(0.51em);
  transform: rotateX(-90deg) translateZ(0.51em);
}
.ag-cube_face-5 {
  background-position: 0 80%;

  -webkit-transform: rotateY(-90deg) translateZ(0.51em);
  -moz-transform: rotateY(-90deg) translateZ(0.51em);
  -o-transform: rotateY(-90deg) translateZ(0.51em);
  transform: rotateY(-90deg) translateZ(0.51em);
}
.ag-cube_face-6 {
  background-position: 0 100%;

  -webkit-transform: rotateY(180deg) translateZ(0.51em);
  -moz-transform: rotateY(180deg) translateZ(0.51em);
  -o-transform: rotateY(180deg) translateZ(0.51em);
  transform: rotateY(180deg) translateZ(0.51em);
}
.ag-cube-1 .ag-cube_face {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-cube/images/suits.png);
}
.ag-cube-2 .ag-cube_face {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-cube/images/sides.png);
}
.ag-cube-3 .ag-cube_face {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-cube/images/suits.png);
}
.ag-cube-1 .ag-cube_side,
.ag-cube-1 .ag-cube_fill {
  background: #e91b20;
}
.ag-cube-2 .ag-cube_side,
.ag-cube-2 .ag-cube_fill {
  background: #e9e6e6;
}
.ag-cube-3 .ag-cube_side,
.ag-cube-3 .ag-cube_fill {
  background: #3b4c8b;
}
.ag-cube_fill {
  background: #eee;
}
.ag-cube_side {
  -webkit-border-radius: .1em;
  -moz-border-radius: .1em;
  border-radius: .1em;
}
.ag-cube_crown .ag-cube_box {
  -webkit-transform: rotateX(147deg) rotateY(45deg) rotateZ(3deg);
  -moz-transform: rotateX(147deg) rotateY(45deg) rotateZ(3deg);
  -o-transform: rotateX(147deg) rotateY(45deg) rotateZ(3deg);
  transform: rotateX(147deg) rotateY(45deg) rotateZ(3deg);
}
.ag-cube_crown .ag-cube_side-6 {
  background: #8f8f8f;
}
.ag-cube_crown .ag-cube_side-4 {
  -webkit-box-shadow: inset -.0625em 0 .0625em rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset -.0625em 0 .0625em rgba(255, 255, 255, 0.7);
  -o-box-shadow: inset -.0625em 0 .0625em rgba(255, 255, 255, 0.7);
  box-shadow: inset -.0625em 0 .0625em rgba(255, 255, 255, 0.7);
}
.ag-cube_crown .ag-cube_side-2 {
  -webkit-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  -o-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
}
.ag-cube_anchor .ag-cube_box {
  -webkit-transform: rotateX(147deg) rotateY(61deg) rotateZ(-87deg);
  -moz-transform: rotateX(147deg) rotateY(61deg) rotateZ(-87deg);
  -o-transform: rotateX(147deg) rotateY(61deg) rotateZ(-87deg);
  transform: rotateX(147deg) rotateY(61deg) rotateZ(-87deg);
}
.ag-cube_anchor .ag-cube_side-6 {
  background: #8f8f8f;
}
.ag-cube_anchor .ag-cube_side-5 {
  -webkit-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  -o-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
}
.ag-cube_anchor .ag-cube_side-4 {
  -webkit-box-shadow: inset .0625em 0 .0625em rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset .0625em 0 .0625em rgba(255, 255, 255, 0.7);
  -o-box-shadow: inset .0625em 0 .0625em rgba(255, 255, 255, 0.7);
  box-shadow: inset .0625em 0 .0625em rgba(255, 255, 255, 0.7);
}
.ag-cube_diamonds .ag-cube_box {
  -webkit-transform: rotateX(237deg) rotateY(0deg) rotateZ(-150deg);
  -moz-transform: rotateX(237deg) rotateY(0deg) rotateZ(-150deg);
  -o-transform: rotateX(237deg) rotateY(0deg) rotateZ(-150deg);
  transform: rotateX(237deg) rotateY(0deg) rotateZ(-150deg);
}
.ag-cube_diamonds .ag-cube_side-2 {
  background: #8f8f8f;
}
.ag-cube_diamonds .ag-cube_side-6 {
  -webkit-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  -o-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
}
.ag-cube_diamonds .ag-cube_side-4 {
  -webkit-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  -o-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
}
.ag-cube_hearts .ag-cube_box {
  -webkit-transform: rotateX(149deg) rotateY(125deg) rotateZ(-177deg);
  -moz-transform: rotateX(149deg) rotateY(125deg) rotateZ(-177deg);
  -o-transform: rotateX(149deg) rotateY(125deg) rotateZ(-177deg);
  transform: rotateX(149deg) rotateY(125deg) rotateZ(-177deg);
}
.ag-cube_hearts .ag-cube_side-5 {
  background: #8f8f8f;
}
.ag-cube_hearts .ag-cube_side-3 {
  -webkit-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  -o-box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 -.0625em .0625em rgba(255, 255, 255, 0.7);
}
.ag-cube_hearts .ag-cube_side-1 {
  -webkit-box-shadow: inset 0 .0625em .0625em rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 .0625em .0625em rgba(255, 255, 255, 0.7);
  -o-box-shadow: inset 0 .0625em .0625em rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 .0625em .0625em rgba(255, 255, 255, 0.7);
}
.ag-cube_spades .ag-cube_box {
  -webkit-transform: rotateX(147deg) rotateY(62deg) rotateZ(93deg);
  -moz-transform: rotateX(147deg) rotateY(62deg) rotateZ(93deg);
  -o-transform: rotateX(147deg) rotateY(62deg) rotateZ(93deg);
  transform: rotateX(147deg) rotateY(62deg) rotateZ(93deg);
}
.ag-cube_spades .ag-cube_side-6 {
  background: #8f8f8f;
}
.ag-cube_spades .ag-cube_side-2 {
  -webkit-box-shadow: inset 0 .0625em .0625em rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 .0625em .0625em rgba(255, 255, 255, 0.7);
  -o-box-shadow: inset 0 .0625em .0625em rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 .0625em .0625em rgba(255, 255, 255, 0.7);
}
.ag-cube_spades .ag-cube_side-3 {
  -webkit-box-shadow: inset -.0625em 0 .0625em rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset -.0625em 0 .0625em rgba(255, 255, 255, 0.7);
  -o-box-shadow: inset -.0625em 0 .0625em rgba(255, 255, 255, 0.7);
  box-shadow: inset -.0625em 0 .0625em rgba(255, 255, 255, 0.7);
}
.ag-cube_clubs .ag-cube_box {
  -webkit-transform: rotateX(57deg) rotateY(0deg) rotateZ(53deg);
  -moz-transform: rotateX(57deg) rotateY(0deg) rotateZ(53deg);
  -o-transform: rotateX(57deg) rotateY(0deg) rotateZ(53deg);
  transform: rotateX(57deg) rotateY(0deg) rotateZ(53deg);
}
.ag-cube_clubs .ag-cube_side-4 {
  background: #8f8f8f;
}
.ag-cube_clubs .ag-cube_side-1 {
  -webkit-box-shadow: inset -.0625em 0 .0625em rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset -.0625em 0 .0625em rgba(255, 255, 255, 0.7);
  -o-box-shadow: inset -.0625em 0 .0625em rgba(255, 255, 255, 0.7);
  box-shadow: inset -.0625em 0 .0625em rgba(255, 255, 255, 0.7);
}
.ag-cube_clubs .ag-cube_side-2 {
  -webkit-box-shadow: inset .0625em 0 .0625em rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset .0625em 0 .0625em rgba(255, 255, 255, 0.7);
  -o-box-shadow: inset .0625em 0 .0625em rgba(255, 255, 255, 0.7);
  box-shadow: inset .0625em 0 .0625em rgba(255, 255, 255, 0.7);
}
.ag-cube:nth-of-type(1) .ag-cube_box {
  -webkit-animation: an-cube-wait 6s linear infinite;
  -moz-animation: an-cube-wait 6s linear infinite;
  -o-animation: an-cube-wait 6s linear infinite;
  animation: an-cube-wait 6s linear infinite;
}
.ag-cube:nth-of-type(2) .ag-cube_box {
  -webkit-animation: an-cube-wait 4s linear reverse infinite -.3s;
  -moz-animation: an-cube-wait 4s linear reverse infinite -.3s;
  -o-animation: an-cube-wait 4s linear reverse infinite -.3s;
  animation: an-cube-wait 4s linear reverse infinite -.3s;
}
.ag-cube:nth-of-type(3) .ag-cube_box {
  -webkit-animation: an-cube-wait 2s linear infinite -.6s;
  -moz-animation: an-cube-wait 2s linear infinite -.6s;
  -o-animation: an-cube-wait 2s linear infinite -.6s;
  animation: an-cube-wait 2s linear infinite -.6s;
}

@-webkit-keyframes an-cube-wait {
  100% {
    -webkit-transform: rotateX(720deg) rotateY(0deg) rotateZ(360deg);
    transform: rotateX(720deg) rotateY(0deg) rotateZ(360deg);
  }
}
@-moz-keyframes an-cube-wait {
  100% {
    -moz-transform: rotateX(720deg) rotateY(0deg) rotateZ(360deg);
    transform: rotateX(720deg) rotateY(0deg) rotateZ(360deg);
  }
}
@-o-keyframes an-cube-wait {
  100% {
    -o-transform: rotateX(720deg) rotateY(0deg) rotateZ(360deg);
    transform: rotateX(720deg) rotateY(0deg) rotateZ(360deg);
  }
}
@keyframes an-cube-wait {
  100% {
    -webkit-transform: rotateX(720deg) rotateY(0deg) rotateZ(360deg);
    -moz-transform: rotateX(720deg) rotateY(0deg) rotateZ(360deg);
    -o-transform: rotateX(720deg) rotateY(0deg) rotateZ(360deg);
    transform: rotateX(720deg) rotateY(0deg) rotateZ(360deg);
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
