.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.js-ag-hide {
  display: none;
}

.ag-faq_list {
  padding: 50px 0;
}
.ag-faq_item {
  margin: 0 0 15px;
}
.js-ag-faq_title {
  padding: 15px 30px;
  background-color: #71b337;

  cursor: pointer;

  font-size: 20px;
  color: #FFF;
}
.js-ag-faq_text {
  line-height: 1.42;
  padding: 30px 40px;
  background-color: #eee;

  font-size: 18px;
  color: #5b5b5b;
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
