body {
  background-color: #F4F4F4;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-timeline-block {
  padding: 50px 0;
}
.ag-timeline_box {
  position: relative;
}

.ag-timeline-carousel-arrow_box {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
}
.ag-timeline-carousel-arrow {
  display: block;
  height: 52px;
  width: 52px;
  border: 1px solid #000;
  background-color: #000;

  cursor: pointer;

  stroke: #FFF;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transition: all .2s ease-out 0s;
  -moz-transition: all .2s ease-out 0s;
  -o-transition: all .2s ease-out 0s;
  transition: all .2s ease-out 0s;

  position: relative;
}
.ag-timeline-carousel-arrow:hover {
  border: 1px solid #000;
  background-color: transparent;
}
.js-ag-timeline-carousel-arrow_prev {
  margin: 0 0 10px;
}
.js-ag-timeline-carousel-arrow_prev:hover,
.js-ag-timeline-carousel-arrow_next:hover {
  stroke: #000;
}
.svg-arrow-left,
.svg-arrow-right {
  height: 18px;
  width: 10px;
  margin: -8px 0 0 -5px;

  position: absolute;
  top: 50%;
  left: 50%;
}

.ag-timeline-carousel_list {
  padding: 0 0 0 100px;
}
.ag-timeline_year {
  line-height: 1;
  margin: 0 0 40px;

  font-weight: 500;
  font-size: 90px;
  color: #041C2C;
}
.ag-timeline_text p {
  line-height: 1.36;
  margin: 0 0 15px;

  font-size: 16px;
  color: #041C2C;
}
.ag-timeline_text a {
  text-decoration: underline;
  color: #1646D0;
}
.ag-timeline_text a:hover {
  text-decoration: none;
}

.ag-timeline-carousel-nav_box {
  position: relative;
}
.ag-timeline-carousel-nav_box:before,
.ag-timeline-carousel-nav_box:after {
  content: "";
  height: 150px;
  width: 20%;
  margin: 0 0;

  z-index: 9999;
  position: absolute;
  bottom: 0;
}
.ag-timeline-carousel-nav_box:before {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  rgba(244,244,244,0) 0%, rgba(244,244,244,1) 35%, rgba(244,244,244,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(244,244,244,0)), color-stop(35%,rgba(244,244,244,1)), color-stop(100%,rgba(244,244,244,1)));
  background: -webkit-linear-gradient(left,  rgba(244,244,244,0) 0%,rgba(244,244,244,1) 35%,rgba(244,244,244,1) 100%);
  background: -o-linear-gradient(left,  rgba(244,244,244,0) 0%,rgba(244,244,244,1) 35%,rgba(244,244,244,1) 100%);
  background: -ms-linear-gradient(left,  rgba(244,244,244,0) 0%,rgba(244,244,244,1) 35%,rgba(244,244,244,1) 100%);
  background: linear-gradient(to right,  rgba(244,244,244,0) 0%,rgba(244,244,244,1) 35%,rgba(244,244,244,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f4f4f4', endColorstr='#f4f4f4',GradientType=1 );

  right: 0;
}
.ag-timeline-carousel-nav_box:after {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  rgba(244,244,244,1) 0%, rgba(244,244,244,1) 65%, rgba(244,244,244,0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(244,244,244,1)), color-stop(65%,rgba(244,244,244,1)), color-stop(100%,rgba(244,244,244,0)));
  background: -webkit-linear-gradient(left,  rgba(244,244,244,1) 0%,rgba(244,244,244,1) 65%,rgba(244,244,244,0) 100%);
  background: -o-linear-gradient(left,  rgba(244,244,244,1) 0%,rgba(244,244,244,1) 65%,rgba(244,244,244,0) 100%);
  background: -ms-linear-gradient(left,  rgba(244,244,244,1) 0%,rgba(244,244,244,1) 65%,rgba(244,244,244,0) 100%);
  background: linear-gradient(to right,  rgba(244,244,244,1) 0%,rgba(244,244,244,1) 65%,rgba(244,244,244,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#00f4f4f4',GradientType=1 );

  left: 0;
}
.ag-timeline-carousel-nav_list {
  position: relative;
}
.ag-timeline-carousel-nav_list:after {
  content: "";
  height: 1px;
  background-color: #1646D0;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
}
.ag-timeline-carousel-nav_item {
  display: inline-block;
  line-height: 1;
  width: 50px;
  padding: 130px 15px 0;

  cursor: pointer;

  vertical-align: bottom;
  text-align: center;
  font-size: 16px;
  color: #041C2C;

  position: relative;
}
.ag-timeline-carousel-nav_item:before {
  content: "";
  height: 5px;
  width: 5px;
  margin: 0 auto;
  background-color: #B1C0E9;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 102px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.ag-timeline-carousel-nav_item:after {
  content: "";
  height: 40px;
  width: 1px;
  margin: 0 auto;
  background-color: #1646D0;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 52px;
}

.ag-timeline-carousel-nav_item.slick-current {
  margin: -5px 0 0;

  font-weight: 700;
  font-size: 22px;
  color: #1646D0;
}
.ag-timeline-carousel-nav_item.slick-current:before {
  height: 16px;
  width: 16px;
  background-color: #1646D0;

  bottom: 110px;
}
.ag-timeline-carousel-nav_item.slick-current:after {
  bottom: 59px;
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-timeline-carousel_list {
    padding: 0;
  }

  .ag-timeline-carousel-arrow_box {
    padding: 12px 0 12px 12px;
    background-color: #F4F4F4;

    z-index: 1000;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
  }
  .ag-timeline-carousel-arrow {
    display: inline-block;
    height: 33px;
    width: 33px;
  }
  .js-ag-timeline-carousel-arrow_prev {
    margin: 0 8px 0 0;
  }
  .js-ag-timeline-carousel-arrow_prev:before,
  .js-ag-timeline-carousel-arrow_next:before {
    height: 12px;
    width: 8px;
    margin: -6px auto 0;
  }

  .ag-timeline_year {
    font-size: 60px;
  }

  .ag-timeline-carousel-nav_box:before,
  .ag-timeline-carousel-nav_box:after {
    display: none;
    background: none;

    position: static;
  }
  .svg-arrow-left, .svg-arrow-right {
    height: 12px;
    width: 8px;
    margin: -6px 0 0 -4px;
  }
}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
