.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


.ag-grid-block {
  padding: 50px 0;
}
.ag-grid_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform, -webkit-transform, -moz-transform, -o-transform;

  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);

  z-index: 1;
  position: relative;
}
.ag-grid_item {
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;

  height: 360px;
  width: 100%;
  max-width: 32%;
  margin: 0 0 2%;
  background: #b7dbfe;

  cursor: pointer;

  text-decoration: none;
  text-align: center;
  color: #49598D;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform, -webkit-transform, -moz-transform, -o-transform;

  position: relative;
}
.ag-grid_item:nth-child(4),
.ag-grid_item:nth-child(5) {
  height: 200px;
  max-width: 49%;
  margin: 0;
}
.ag-grid_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;

  height: 100%;
  margin: 0 auto;

  text-align: center;
}
.ag-grid_item:nth-child(4) .ag-grid_info,
.ag-grid_item:nth-child(5) .ag-grid_info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  text-align: start;

  padding: 25px 10px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ag-grid_item:nth-child(4) .ag-grid_img-box,
.ag-grid_item:nth-child(5) .ag-grid_img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.ag-grid_img {
  width: 190px;
  margin: 40px 0 20px;
}
.ag-grid_item:nth-child(4) .ag-grid_img,
.ag-grid_item:nth-child(5) .ag-grid_img {
  margin: 0;
}
.ag-grid_item:nth-child(4) .ag-grid_descr,
.ag-grid_item:nth-child(5) .ag-grid_descr {
  min-width: 50%;
  margin: 0 0 0 5%;
}
.ag-grid_title {
  display: inline-block;
  padding: 0 0 15px;

  font-weight: bold;
  font-size: 24px;
  color: #162856;
}
.ag-grid_text {
  padding: 0 15px;

  font-size: 16px;
}
.ag-grid_item:nth-child(4) .ag-grid_text,
.ag-grid_item:nth-child(5) .ag-grid_text {
  padding: 0;
}


@media only screen and (max-width: 979px) {
  .ag-grid_item,
  .ag-grid_item:nth-child(4),
  .ag-grid_item:nth-child(5) {
    height: 330px;
    max-width: 48%;
    margin: 0 0 4%;
  }
  .ag-grid_item:nth-child(4) .ag-grid_info,
  .ag-grid_item:nth-child(5) .ag-grid_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    text-align: center;

    padding: 0;
  }
  .ag-grid_item:nth-child(4) .ag-grid_img-box,
  .ag-grid_item:nth-child(5) .ag-grid_img-box {
    display: block;
  }
  .ag-grid_img,
  .ag-grid_item:nth-child(4) .ag-grid_img,
  .ag-grid_item:nth-child(5) .ag-grid_img {
    margin: 10px 0 20px;
  }
  .ag-grid_descr,
  .ag-grid_item:nth-child(4) .ag-grid_descr,
  .ag-grid_item:nth-child(5) .ag-grid_descr {
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-grid_list {
    display: block;
  }
  .ag-grid_item,
  .ag-grid_item:nth-child(4),
  .ag-grid_item:nth-child(5) {
    display: block;
    height: auto;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 5%;
    padding: 30px 15px;
  }
}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}