.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}


.ag-primary-block {
  height: 100vh;
  line-height: 100vh;

  text-align: center;
  font-size: 80px;
}
.ag-feature-block {
  margin: 0 0 150px;

  opacity: .3;

  overflow: hidden;

  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);

  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.ag-feature-block.js-ag-active {
  opacity: 1;

  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.ag-feature_title-box {
  float: left;
  width: 35%;
  padding: 0 50px 20px 0;

  font-weight: bold;
  font-size: 46px;
  color: #191F3D;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -o-transform: translateY(60px);
  transform: translateY(60px);

  -webkit-transition: 1s ease-in;
  -moz-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
}
.ag-feature-block-2 .ag-feature_title-box {
  float: right;
  padding: 0 0 20px 50px;
}
.js-ag-active .ag-feature_title-box {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.ag-feature_col__wrap {
  overflow: hidden;
}
.ag-feature_list {
  padding: 10px 0;

  font-size: 0;
}
.ag-feature_item {
  display: inline-block;
  width: 50%;
  padding: 0 40px 50px 0;

  opacity: 0;

  vertical-align: top;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);

  -webkit-animation: an-show .7s ease-in-out forwards;
  -moz-animation: an-show .7s ease-in-out forwards;
  -o-animation: an-show .7s ease-in-out forwards;
  animation: an-show .7s ease-in-out forwards;
}
.ag-feature_title {
  display: table-cell;
  height: 50px;
  padding: 0 0 20px 65px;

  vertical-align: middle;
  font-size: 22px;
  color: #191F3D;

  position: relative;
}
.ag-feature_title:before {
  content: "";
  height: 50px;
  width: 50px;

  position: absolute;
  left: 0;
  top: 0;
}
.ag-feature_title-1:before {
  background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/icon-54-8.svg) no-repeat scroll 0 0;
  background-size: cover;
}
.ag-feature_title-2:before {
  background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/icon-54-9.svg) no-repeat scroll 0 0;
  background-size: cover;
}
.ag-feature_title-3:before {
  background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/icon-54-10.svg) no-repeat scroll 0 0;
  background-size: cover;
}
.ag-feature_title-4:before {
  background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_images/icon-54-11.svg) no-repeat scroll 0 0;
  background-size: cover;
}
.ag-feature_text {
  line-height: 1.45;

  font-size: 16px;
  color: #191F3D;
}

.ag-feature_bg {
  opacity: 0;

  position: absolute;
  left: 50%;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.ag-feature_bg-1 {
  top: -120px;
  width: 1820px;
  height: 1059px;
  margin-left: -910px;
  background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/scroll-items/images/bg-1.png) 50% top no-repeat;

  -webkit-transform: translate(-40px, 40px);
  -moz-transform: translate(-40px, 40px);
  -ms-transform: translate(-40px, 40px);
  -o-transform: translate(-40px, 40px);
  transform: translate(-40px, 40px);
}
.ag-feature_bg-2 {
  top: -40px;
  width: 2818px;
  height: 710px;
  margin-left: -1409px;
  background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/scroll-items/images/bg-2.png) 50% top no-repeat;

  -webkit-transform: translate(-180px, 180px);
  -moz-transform: translate(-180px, 180px);
  -ms-transform: translate(-180px, 180px);
  -o-transform: translate(-180px, 180px);
  transform: translate(-180px, 180px);
}
.ag-feature_bg-3 {
  top: -260px;
  width: 2474px;
  height: 900px;
  margin-left: -1237px;
  background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/scroll-items/images/bg-3.png) 50% top no-repeat;

  -webkit-transform: translate(-300px, 300px);
  -moz-transform: translate(-300px, 300px);
  -ms-transform: translate(-300px, 300px);
  -o-transform: translate(-300px, 300px);
  transform: translate(-300px, 300px);
}
.ag-feature_bg-4 {
  top: -330px;
  width: 2594px;
  height: 989px;
  margin-left: -1297px;
  background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/scroll-items/images/bg-4.png) 50% top no-repeat;

  -webkit-transform: translate(200px, -200px);
  -moz-transform: translate(200px, -200px);
  -ms-transform: translate(200px, -200px);
  -o-transform: translate(200px, -200px);
  transform: translate(200px, -200px);
}
.js-ag-active .ag-feature_bg {
  opacity: 1;

  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

@-webkit-keyframes an-show {
  0% {
    opacity: 0;

    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;

    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes an-show {
  0% {
    opacity: 0;

    -moz-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;

    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes an-show {
  0% {
    opacity: 0;

    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;

    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes an-show {
  0% {
    opacity: 0;

    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;

    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-feature_title-box,
  .ag-feature-block-2 .ag-feature_title-box {
    float: none;
    width: auto;
    padding: 0 0 20px;
  }

  .ag-feature_title-box {
    -webkit-transform: translateY(35px);
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -o-transform: translateY(35px);
    transform: translateY(35px);
  }
}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
