.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}
.ag-cloud-block {
  height: 480px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-cloud/images/cloud.jpg) repeat-x scroll 50% 100% #309dc2;

  position: absolute;
  left: 0;
  right: 0;

  -webkit-animation: an-animate-cloud 30s linear infinite;
  -moz-animation: an-animate-cloud 30s linear infinite;
  -ms-animation: an-animate-cloud 30s linear infinite;
  -o-animation: an-animate-cloud 30s linear infinite;
  animation: an-animate-cloud 30s linear infinite;
}
.ag-cloud_img-box {
  padding: 75px 0 0;
}
.ag-cloud_img {
  display: inline-block;
  width: 350px;
  margin: 75px 0 0;

  -webkit-animation: an-animate-bot 3s ease-in-out infinite;
  -moz-animation: an-animate-bot 3s ease-in-out infinite;
  -ms-animation: an-animate-bot 3s ease-in-out infinite;
  -o-animation: an-animate-bot 3s ease-in-out infinite;
  animation: an-animate-bot 3s ease-in-out infinite;
}
@-webkit-keyframes an-animate-cloud {
  from {
    background-position: 1000px 100%
  }
  to {
    background-position: 0 100%
  }
}
@-moz-keyframes an-animate-cloud {
  from {
    background-position: 1000px 100%
  }
  to {
    background-position: 0 100%
  }
}
@-ms-keyframes an-animate-cloud {
  from {
    background-position: 1000px 100%
  }
  to {
    background-position: 0 100%
  }
}
@-o-keyframes an-animate-cloud {
  from {
    background-position: 1000px 100%
  }
  to {
    background-position: 0 100%
  }
}
@keyframes an-animate-cloud {
  from {
    background-position: 1000px 100%
  }
  to {
    background-position: 0 100%
  }
}

@-webkit-keyframes an-animate-bot {
  from {
    margin-top: 0
  }
  50% {
    margin-top: 10px
  }
  to {
    margin-top: 0
  }
}
@-moz-keyframes an-animate-bot {
  from {
    margin-top: 0
  }
  50% {
    margin-top: 10px
  }
  to {
    margin-top: 0
  }
}
@-ms-keyframes an-animate-bot {
  from {
    margin-top: 0
  }
  50% {
    margin-top: 10px
  }
  to {
    margin-top: 0
  }
}
@-o-keyframes an-animate-bot {
  from {
    margin-top: 0
  }
  50% {
    margin-top: 10px
  }
  to {
    margin-top: 0
  }
}
@keyframes an-animate-bot {
  from {
    margin-top: 0
  }
  50% {
    margin-top: 10px
  }
  to {
    margin-top: 0
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
